<template>
	<view class="topicinfo">
		<block v-if="info.is_audit==1">
			<view class="topicimg" :style="'background-image:url('+info.pic_url+')'" @click="goInfo">
				<!-- <view class="topicinfo">
					<view class="f-16 topicbkname">#{{info.name}}#</view>
				</view> -->
				<view class="topicinfo">
					<view class="topictitlebox">
						<image src="/static/images/topicj.png" class="topicj"></image>
						<view class="text-c">{{info.name}}</view>
					</view>
				</view>
			</view>
			<view class="pd-30" style="background-color: #FFFFFF;">
				<view class="f-13 mb-10" v-if="info.remark">{{info.remark}}</view>
				<view class="f-12 c-gray">发起人：{{info.user.user_name}}</view>
				<view class="f-12 c-gray">
					<span v-if="info.read_num>0">阅读：{{info.read_num}}</span>
					<span v-if="info.recom_num>0">讨论：{{info.recom_num>0}}</span>
				</view>
			</view>
		</block>
		<view class="topic_listop">
			<view class="flex-1 f-15 ellipsis f-w">#{{info.name}}#</view>
			<view class="f-12">·{{total}}条内容</view>
		</view>

		<view class="mt-10" v-for="(itema,indexa) in list" :key="indexa">
			<view class="waterfall">
				<view class="listbox">
					<view class="leftbox">
						<view class="mb-10" v-for="(item,index) in itema" :key="item.id" v-if="index%2==0">
							<view @click="goBbsinfo(item.id,item.post_id,item.title,item.url,index)">
								<view class="pic-box">
									<image class="pic" :src="item.cover?item.cover:item.image[0]" mode="widthFix">
									</image>
									<image v-if="item.ranking_img" class="topic_rank" :src="item.ranking_img">
									</image>
									<image class="img_sign" v-if="item.is_essence==1"
										src="/static/images/elite_sign_home.png">
									</image>
									<image class="img_sign" v-if="item.is_essence==2"
										src="/static/images/active_sign_home.png"></image>
									<image class="img_sign" v-if="item.is_essence==3"
										src="/static/images/hot_sign_home.png">
									</image>
									<image class="img_sign" v-if="item.is_essence==4"
										src="/static/images/question_sign_home.png"></image>
								</view>
								<view class="f-12 topictitle bkc-fff">{{item.title}}</view>
							</view>
							<view class="topic_list_member">
								<view style="display: flex;flex: 1;align-items: center;">
									<view class="memberpic">
										<image class="member-pic"
											:src="item.user.headimg_url?item.user.headimg_url:'/static/images/default.png'"
											mode="aspectFill"></image>
										<image class="avatarborder" src="/static/images/border.gif"
											v-if="item.user.auth.is_audit==1"></image>
									</view>
									<span class="f-12 c-gray ellipsis ml-10">{{item.user.user_name}}</span>
								</view>
								<view style="float: right;"
									@click="praise(item.id,item.post_id,item.is_praise,item.topic_type,index)">
									<image class="collectpic"
										:src="item.is_praise==0?'/static/images/collect.png':'/static/images/collect_have.png'">
									</image>
									<span class="f-12 c-gray">{{item.praise_num>0?item.praise_num:''}}</span>
								</view>
							</view>
						</view>
					</view>
					<view class="rightbox">
						<view class="mb-10" v-for="(item,index) in itema" :key="item.id" v-if="index%2!=0">
							<view @click="goBbsinfo(item.id,item.post_id,item.title,item.url,index)">
								<view class="pic-box">
									<image class="pic" :src="item.cover?item.cover:item.image[0]" mode="widthFix">
									</image>
									<image v-if="item.ranking_img" class="topic_rank" :src="item.ranking_img">
									</image>
									<image class="img_sign" v-if="item.is_essence==1"
										src="/static/images/elite_sign_home.png">
									</image>
									<image class="img_sign" v-if="item.is_essence==2"
										src="/static/images/active_sign_home.png"></image>
									<image class="img_sign" v-if="item.is_essence==3"
										src="/static/images/hot_sign_home.png">
									</image>
									<image class="img_sign" v-if="item.is_essence==4"
										src="/static/images/question_sign_home.png"></image>
								</view>
								<view class="f-12 topictitle bkc-fff">{{item.title}}</view>
							</view>
							<view class="topic_list_member">
								<view style="display: flex;flex: 1;align-items: center;">
									<view class="memberpic">
										<image class="member-pic"
											:src="item.user.headimg_url?item.user.headimg_url:'/static/images/default.png'"
											mode="aspectFill"></image>
										<image class="avatarborder" src="/static/images/border.gif"
											v-if="item.user.auth.is_audit==1"></image>
									</view>
									<span class="f-12 c-gray ellipsis ml-10">{{item.user.user_name}}</span>
								</view>
								<view style="float: right;"
									@click="praise(item.id,item.post_id,item.is_praise,item.topic_type,index)">
									<image class="collectpic"
										:src="item.is_praise==0?'/static/images/collect.png':'/static/images/collect_have.png'">
									</image>
									<span class="f-12 c-gray">{{item.praise_num>0?item.praise_num:''}}</span>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="loading" v-if="showLoading" style="padding-bottom:30rpx;">
			<image class="gif" src="../../static/images/loading_lexus.gif"></image>
		</view>
		<view class="loading" v-else style="padding-bottom:30rpx;">
			<view class="f-12 c-gray text-c pd-20">已加载全部</view>
		</view>
		<view class="mastbar">
			<view class="mastbar_post" @click="posted" v-if="info.is_official==0">
				<image class="release" src="../../static/images/write.png"></image>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getTopicInfo,
		getTopicBbs,
		bbsPraise,
		articlePraise,
		getActiveinfo,
		getMemberInfo,
		noticeTemplate
	} from '../../api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				total: 0,
				topicname: '',
				showLoading: true,
				list: [],
				shareInfo: '',
				showBackMap: false,
				showPost: true,
				bbs_edit_status: 1,
				hid: 0,
				activeinfo: ''
			};
		},
		onShow() {
			if (uni.getStorageSync('onlist')) {
				this.showLoading = true
				this.getTopicBbs()
				uni.removeStorage({
					key: 'onlist'
				})
			}
		},
		onLoad(options) {
			this.id = options.scene
			if (options.hid) {
				this.hid = options.hid
				if (options.hid > 0) {
					this.showBackMap = true
				} else {
					this.showBackMap = false
				}
				this.getActiveinfo()
			}
			this.getTopicInfo()
			this.getTopicBbs()
			var params = {
				event_code: '专题详情',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/topicinfo/topicinfo',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
				source: 9,
				source_page: ''
			}
			app.BurialPoint(params)
		},
		methods: {
			getTopicInfo() {
				getTopicInfo({
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
				}, this.id).then(res => {
					if (res.state == 1) {
						this.info = res.data
						if (res.data.is_official == 1) {
							if (res.data.h_u_status > 0) {
								this.showPost = true
							} else {
								this.showPost = false
							}
						} else {
							this.showPost = true
						}
					}
				})
			},
			getTopicBbs() {
				getTopicBbs({
					cid: 4,
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					topic_id: this.id
				}).then(res => {
					if (res.state == 1) {
						this.list = res.data.info
						this.total = res.data.num
						this.showLoading = false
					}
				})
			},
			goBbsinfo(bid, pid, title, url, index) {
				if (pid) {
					uni.navigateTo({
						url: '/pages/article/article?scene=' + pid
					})
				} else {
					uni.navigateTo({
						url: '/pages/articleinfo/articleinfo?scene=' + bid
					})
				}
			},
			praise(bid, pid, is_praise, topic_type, index) {
				if (uni.getStorageSync('access_token')) {
					var type = is_praise == 0 ? 1 : 0
					if (pid) {
						articlePraise({
							id: pid,
							type: type
						}).then(res => {
							if (res.state == 1) {
								this.list[topic_type][index].is_praise = type
								if (type == 1) {
									this.list[topic_type][index].praise_num = this.list[topic_type][index]
										.praise_num + 1
								} else {
									this.list[topic_type][index].praise_num = this.list[topic_type][index]
										.praise_num - 1
								}
							}
						})
					} else {
						bbsPraise({
							id: bid,
							type: type
						}).then(res => {
							if (res.state == 1) {
								this.list[topic_type][index].is_praise = type
								if (type == 1) {
									this.list[topic_type][index].praise_num = this.list[topic_type][index]
										.praise_num + 1
								} else {
									this.list[topic_type][index].praise_num = this.list[topic_type][index]
										.praise_num - 1
								}
							}
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			getActiveinfo() {
				getActiveinfo({
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
				}, this.hid).then(res => {
					if (res.state == 1) {
						this.bbs_edit_status = res.data.data.bbs_edit_status
						this.activeinfo = res.data.data
					}
				})
			},
			posted() {
				var that=this
				if (uni.getStorageSync('access_token')) {
					getMemberInfo({
						media_id: 6
					}, that.hid).then(res => {
						if (res.state == 1) {
							uni.setStorage({
								key: 'member',
								data: res.data,
							});
							var stop_status = res.data.stop_status
							if (stop_status == 0) {
								var params = {
									id: that.id,
								}
								if (that.info.name) {
									params.name = that.info.name
								} else {
									params.name = that.topicname
								}
								uni.setStorage({
									key: 'namelist',
									data: [params],
								})
								
								if (uni.getStorageSync('member').stop_status == 0) {
									// #ifdef  MP-WEIXIN
									uni.requestSubscribeMessage({
										tmplIds: ['MtJK_86rvD2wzIa4igTRe9j6VOgdkJf-TR8vL1HPtF0',
											'rZc2hiIzeF_f_NCZXbqmw_CGnbxOepVaAlKE_VjCcRw'
										],
										success: function(res) {
											noticeTemplate({
												template_type: 1
											}).then(res => {
												if (res.state == 1) {
													uni.navigateTo({
														url: '/pages/post/post?hid=' + that.hid
													})
												} else {
								
												}
											})
										},
										file: function(e) {
											console.log(e)
										}
									})
									// #endif
									// #ifndef  MP-WEIXIN
									uni.navigateTo({
										url: '/pages/post/post?hid=' + that.hid
									})
									// #endif
								} else {
									uni.showToast({
										title: uni.getStorageSync('member').stop_time,
										icon: 'none',
										mask: true,
										duration: 1500
									})
								}
							} else {
								uni.showModal({
									content: res.data.stop_time,
									confirmText: "确定",
									confirmColor: "#605C6B",
									showCancel: false,
									success: function(res) {
										console.log(res);
									}
								});
							}
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		},
		onPullDownRefresh() {
			this.getTopicBbs()
			uni.stopPullDownRefresh()
		},
		onShareAppMessage() {
			app.getShareTask('/pages/topicinfo/topicinfo')
			return {
				title: this.info.name ? this.info.name : '',
				imageUrl: this.info.pic_url ? this.info.pic_url : ''
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F1F1F1;
	}

	.topicinfo {
		.topicimg {
			width: 100%;
			height: 460rpx;
			color: #fff;
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		.topicinfo {
			padding-top: 25%;
			text-align: center;
			display: flex;
			justify-content: center;
		}

		.topictitlebox {
			display: flex;
			align-items: center;
			background-color: #fff;
			padding: 5rpx 20rpx 5rpx 5rpx;
			height: 48rpx;
			color: #605C6B;
			justify-content: center;
		}

		.topicj {
			width: 48rpx;
			height: 48rpx;
			margin-right: 8rpx;
		}

		.topicbkname {
			color: #000;
			background-color: #fff;
			opacity: 0.7;
			padding: 2rpx 10rpx;
			font-weight: bold;
		}

		.topic_listop {
			display: flex;
			align-items: center;
			padding: 30rpx;
			background-color: #FFFFFF;
			margin-top: 20rpx;
		}

		.waterfall {

			.listbox {
				width: 100%;
				display: flex;
			}

			.leftbox {
				width: 50%;
				float: left;
				border-left: 20rpx solid #f1f1f1;
				border-right: 10rpx solid #f1f1f1;
				border-bottom: 20rpx solid #f1f1f1;
			}

			.rightbox {
				width: 50%;
				float: left;
				border-left: 10rpx solid #f1f1f1;
				border-right: 20rpx solid #f1f1f1;
				border-bottom: 20rpx solid #f1f1f1;
			}

			.pic-box {
				object-fit: cover;
				position: relative;
				background-color: #FFFFFF;
				// border-top-left-radius: 16rpx;
				// border-top-right-radius: 16rpx;
			}

			.pic {
				width: 100%;
				max-height: 500rpx;
				// border-top-left-radius: 16rpx;
				// border-top-right-radius: 16rpx;
			}

			.img_sign {
				width: 80rpx;
				height: 50rpx;
				left: 0;
				top: 0;
				position: absolute;
			}

			.topictitle {
				padding: 10rpx 20rpx;
			}

			.bkc-fff {
				background-color: #fff;
			}

			.topic_list_member {
				// border-bottom-right-radius: 16rpx;
				padding: 10rpx 20rpx 20rpx 20rpx;
				background-color: #FFFFFF;
				display: flex;
				align-items: center;

				.memberpic {
					position: relative;
					width: 40rpx;
					height: 40rpx;
				}

				.member-pic {
					width: 40rpx;
					height: 40rpx;
				}

				.avatarborder {
					width: 40rpx;
					height: 40rpx;
					position: absolute;
					right: 0;
				}

				.collectpic {
					width: 30rpx;
					height: 30rpx;
					padding: 10rpx;
					vertical-align: middle;
					background: transparent;
				}
			}

			.bbs_wask {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.5);
			}

			.btr-16 {
				border-top-left-radius: 16rpx;
				border-top-right-radius: 16rpx;
			}

			.video_icon {
				width: 36rpx;
				height: 40rpx;
				position: absolute;
				top: 42%;
				left: 45%;
			}

			.articletype {
				width: 64rpx;
				height: 34rpx;
				float: right;
				right: 10rpx;
				top: 10rpx;
				position: absolute;
			}

			.picicon {
				width: 60rpx;
				height: 30rpx;
				float: right;
				border-radius: 8rpx;
				right: 10rpx;
				bottom: 10rpx;
				position: absolute;
				font-size: 18rpx;
				color: #fff;
				background-color: rgba(30, 42, 116, 0.5);
				text-align: center;
				display: flex;
				justify-content: center;
			}

			.topicimg {
				height: 460rpx;
				color: #fff;
				position: relative;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 16rpx;
				/* background-position: center; */
				object-fit: cover;
			}

			.topicinfod {
				text-align: center;
				display: flex;
				justify-content: center;
				padding: 50% 10rpx;
			}

			.topicinfo {
				text-align: center;
				display: flex;
				justify-content: center;
				padding: 26% 10rpx;
			}

			.topicbkname {
				color: #000;
				background-color: #fff;
				opacity: 0.7;
				padding: 2rpx 10rpx;
				font-weight: bold;
			}

			.price {
				color: #d34f4f;
				font-weight: bold;
			}
		}

		.mastbar {
			position: fixed;
			bottom: 200rpx;
			right: 20rpx;

		}

		.mastbar_map {
			width: 120rpx;
			height: 120rpx;
			background: #3a3a3a;
			border-radius: 100rpx;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.backmap {
			width: 105rpx;
			height: 105rpx;
			border-radius: 100rpx;
		}

		.mastbar_post {
			width: 120rpx;
			height: 120rpx;
			background: #3a3a3a;
			border-radius: 100rpx;
			color: #fff;
			text-align: center;
			margin-top: 30rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.release {
			width: 40rpx;
			height: 44rpx;
		}
	}
</style>
