<template>
	<web-view :src="weburl"></web-view>
</template>

<script>
	export default {
		data() {
			return {
				weburl: '',
				source: 9
			};
		},
		onShow() {

		},
		onLoad(options) {
			var that = this
			var scene = decodeURIComponent(options.scene)
			var list = scene.split('-');
			var weburl = list[0]
			var otherid = list[1]
			console.log(weburl)
			uni.getSystemInfo({
				success: function(res) {
					console.log(res)
					// #ifdef APP-PLUS
					if (res.platform == 'ios') {
						var source = 6
					} else {
						var source = 8
					}
					// #endif
					// #ifdef MP-WEIXIN
					var source = 9
					// #endif
					// #ifdef MP-TOUTIAO
					var source = 17 + '-toutiao'
					// #endif
					// #ifdef MP-BAIDU
					var source = 18 + '-baidu'
					// #endif
					that.source = source
					that.weburl = weburl + "?token=" + uni.getStorageSync('access_token') + "&source=" +
						source + "&userid=" + uni
						.getStorageSync('member').id
					console.log(that.weburl)
				}
			});


		},
		methods: {

		}
	}
</script>

<style lang="scss">

</style>
