<template>
	<view class="post">
		<!-- <uni-nav-bar left-icon="back" title="发表动态" :statusBar="true" :fixed="true" @clickLeft="goBack"></uni-nav-bar> -->
		<view class="post_title">
			<textarea :value="title" placeholder="请填写标题" @input="bindTitle" style="height: 80px;" />
		</view>
		<view class="post_content">
			<textarea :value="content" maxlength='5000' placeholder="请填写内容" @input="bindContent"
				:style="'height:'+postHeight+'px'" />
		</view>
		<view class="picbox" :style="'bottom:' +picbottomheight+'rpx;'">
			<view class="weui-grids">
				<block v-for="(item,index) in files" :key="index">
					<view class="weui-grid">
						<image class="weui-grid__icon" :src="item" mode="aspectFill" />
						<image class="delpic" src="/static/images/delpic.png" @click="delpic(index)"></image>
					</view>
				</block>
			</view>
		</view>
		<view class="bottombox" :style="'padding-bottom:'+ bottomheight+'px;'">
			<!-- <view class="tpoic_box">
				<span class="f-12 c-gray ml-30">关联专题</span>
				<span class="weui-badge ml-10" @click="showTopic?'delTopic':''" v-for="(item,index) in topicname"
					v-if="index<1">#{{item.name}}#</span>
				<span class="weui-badge ml-10" @click="showTopic?'delTopic':''" v-if="topicname.length>1">...</span>
				<span class="weui-badged ml-10" v-if="topicname.length==0">#暂时没有选择专题#</span>
			</view> -->
			<view class="pdtop">
				<view class="flex-1">
					<image class="post_pic ml-25" src="/static/images/post_pic.png" @click="chooseImg"></image>
					<!-- <image class="post_pic" src="/images/post_video.png"></image> -->
					<!-- <image class="post_pic" src="/images/post_topic.png" @click="chooseTopic" v-if="showTopic"></image> -->
				</view>
				<view class="btn-save mr-15" @click="posted">发表</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		checkText,
		postBbs
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				topicname: [],
				showTopic: true,
				bottomheight: '',
				title: '',
				content: '',
				images: '',
				cover: '',
				topics: '',
				h_id: '',
				picbottomheight: 120,
				count: 9,
				files: [],
				images_url: [],
				images: [],
				postHeight: 200,
				is_post: true
			};
		},
		onLoad(options) {
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.id = list[0]

			if (options.hid) {
				this.hid = options.hid
			}
			var params = {
				event_code: '发帖',
				path: 'pages/post/post',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				event_id: '',
				title: '',
				invitees_scene_id: '',
				source_page: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		onShow() {
			var that = this
			uni.getSystemInfo({
				success: function(res) {
					that.windowHeight = res.windowHeight
					if (res.statusBarHeight > 30) {
						that.bottomheight = 32
						that.picbottomheight = 150

					}
					that.textareaHeight()
				}
			});
			uni.getStorage({
				key: 'namelist',
				success: function(res) {
					var topicname = res.data.concat(that.topicname)
					var namelist = new Array();
					var topics = []
					for (var i = 0, len = topicname.length; i < len; i++) {
						for (let j = i + 1; j < len; j++) {
							if (topicname[i].id == topicname[j].id) {
								topicname.splice(j, 1);
								// splice 会改变数组长度，所以要将数组长度 len 和下标 j 减一
								len--;
								j--;
							}
						}
					}
					for (var i = 0; i < topicname.length; i++) {
						topics.push(topicname[i].id)
					}

					that.topics = topics
					that.topicname = topicname

					uni.removeStorage({
						key: 'namelist',
						success: function(res) {},
					})
				},
			})
		},
		methods: {
			bindTitle(e) {
				this.title = e.detail.value
			},
			bindContent(e) {
				this.content = e.detail.value
			},

			chooseImg() {
				var that = this
				if (that.count > 0) {
					uni.chooseImage({
						count: that.count,
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						success: function(res) {
							var tempFilePaths = res.tempFilePaths
							that.files.push.apply(that.files, res.tempFilePaths)
							that.images = []
							that.images_url = []
							var files = that.files
							that.uploadImage(files, 0)
						}
					});
				} else {
					uni.showToast({
						title: '最多上传9张图片',
						icon: 'none',
						mask: true,
						duration: 1500
					})
				}
			},
			uploadImage(files, i) {
				var i
				uni.uploadFile({
					// url: '',
					url: app.globalData.uploadUrl,
					filePath: files[i],
					name: 'img',
					success: (res) => {
						console.log(JSON.parse(res.data));
						var images_url = this.images_url
						var images = this.images
						var picdata = JSON.parse(res.data);
						images_url.push(picdata.data.img_url);
						images.push(picdata.data.img);
						var count = images_url.length;

						this.count = 9 - count
						this.images = images
						this.images_url = images_url
						console.log('images_url.length===' + images_url.length)
						i++
						if (i < files.length) {
							this.uploadImage(files, i)
						} else {
							uni.hideToast();
						}
						this.textareaHeight()
					}
				});
			},

			posted() {
				if (this.is_post) {
					this.is_post = false
					if (this.title == '' && this.content == '') {
						uni.showToast({
							title: '请填写标题和内容',
							icon: 'none',
							duration: 1500
						})
						this.is_post = true
					} else {
						checkText({
							content: this.content
						}).then(res => {
							if (res.state == 1) {
								var params = {
									cid: 4,
									title: this.title,
									content: this.content,
									images: this.images,
									cover: this.cover,
									topics: this.topics,
									h_id: this.h_id,
								}
								postBbs(params).then(res => {
									if (res.state == 1) {
										this.is_post = false
										uni.setStorage({
											key: 'onlist',
											data: true,
										});
										uni.navigateBack({
											delta: 1
										})
									} else {
										uni.showToast({
											title: res.data.error[0],
											icon: 'none',
											duration: 1500
										});
									}
								})
							} else {
								uni.showToast({
									title: res.error[0],
									mask: true,
									icon: 'none',
									duration: 1500
								});
							}

						})
					}
				}

			},
			textareaHeight() {
				var that = this
				var windowHeight = that.windowHeight
				var query = uni.createSelectorQuery().in(this)
				var postitle, picbox, bottombox
				query.select('.post_title').boundingClientRect(data => {
					postitle = data.height
				}).exec();
				query.select('.picbox').boundingClientRect(data => {
					picbox = data.height
				}).exec();
				query.select('.bottombox').boundingClientRect(data => {
					bottombox = data.height
				}).exec();

				setTimeout(function() {
					var postHeight = windowHeight - postitle - picbox - bottombox
					console.log('postHeight===' + postHeight)
					that.postHeight = windowHeight - postitle - picbox - bottombox - 100
				}, 1500)
			},
			delpic(index) {
				var that = this
				uni.showModal({
					content: '确定要删除这张图片吗？',
					confirmText: '删除',
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							that.images_url.splice(index, 1);
							that.images.splice(index, 1);
							that.files.splice(index, 1);
							that.count = images_url.length;

							that.textareaHeight()
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			goBack() {
				uni.navigateBack({
					delta: 1
				})
			}
		}
	}
</script>

<style lang="scss">
	.post {
		.uni-navbar__header-btns-left {
			width: 150rpx !important;
		}

		.post_title {
			padding: 15px;
			font-size: 14px;
		}

		.post_content {
			font-size: 14px;
			padding: 15px;
			border-top: 10px solid #f8f8f8;
		}

		textarea {
			width: 100%;
		}

		.bottombox {
			width: 100%;
			position: fixed;
			bottom: 0;
			background-color: #fff;
			padding: 20rpx 0;
			z-index: 10001;

			.tpoic_box {
				margin-left: 15px;

				.weui-badge {
					display: inline-block;
					padding: 5rpx 20rpx;
					min-width: 8px;
					border-radius: 2px;
					background-color: #f3f9ff;
					color: #728fc4;
					line-height: 1.2;
					text-align: center;
					font-size: 24rpx;
					vertical-align: middle;
				}

				.weui-badged {
					display: inline-block;
					padding: 5rpx 20rpx;
					min-width: 8px;
					border-radius: 2px;
					background-color: #f8f8f8;
					color: #9a9a9a;
					line-height: 1.2;
					text-align: center;
					font-size: 24rpx;
					vertical-align: middle;
				}
			}

			.pdtop {
				padding-top: 20rpx;
				border-top: 2rpx solid #eaeaea;
				display: flex;
				align-items: center;

				.post_pic {
					width: 40rpx;
					height: 40rpx;
					margin-right: 80rpx;
					vertical-align: middle;
				}

				.btn-save {
					color: #fff;
					background-color: #605C6B;
					font-weight: normal;
					border-radius: 5rpx;
					font-size: 24rpx !important;
					float: right;
					border: none;
					padding: 16rpx 50rpx;
				}
			}
		}

		.picbox {
			position: fixed;
			width: 100%;
			background-color: #fff;

			.weui-grids {
				overflow: hidden;

				.weui-grid {
					position: relative;
					float: left;
					width: 33.33333333%;
					box-sizing: border-box;
					border-right: none;
					border-bottom: none;
					padding: 12rpx 0;
					width: 190rpx;

					.weui-grid__icon {
						width: 160rpx;
						height: 160rpx;
						margin: 0 auto;
						display: block;
					}

					.delpic {
						width: 28rpx;
						height: 28rpx;
						position: absolute;
						right: -10rpx;
						top: -10rpx;
						padding: 30rpx;
					}
				}
			}
		}
	}
</style>
