<template>
	<view class="memberinfo">
		<view class="memberinfo_cell" @click="chooseImage">
			<view class="memberinfo_title">头像</view>
			<view style="flex: 1;">
				<image class="avatar" :src="info.avatar?info.avatar:'../../static/images/default.png'"></image>
			</view>
		</view>
		<view class="memberinfo_cell">
			<view class="memberinfo_title">昵称</view>
			<input @input="changeName" class="inputText" type="text" :value="info.username" placeholder="请输入昵称" />
		</view>
		<view class="memberinfo_cell">
			<view class="memberinfo_title">性别</view>
			<view style="flex: 1;">
				<picker @change="bindPickerChange" :value="sexIndex" :range="sex">
					<view class="inputText">{{sex[sexIndex]}}</view>
				</picker>
			</view>
			<uni-icons type="arrowright" color="#9a9a9a" size="18"></uni-icons>
		</view>
		<view class="memberinfo_cell">
			<view class="memberinfo_title">家乡</view>
			<view style="flex: 1;">
				<!-- #ifdef MP -->
				<picker @change="bindRegionChange" :value="region" mode='region'>
					<view class="inputText" v-if="region">{{region[0]}}，{{region[1]}}，{{region[2]}}</view>
					<view class="inputText" v-else>请选择家乡</view>
				</picker>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view @click="showPopdd()">
					<view class="inputText" v-if="region">{{region[0]}}，{{region[1]}}，{{region[2]}}</view>
					<view class="inputText" v-else>请选择家乡</view>
				</view>
				<!-- #endif -->
			</view>
			<uni-icons type="arrowright" color="#9a9a9a" size="18"></uni-icons>
		</view>
		<view class="memberinfo_cell">
			<view class="memberinfo_title">签名</view>
			<input @input="changeIntor" :value="info.intro" class="inputText" type="text" placeholder="请输入签名" />
		</view>
		<view class="memberinfo_cell">
			<view class="memberinfo_title" style="flex: 1;">注册时间</view>
			<view class="inputText c-gray">{{info.reg_time}}</view>
		</view>
		<view v-if="chooseForm" class="btn_block" @click="saveMemberInfo">保存</view>
		<block v-if="showPop">
			<view class="mask_box" @click="closePop"></view>
			<view class="cityBottom">
				<view class="text-c f-16">选择地区</view>
				<view class="choose_active">
					<span>{{provinceName}}</span>
					<span class="ml-10">{{cityName}}</span>
					<span class="ml-10">{{areaName}}</span>
				</view>
				<view class="city_box">
					<view @click="changeP(item.id,item.val,index)" v-if="showP" class="city_list"
						v-for="(item,index) in plist" :key="item.id">
						<view>{{item.val}}</view>
					</view>
					<view @click="changeC(item.id,item.val,index)" v-if="showC" class="city_list"
						v-for="(item,index) in clist" :key="item.id">
						<view>{{item.val}}</view>
					</view>
					<view @click="changeA(item.id,item.val,index)" v-if="showA" class="city_list"
						v-for="(item,index) in alist" :key="item.id">
						<view>{{item.val}}</view>
					</view>
				</view>
			</view>
		</block>
	</view>
</template>

<script>
	import {
		getMemberInfo,
		saveMemberInfo,
		getAreaList
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				info: '',
				sex: ['未知', '男', '女'],
				sexIndex: 0,
				region: ['* 省', '* 市', '* 区'],
				regioncode: [],
				avatarname: '',
				chooseForm:false,
				showPop:false,
				showP: true,
				showC: false,
				showA: false,
				plist: [],
				clist: [],
				alist: [],
				provinceName: '',
				cityName: '',
				areaName: ''
			};
		},
		onLoad() {
			this.getAreaList()
			this.getMemberInfo()
			var params = {
				event_code: '用户信息',
				path: 'pages/memberinfo/memberinfo',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		methods: {
			getAreaList() {
				getAreaList().then(res => {
					if (res.state == 1) {
						this.plist = res.data
					} else {
			
					}
				})
			},
			
			showPopdd() {
				this.showPop = true
				this.showP = true
				this.showC = false
				this.showA = false
				this.provinceName = ''
				this.cityName = ''
				this.areaName = ''
			},
			closePop() {
				if (this.info.province) {
					this.regioncode = [this.info.province.id, this.info.city.id, this.info.district.id]
					this.region = [this.info.province.name, this.info.city.name, this.info.district.name]
					this.showPop = false
				} else {
					this.regioncode = []
					this.region = ['* 省', '* 市', '* 区']
					this.showPop = false
				}
				this.showP = true
				this.showC = false
				this.showA = false
				this.provinceName = ''
				this.cityName = ''
				this.areaName = ''
			},
			changeP(id, name, index) {
				this.regioncode[0] = id
				this.regioncode[1] = 0
				this.regioncode[2] = 0
				this.region[0] = name
				this.region[1] = ''
				this.region[2] = ''
				this.provinceName = name
				this.cityName = ''
				this.areaName = ''
				this.clist = this.plist[index].data
				this.showP = false
				this.showC = true
				this.showA = false
			},
			changeC(id, name, index) {
				this.regioncode[1] = id
				this.regioncode[2] = 0
				this.region[1] = name
				this.region[2] = ''
				this.cityName = name
				this.areaName = ''
				this.alist = this.clist[index].data
				this.showP = false
				this.showC = false
				this.showA = true
			},
			changeA(id, name, index) {
				this.regioncode[2] = id
				this.region[2] = name
				this.areaName = name
				this.showPop = false
				this.showP = true
				this.showC = false
				this.showA = false
				this.chooseForm = true
			},
			getMemberInfo() {
				if (uni.getStorageSync('access_token')) {
					getMemberInfo({
						source: getApp().globalData.source,
						media_id: 6
					}).then(res => {
						if (res.state == 1) {
							uni.setStorage({
								key: 'member',
								data: res.data,
							});
							this.info = res.data
							this.sexIndex = res.data.sex
							if (res.data.province) {
								this.regioncode = [res.data.province.id, res.data.city.id, res.data.district.id]
								this.region = [res.data.province.name, res.data.city.name, res.data.district.name]
							} else {
								this.regioncode = []
								this.region = ['* 省', '* 市', '* 区']
							}
						} else {

						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			bindPickerChange(e) {
				this.sexIndex = e.detail.value
				this.chooseForm=true
			},
			bindRegionChange(e) {
				this.region = e.detail.value
				this.regioncode = e.detail.code
				this.chooseForm=true
			},
			changeName(e) {
				this.info.username = e.detail.value
				this.chooseForm=true
			},
			changeIntor(e) {
				this.info.intro = e.detail.value
				this.chooseForm=true
			},
			saveMemberInfo() {
				saveMemberInfo({
					source: getApp().globalData.source,
					media_id: 6,
					username: this.info.username,
					avatar: this.avatarname,
					sex: this.sexIndex,
					intro: this.info.intro,
					province_id: this.regioncode[0],
					city_id: this.regioncode[1],
					area_id: this.regioncode[2]
				}).then(res => {
					if (res.state == 1) {
						uni.showToast({
							title: '保存成功',
							icon: 'success',
							mask: true,
							duration: 1500
						})

						this.getMemberInfo()
					} else {

					}
				})
			},
			chooseImage() {
				var that = this
				uni.chooseImage({
					count: 1,
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album'], //从相册选择
					success: function(res) {
						var tempFilePaths = res.tempFilePaths
						uni.uploadFile({
							url: app.globalData.uploadUrl,
							filePath: tempFilePaths[0],
							name: 'img',
							success: (uploadFileRes) => {
								that.chooseForm=true
								console.log(JSON.parse(uploadFileRes.data));
								var picdata = JSON.parse(uploadFileRes.data);
								that.info.avatar = picdata.data.img_url
								that.avatarname = picdata.data.img
							}
						});
					}
				});
			},
		}
	}
</script>

<style lang="scss">
	.memberinfo {
		.memberinfo_cell {
			height: 140rpx;
			display: flex;
			align-items: center;
			padding: 0 30rpx;
			border-bottom: 2rpx solid #EAEAEA;

			.avatar {
				width: 100rpx;
				height: 100rpx;
				border-radius: 30px;
			}

			.memberinfo_title {
				width: 200rpx;
				font-size: 26rpx;
			}

			.inputText {
				font-size: 24rpx;
			}
		}
		.cityBottom {
			z-index: 1001;
			height: 40%;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #FFFFFF;
			border-top-right-radius: 16rpx;
			border-top-left-radius: 16rpx;
			padding: 30rpx;
		
			.choose_active {
				display: flex;
				align-items: center;
				font-size: 28rpx;
				margin: 20rpx 0;
				font-weight: 600;
			}
		
			.city_box {
				overflow-y: auto;
				height: 80%;
			}
		
			.city_list {
				font-size: 26rpx;
				border-bottom: 2rpx solid #f1f1f1;
				padding: 20rpx 0;
			}
		}
	}
</style>
