<template>
	<view class="approve">
		<view class="approve_box" @click="changeArea(1)" style="border-bottom: 1rpx solid rgba(0,0,0,.1);">
			<image class="approve_img" src="../../static/images/china.png"></image>
			<view class="text-c f-14 flex-1">中国地区
				<uni-icons type="arrowright" size="14" class="f-r"></uni-icons>
			</view>

		</view>
		<view class="approve_box" @click="changeArea(2)">
			<image class="approve_img" src="../../static/images/foregin.png"></image>
			<view class="text-c f-14 flex-1">
				海外地区<uni-icons type="arrowright" size="14" class="f-r"></uni-icons>
			</view>
		</view>
		<block v-if="showPop">
			<view class="mask_box" @click="showPop=false"></view>
			<view class="showPop_box">
				<view class="showPop_text">
					<view class="pop_bkimg">
						请准备好您的行驶证
					</view>
				</view>
				<view class="showPop_btn" @click="goCarList()">我知道了</view>
			</view>
		</block>
	</view>
</template>

<script>
	const app = getApp()
	export default {
		data() {
			return {
				showPop: false,
				type: 0
			};
		},
		onLoad(options) {
			var params = {
				event_code: '车主认证-选择国内/国外',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/motormaster/motormaster',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: 9,
				source_page: ''
			}
			app.BurialPoint(params)
		},
		methods: {
			changeArea(type) {
				this.type = type
				this.showPop = true
			},
			goCarList() {
				this.showPop = false
				uni.navigateTo({
					url: '/pages/carlist/carlist?type='+this.type
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F1F1F1;
	}

	.approve {

		.approve_box {
			padding: 30rpx;
			display: flex;
			align-items: center;
			background-color: #fff;
			position: relative;
		}

		.approve_img {
			margin-right: 30rpx;
			vertical-align: middle;
			width: 300rpx;
			height: 200rpx;
		}

		.car_point {
			color: #605C6B;
			position: absolute;
			top: 0;
			right: 20rpx;
		}
	}
</style>
