<template>
	<view class="carlist">
		<view class="car_box" v-for="(item,index) in list" :key="item.id" @click="goCarModel(item.id,item.title)">
			<view class="display_flex">
				<image class="carimg" mode="aspectFit" :src="item.pic"></image>
				</image>
				<view class="text-c f-14 flex-1">
					{{item.title}}<uni-icons type="arrowright" size="14" class="f-r"></uni-icons>
				</view>
			</view>
		</view>
		<view class="addmodels text-c" @click="showPop=true">没有我的代系，填写我的代系</view>
		<block v-if="showPop">
			<view class="mask_box" @click="showPop=false"></view>
			<view class="showPop_box">
				<view class="showPop_text">
					<view class="showPop_title mb-15">
						我的代系
					</view>

					<view class="mb-10">
						<input @input="changeCarare" class="inputText" type="text" :value="carare" placeholder="代系" />
					</view>
					<view class="mb-10">
						<input @input="changeModel" class="inputText" type="text" :value="model" placeholder="车型" />
					</view>
				</view>
				<view class="showPop_btn" @click="goCarList()">确认提交</view>
			</view>
		</block>
	</view>
</template>

<script>
	import {
		selectCar,
		selectGenera,
		selectModel
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				showPop: false,
				list: [],
				cars: '',
				carare: '',
				model: '',
				gid: 0


			};
		},
		onLoad(options) {
			this.car_id = options.id
			this.car_name = options.carname
			this.type = options.type
			this.ever = options.ever
			this.is_have_card = options.is_have_card
			this.getArealist()
			var params = {
				event_code: '车主认证-选择车系',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/carera/carera',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: 9,
				source_page: ''
			}
			app.BurialPoint(params)
		},
		methods: {
			getArealist() {
				selectGenera({
					car_id: this.car_id,
					region: this.type
				}).then(res => {
					if (res.state == 1) {
						this.list = res.data

					} else {

					}
				})
			},
			goCarModel(id, name) {
				this.gid = id
				selectModel({
					car_id: this.car_id,
					region: this.type
				}).then(res => {
					if (res.state == 1) {
						var list = res.data
						if (list.length > 0) {
							uni.navigateTo({
								url: '/pages/models/models?id=' + this.car_id + '&gid=' + id +
									'&carname=' + this.car_name + '&type=' + this.type +
									'&ever=' + this.ever + '&is_have_card=' +
									this.is_have_card,
							})
						} else {
							uni.navigateTo({
								url: '/pages/carinfo/carinfo?car_id=' + this.car_id + '&gid=' + id +
									'&model_name=' + this.car_name + '&type=' + this.type +
									'&ever=' + this.ever + '&is_have_card=' +
									this.is_have_card,
							})
						}
					} else {

					}
				})
			},

			goCarList() {
				if (this.carare == '') {
					uni.showToast({
						title: '请填写代系',
						mask: true,
						icon: 'none',
						duration: 1500
					})
				} else if (this.model == '') {
					uni.showToast({
						title: '请填写车型',
						mask: true,
						icon: 'none',
						duration: 1500
					})
				} else {
					var model_name = this.car_name + ' ' + this.model
					this.showPop = false
					uni.navigateTo({
						url: '/pages/carinfo/carinfo?model_name=' + model_name + '&type=' + this.type +
							'&car_id=' + this.car_id +
							'&car_name=' + this.car_name + '&car_generation_name=' + this.carare +
							'&car_model_name=' + this.model + '&ever=' + this.ever + '&is_have_card=' +
							this.is_have_card,
					})
				}
			},
			changeCarare(e) {
				this.carare = e.detail.value
			},
			changeModel(e) {
				this.model = e.detail.value
			},

		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F1F1F1;
	}

	.carlist {

		.car_box {
			background-color: #fff;
			padding: 30rpx;
			position: relative;
			border-bottom: 1rpx solid rgba(0, 0, 0, .1);

			.carimg {
				margin-right: 20rpx;
				vertical-align: middle;
				width: 360rpx;
				height: 160rpx;
			}

			.caricon {
				width: 34rpx;
				height: 7rpx;
			}

			.car_point {
				color: #605C6B;
				position: absolute;
				top: 0;
				right: 20rpx;
			}
		}
	}
</style>
