<template>
	<view class="carlist">
		<view class="car_box" v-for="(itemd,index) in list" :key="itemd.id" @click="goCarArea(itemd.id,itemd.title,index)">
			<view class="display_flex">
				<image class="carimg" mode="aspectFit" :src="itemd.pic"></image>
				</image>
				<view class="text-c f-14 flex-1">
					{{itemd.title}}<uni-icons type="arrowright" size="14" class="f-r"></uni-icons>
				</view>
			</view>
		</view>
		<view class="addmodels text-c" @click="showPop=true">没有我的车系，填写我的车系</view>
		<block v-if="showPop">
			<view class="mask_box" @click="showPop=false"></view>
			<view class="showPop_box">
				<view class="showPop_text">
					<view class="showPop_title mb-15">
						我的车系
					</view>
					<view class="mb-10">
						<input @input="changeCars" class="inputText" type="text" :value="cars" placeholder="车系" />
					</view>
					<view class="mb-10">
						<input @input="changeCarare" class="inputText" type="text" :value="carare" placeholder="代系" />
					</view>
					<view class="mb-10">
						<input @input="changeModel" class="inputText" type="text" :value="model" placeholder="车型" />
					</view>
				</view>
				<view class="showPop_btn" @click="goCarList()">确认提交</view>
			</view>
		</block>
	</view>
</template>

<script>
	import {
		selectCar,
		selectGenera,
		selectModel
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				showPop: false,
				list: [],
				cars: '',
				carare: '',
				model: '',
				type:1
			};
		},
		onLoad(options) {
			this.type = options.type
			this.ever = options.ever
			this.is_have_card = options.is_have_card
			this.getCarlist()
			var params = {
				event_code: '车主认证-选择车系',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/carlist/carlist',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: 9,
				source_page: ''
			}
			app.BurialPoint(params)
		},
		methods: {
			getCarlist() {
				selectCar({
					brand_id: 1,
					region: this.type
				}).then(res => {
					if (res.state == 1) {
						this.list = res.data

					} else {

					}
				})
			},
			goCarArea(car_id, name,index) {
				console.log('name======='+name)
				console.log('index======='+index)
				selectGenera({
					car_id: car_id,
					region: this.type
				}).then(res => {
					if (res.state == 1) {
						var list = res.data
						if (list.length > 0) {
							uni.navigateTo({
								url: '/pages/carera/carera?id=' + car_id + '&type=' + this.type +
									'&carname=' + name + '&ever=' + this.ever + '&is_have_card=' + this
									.is_have_card,
							})
						} else {
							this.selectModel(car_id, name)
						}
					} else {

					}
				})
			},
			selectModel(car_id, name) {
				selectModel({
					car_id: car_id,
					region: this.type
				}).then(res => {
					if (res.state == 1) {
						var list = res.data
						if (list.length > 0) {
							uni.navigateTo({
								url: '/pages/models/models?id=' + car_id + '&type=' + this.type +
									'&carname=' + name + '&ever=' + this.ever + '&is_have_card=' +
									this.is_have_card,
							})
						} else {
							uni.navigateTo({
								url: '/pages/carinfo/carinfo?car_id=' + car_id + '&model_name=' + name +
									'&type=' + this.type + '&ever=' + this.ever +
									'&is_have_card=' + this.is_have_card,
							})
						}
					} else {

					}
				})
			},
			goCarList() {
				if (this.cars == '') {
					uni.showToast({
						title: '请填写车系',
						mask: true,
						icon: 'none',
						duration: 1500
					})
				} else if (this.carare == '') {
					uni.showToast({
						title: '请填写代系',
						mask: true,
						icon: 'none',
						duration: 1500
					})
				} else if (this.model == '') {
					uni.showToast({
						title: '请填写车型',
						mask: true,
						icon: 'none',
						duration: 1500
					})
				} else {
					var model_name = this.cars + ' ' + this.model
					this.showPop = false
					uni.navigateTo({
						url: '/pages/carinfo/carinfo?model_name=' + model_name + '&type=' + this.type +
							'&car_name=' + this.cars + '&car_generation_name=' + this.carare +
							'&car_model_name=' + this.model + '&ever=' + this.ever + '&is_have_card=' +
							this.is_have_card,
					})
				}
			},
			changeCars(e) {
				this.cars = e.detail.value
			},
			changeCarare(e) {
				this.carare = e.detail.value
			},
			changeModel(e) {
				this.model = e.detail.value
			},

		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F1F1F1;
	}

	.carlist {

		.car_box {
			background-color: #fff;
			padding: 30rpx;
			position: relative;
			border-bottom: 1rpx solid rgba(0, 0, 0, .1);

			.carimg {
				margin-right: 20rpx;
				vertical-align: middle;
				width: 360rpx;
				height: 160rpx;
			}

			.caricon {
				width: 34rpx;
				height: 7rpx;
			}

			.car_point {
				color: #605C6B;
				position: absolute;
				top: 0;
				right: 20rpx;
			}
		}
	}
</style>
