<template>
	<web-view :src="weburl"></web-view>
</template>

<script>
	export default {
		data() {
			return {
				weburl: '',
				weburlold: '',
				source: 9
			};
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.weburl = this.weburlold + "?token=" + uni.getStorageSync('access_token') + "&source=" + this.source +
					"&userid=" + uni
					.getStorageSync('member').id
				uni.removeStorage({
					key: 'onload'
				})
			}
		},
		onLoad(options) {
			var that = this
			var weburl = decodeURIComponent(options.scene)
			that.weburlold = weburl
			uni.getSystemInfo({
				success: function(res) {
					// #ifdef APP-PLUS
					if (res.platform == 'ios') {
						var source = 6
					} else {
						var source = 8
					}
					// #endif
					// #ifdef MP-WEIXIN
					var source = 9
					// #endif
					// #ifdef MP-TOUTIAO
					var source = 17 + '-toutiao'
					// #endif
					// #ifdef MP-BAIDU
					var source = 18 + '-baidu'
					// #endif
					that.source = source
					if (uni.getStorageSync('access_token')) {
						that.weburl = weburl + "?token=" + uni.getStorageSync('access_token') + "&source=" +
							source + "&userid=" + uni
							.getStorageSync('member').id
					} else {
						uni.navigateTo({
							url: '/pages/login/login?type=approve'
						})
					}
				}
			});

		},
		methods: {

		}
	}
</script>

<style lang="scss">

</style>
