<template>
	<view class="articlelist">
		<tab-Bar :botheight="bottomHeight" :tabbarnum="1"></tab-Bar>
		<uni-nav-bar fixed="true" statusBar="true">
			<view class="nav-logo_box" slot="left" @click="goMember">
				<image class="navbar_logo" src="../../static/images/logo.png"></image>
			</view>
			<view class="nav_title_box" style="width: 100%;text-align: center;">
				<image class="perfect" src="../../static/images/navstudy.png"></image>
			</view>
		</uni-nav-bar>
		<view class="nav-scroll">
			<scroll-view class="scroll-view_H" :scroll-x="true" :scroll-left="navScrollLeft"
				:scroll-with-animation="true" @scrolltoupper="bindscrolltoupper" @scrolltolower="bindscrolltolower">
				<text v-for="(item,index) in channel" :key="item.id" @click="handleTap(item.id,index)"
					:class="activeIndex==index ? 'weui-bar_on' : 'nav-name'"
					v-if="item.title!='视频'">{{item.title}}</text>
				<image v-if="showWear" src="../../static/images/wear.png"
					style="width:53px;height:36px;position: fixed;right: 0;"></image>
			</scroll-view>
		</view>
		<view class="article_cell_box">
			<block v-for="(item,index) in list" :key="item.id">
				<block v-if="item.topic_info.id">
					<view @click="goTopicInfo(item.topic_info.id,item.topic_info.name)">
						<view class="topicimg" :style="'background-image:url('+item.topic_info.pic_url+')'">
							<view class="topicinfo">
								<view class="f-16 ellipsis" v-if="item.keyword">{{item.topic_info.keyword}}</view>
								<view class="f-16 ellipsis" v-else>话题</view>
								<view>——————</view>
								<view class="f-16 f-w">{{item.topic_info.name}}</view>
							</view>
						</view>
					</view>
				</block>
				<block v-else>
					<view class="article_cell_block" v-if="item.module.id==2">
						<view class="ellipsis-3 f-15 pd-30" @click="goInfo(item.id,item.title,item.link_url)">
							<block v-if="item.label">
								<span class="title-badge mr-10" v-if="item.label.name">{{item.label.name}}</span>
							</block>
							
							<span class="f-w" style="vertical-align: middle;">{{item.title}}</span>
						</view>
						<view class="pic_box" @click="showImages(index)">
							<image class="piclist" mode="aspectFill" :src="item.all_pics[0]"></image>
							<view class="piclength">{{item.all_pics.length}}P</view>
						</view>
						<view class="pd-30 f-12 c-gray display_flex">
							<view class="flex-1" @click="goInfo(item.id,item.title,item.link_url)">{{item.media.name}}
								{{item.time_format}}
							</view>
							<view class="display_flex">
								<view class="display_flex" @click="praise(item.id,item.is_praise,index)">
									<image v-if="item.is_praise==0" class="article_cell_icon"
										src="../../static/images/collect.png">
									</image>
									<image v-else class="article_cell_icon" src="../../static/images/collect_have.png">
									</image>
									<span class="ml-5">{{item.praise}}</span>
								</view>
								<view class="ml-10 display_flex">
									<image class="article_cell_icon" src="../../static/images/comment.png">
									</image>
									<span class="ml-5">{{item.reply_num}}</span>
								</view>
							</view>
						</view>
					</view>
					<view class="article_cell" v-else>
						<view class="article_img_box" @click="goInfo(item.id,item.title,item.link_url)">
							<image class="article_img" mode="aspectFill" :src="item.pic_url"></image>
						</view>
						<view class="article_title_box">
							<view class="ellipsis-3 f-15" @click="goInfo(item.id,item.title,item.link_url)">
								<block v-if="item.label">
									<span class="title-badge mr-10" v-if="item.label.name">{{item.label.name}}</span>
								</block>
								<span class="f-w" style="vertical-align: middle;">{{item.title}}</span>
							</view>
							<view class="f-12 c-gray display_flex"
								style="position: absolute;bottom: 0; left: 0;right: 0;">
								<view class="flex-1">{{item.time_format}}</view>
								<view class="display_flex" @click="praise(item.id,item.is_praise,index)">
									<image v-if="item.is_praise==0" class="article_cell_icon"
										src="../../static/images/collect.png">
									</image>
									<image v-else class="article_cell_icon" src="../../static/images/collect_have.png">
									</image>
									<span class="ml-5">{{item.praise}}</span>
								</view>
								<view class="ml-10 display_flex">
									<image class="article_cell_icon" src="../../static/images/comment.png">
									</image>
									<span class="ml-5">{{item.reply_num}}</span>
								</view>
							</view>
						</view>
					</view>
				</block>
			</block>
		</view>
		<view class="loading" style="background-color: #FFFFFF;" v-if="showLoading"
			:style="'padding-bottom:'+pdbottom+'rpx;'">
			<image class="gif" src="../../static/images/loading_lexus.gif"></image>
		</view>
		<view class="loading" style="background-color: #FFFFFF;" v-else :style="'padding-bottom:'+pdbottom+'rpx;'">
			<view class="f-12 c-gray text-c pd-40">{{loadingTitle}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getChannel,
		getArticlelist,
		articlePraise,
		getShareImg
	} from '../../api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				bottomHeight: app.globalData.bottomHeight,
				pdbottom: app.globalData.bottomheight * 2 + 120,
				statusBarHeight: app.globalData.statusBarHeight,
				windowWidth: app.globalData.windowWidth,
				channel: [{
					id: 0,
					title: "全部"
				}],
				showWear: true,
				activeIndex: 0,
				list: [],
				params: {
					media_id: 6,
					media_column_id: 0,
					page: 1,
					size: 6,
					user_id: 0,
				},
				showLoading: true,
				newlist: [],
				shareInfo: '',
				loadingTitle: '已加载全部',
				noLogin: false,
				navScrollLeft:0
			};
		},
		onShow() {
			uni.hideTabBar()
			if (uni.getStorageSync('onload')) {
				this.noLogin = false
				this.params.page = 1
				this.list = []
				this.getArticlelist()
				uni.removeStorage({
					key: 'onload'
				})
			} else {
				if (uni.getStorageSync('access_token') && this.noLogin) {
					this.noLogin = false
					this.params.page = 1
					this.list = []
					this.getArticlelist()
				}
			}
		},
		onLoad() {
			this.getChannel()
			this.getArticlelist()
			this.getShareImg()
			var params = {
				event_code: '阅',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/articlelist/articlelist',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
				source_page: ''
			}
			app.BurialPoint(params)
			if (!uni.getStorageSync('access_token')) {
				this.noLogin = true
			}
		},
		methods: {
			goMember() {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/member/member'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
				var params = {
					event_code: '阅',
					event_id: '',
					title: '',
					value: '',
					path: 'pages/articlelist/articlelist',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					source: 9,
					source_page: '阅-我的服务'
				}
				app.BurialPoint(params)
			},
			goTopicinfo(id, title) {
				wx.navigateTo({
					url: '/pages/topicinfo/topicinfo?scene=' + id,
				})
				var params = {
					event_code: '阅',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/topicinfo/topicinfo',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					source: 9,
					source_page: '阅-话题详情'
				}
				app.BurialPoint(params)
			},
			goInfo(id, title, url) {
				if (url) {
					wx.navigateTo({
						url: '/pages/article/article?scene=' + url,
					})
				} else {
					wx.navigateTo({
						url: '/pages/article/article?scene=' + id,
					})
				}
				var params = {
					event_code: '阅',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/articlelist/articlelist',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					source: 9,
					source_page: '阅-文章详情'
				}
				app.BurialPoint(params)
			},
			showImages(index) {
				console.log(this.list[index])
				uni.previewImage({
					current: this.list[index].all_pics[0], // 当前显示图片的http链接
					urls: this.list[index].all_pics // 需要预览的图片http链接列表
				})
			},
			getShareImg() {
				getShareImg({
					path: '阅'
				}).then(res => {
					if (res.state == 1) {
						this.shareInfo = res.data
					}
				})
			},
			getChannel() {
				getChannel({
					media_id: 6
				}).then(res => {
					if (res.state == 1) {
						this.channel = [...this.channel, ...res.data]
					}
				})
			},
			bindscrolltolower: function() {
				this.showWear = false
			},
			bindscrolltoupper: function() {
				this.showWear = true
			},
			handleTap(id, index) {
				var singleNavWidth = this.windowWidth / 5;
				this.navScrollLeft = (index - 2) * singleNavWidth
				this.activeIndex = index
				this.params.media_column_id = id
				this.params.page = 1
				this.list = []
				wx.pageScrollTo({
					scrollTop: 0,
					duration: 0
				})
				this.getArticlelist()
			},
			getArticlelist() {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
				getArticlelist(this.params).then(res => {
					if (res.state == 1) {
						this.newlist = res.data
						var list = res.data

						for (var i = 0; i < list.length; i++) {
							var imageList = list[i].all_pics
							if (list[i].cover) {
								imageList.unshift(list[i].cover)
							}
							list[i].imageList = imageList
							list[i].picnums = 1
						}
						this.list = [...this.list, ...list]
						if (this.newlist.length == 0) {
							this.showLoading = false
							if (this.list.length > 0) {
								this.loadingTitle = "已加载全部"
							} else {
								this.loadingTitle = "暂无数据"
							}

						}
						var that = this
						if (that.list.length < 5) {
							uni.createSelectorQuery().select('.article_cell_box').boundingClientRect(res => {
								if (res.height < uni.getSystemInfoSync().windowHeight) {
									console.log('-------------------')
									that.showLoading = true
									that.params.page = that.params.page + 1
									that.getArticlelist()
								}
							}).exec()
						}
					}
				})
			},
			praise(id, type, index) {
				if (uni.getStorageSync('access_token')) {
					var type = type == 0 ? 1 : 0
					articlePraise({
						id: id,
						type: type
					}).then(res => {
						if (res.state == 1) {
							this.list[index].is_praise = type
							if (type == 1) {
								this.list[index].praise = this.list[index].praise + 1
							} else {
								this.list[index].praise = this.list[index].praise - 1
							}
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}

			}
		},
		onReachBottom() {
			if (this.newlist.length == 0) {
				this.showLoading = false
				if (this.list.length > 0) {
					this.loadingTitle = "已加载全部"
				} else {
					this.loadingTitle = "暂无数据"
				}

			} else {
				this.showLoading = true
				this.params.page = this.params.page + 1
				this.getArticlelist()
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.list = []
			this.getArticlelist()
			uni.stopPullDownRefresh()
		},
		onShareAppMessage() {
			app.getShareTask('/pages/articlelist/articlelist')
			return {
				title: this.shareInfo ? this.shareInfo.titie : '',
				imageUrl: this.shareInfo ? this.shareInfo.img : ''
			}
		},
		onShareTimeline: function() {
			app.getShareTask('/pages/articlelist/articlelist')
			return {
				title: this.shareInfo ? this.shareInfo.titie : '',
				imageUrl: this.shareInfo ? this.shareInfo.img : ''
			}
		},
	}
</script>

<style lang="scss">
	.articlelist {
		.uni-navbar--border {
			border-bottom-width: 0 !important;
		}

		.nav-logo_box {
			display: flex;
			align-items: center;

			.navbar_logo {
				width: 60rpx;
				height: 60rpx;
				margin-left: 15rpx;
			}
		}

		.nav_title_box {
			display: flex;
			justify-content: center;

			.perfect {
				width: 56rpx;
				height: 50rpx;
				margin-left: -24rpx;
			}
		}

		.nav-scroll {
			position: fixed;
			z-index: 999;
			background-color: #fff;
			width: 100%;
		}

		.weui-bar_on {
			display: inline-block;
			font-size: 30rpx;
			padding: 12rpx 30rpx;
			color: #3a3a3a;
		}

		.scroll-view_H {
			white-space: nowrap;
			width: 100%;
			height: 70rpx;
			box-sizing: border-box;
		}

		.nav-name {
			display: inline-block;
			font-size: 30rpx;
			padding: 12rpx 30rpx;
			color: #9a9a9a;
		}

		.article_cell_box {
			margin-top: 90rpx;
		}

		.article_cell {
			padding: 30rpx;
			display: flex;
			border-bottom: 2rpx solid #eaeaea;

			.article_img_box {
				margin-right: 20rpx;
				width: 300rpx;
				height: 205rpx;
				border-radius: 3rpx;

				.article_img {
					width: 100%;
					height: 100%;
				}
			}

			.article_title_box {
				height: 205rpx;
				flex: 1;
				position: relative;
			}

		}

		.article_cell_block {
			border-bottom: 2rpx solid #eaeaea;

			.pic_box {
				height: 500rpx;
				object-fit: cover;
			}

			.piclist {
				width: 100%;
				height: 100%;
			}

			.piclength {
				width: 70rpx;
				float: right;
				margin-right: 30rpx;
				margin-top: -60rpx;
				position: relative;
				font-size: 20rpx;
				color: #fff;
				background-color: #000000;
				opacity: 0.5;
				text-align: center;
			}
		}

		.article_cell_icon {
			width: 30rpx;
			height: 30rpx;
			vertical-align: middle;
		}

		.title-badge {
			display: inline-block;
			padding: 5rpx 20rpx;
			min-width: 8px;
			border-radius: 2px;
			background-color: #f3f9ff;
			color: #728fc4;
			line-height: 1.2;
			text-align: center;
			font-size: 24rpx;
			vertical-align: middle;
		}

		.topicimg {
			width: 100%;
			height: 460rpx;
			color: #fff;
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			object-fit: cover;
		}

		.topicinfo {
			position: absolute;
			bottom: 40rpx;
			padding-left: 30rpx;
		}
	}
</style>
