<template>
	<view class="my_home">
		<tab-Bar :botheight="bottomHeight" :tabbarnum="2"></tab-Bar>

		<uni-nav-bar :fixed="true" :statusBar="true" :backgroundColor="navBkcolor">
			<view class="nav-logo_box" slot="left" @click="goMember">
				<image class="navbar_logo" src="../../static/images/logo.png"></image>
			</view>
			<view class="nav_title_box" style="width: 100%;text-align: center;">
				<image class="perfect" src="../../static/images/navmy.png" v-if="navColor=='w'"></image>
				<image class="perfect" src="../../static/images/navmy_w.png" v-else></image>
			</view>
		</uni-nav-bar>
		<image class="bg-pic" :src="picbg?picbg:'../../static/images/my/member_bg.png'" mode="aspectFill"
			@click="choosePic">
		</image>
		<view class="memberinfo">
			<view class="avatarbox">
				<image class="memavatar" :src="memberinfo.avatar?memberinfo.avatar:'../../static/images/default.png'"
					mode="aspectFill"></image>
				<block v-if="memberinfo.auth.is_audit==1">
					<image class="avatarborder" src="../../static/images/border.gif" v-if="memberinfo.auth.is_audit==1">
					</image>
				</block>
			</view>
			<view class="f-14 f-w mt-10" v-if="memberinfo.username">{{memberinfo.username}}</view>
			<view class="f-18 f-w mt-10 c-gray" @click="goLogin" v-else>立即登录</view>
			<block v-if="memberinfo.auth.is_audit==1">
				<view class="f-13 mt-10 c-intro" style="display:flex"
					v-if="memberinfo.auth.is_audit==1&&memberinfo.auth.title">
					<image class="motor_car" style="padding-top:7rpx;" :src="memberinfo.auth.pic"></image>
					<view class="c-gray" style="flex:1">
						<block v-for="item in memberinfo.auth.title" :key="item">
							<view>{{item}}</view>
						</block>
					</view>
				</view>
			</block>
			<view class="f-13 mt-10 c-gray member_approve" v-if="memberinfo.cars.length>0">
				<image class="motor_car" src="../../static/images/member_car.png"></image>
				<span>{{memberinfo.cars.title}} 车主</span>
			</view>
			<view class="f-13 mt-10 c-gray" v-if="memberinfo.intro">{{memberinfo.intro}}</view>
			<view class="box mt-15">
				<view class="boxi" @click="myPraise">
					<span class="f-13 c-gray">获赞</span>
					<span class="f-13 f-w ml-10">{{info.praise_num}}</span>
				</view>
				<view class="boxi" @click="myFollow" data-code="1">
					<span class="f-13 c-gray">关注</span>
					<span class="f-13 f-w ml-10">{{info.follow_num}}</span>
				</view>
				<view class="boxi" @click="myFollow" data-code="2">
					<span class="f-13 c-gray">粉丝</span>
					<span class="f-13 f-w ml-10">{{info.fans_num}}</span>
				</view>
			</view>
		</view>
		<view class="scrollist">
			<view class="dynamicbox">
				<view class="messagebox" v-if="info.username&&noticeNum>0">
					<view class="memnote" @click="goMessage">
						<image class="mesavatar mr-15 ml-15"
							:src="info.avatar?info.avatar:'../../static/images/default.png'" mode="aspectFill"></image>
						<span>{{noticeNum}} 条新消息</span>
					</view>
				</view>
				<view class="dynamic">
					<view class="years mb-10">{{nowYear?nowYear:''}}</view>
					<view class="dislinblock">
						<view class="lefttime">
							<view class="f-20 f-w">今天</view>
						</view>
						<!-- openDialogpost/posted -->
						<view class="rightbox" @click="posted">
							<view class="camerabox">
								<image class="camera" src="../../static/images/my/camera.png"></image>
							</view>
						</view>
					</view>
				</view>
				<view class="dynamic" v-for="(item,index) in list" :key="item.id" v-if="!item.video">
					<view class="years mb-10" v-if="item.yearshow">{{item.year}}</view>
					<view class="dislinblock">
						<view class="lefttime">
							<view class="f-20 f-w" v-if="item.monshow">{{item.date}}</view>
							<view class="f-14 c-gray mt-20"></view>
						</view>
						<view class="rightbox">
							<view class="f-12 c-gray">{{item.cate.type}} - {{item.time}}</view>
							<!-- <view class="f-12 c-blue" v-if="{{item.is_audit==0}}">内容审核中</view> -->
							<view v-if="item.cate.id==1" @click="goBbsinfo(item.id,item.url,item.cate.id)">
								<view class="f-15 f-w mt-15 ellipsis-2" v-if="item.title">{{item.title}}</view>
								<view class="f-15 mt-15 ellipsis-4" v-if="item.content">{{item.content}}</view>
								<view class="auditbox mt-10" style="width: auto;" v-if="item.is_audit==0">{{audit_text}}
								</view>
								<image class="dynamicpic mt-15" v-if="item.image.length>0||item.cover"
									:src="item.cover?item.cover:item.image[0]" mode="aspectFill"></image>
								<image v-if="item.image.length>1" class="picicon" src="../../static/images/picture.png">
								</image>
							</view>
							<view v-if="item.cate.id==2" @click="goBbsinfo(item.id,item.url,item.cate.id)">
								<view class="f-15 f-w mt-15 ellipsis-2" v-if="item.question">
									<image class="askicon" src="../../static/images/questionicon.png"></image>
									{{item.question}}
								</view>
								<view class="f-15 mt-15 ellipsis-4" v-if="item.content">{{item.content}}</view>
								<view class="auditbox mt-10" style="width: auto;" v-if="item.is_audit==0">{{audit_text}}
								</view>
								<image class="dynamicpic mt-15" v-if="item.image.length>0" :src="item.image[0]"
									mode="aspectFill"></image>
								<image v-if="item.image.length>1" class="picicon" src="../../static/images/picture.png">
								</image>
							</view>
							<view v-if="item.cate.id==3" @click="goBbsinfo(item.id,item.url,item.cate.id)">
								<view class="f-15 f-w mt-15 ellipsis-2" v-if="item.question">
									{{item.question.question}}
								</view>
								<view class="f-15 mt-15 ellipsis-4" v-if="item.content">
									<image class="askicon" src="../../static/images/answericon.png"></image>
									{{item.content.text}}
								</view>
								<view class="auditbox mt-10" style="width: auto;" v-if="item.is_audit==0">{{audit_text}}
								</view>
								<image class="dynamicpic mt-15" v-if="item.content.img" :src="item.content.img"
									mode="aspectFill"></image>
							</view>
							<view v-if="item.cate.id==4">
								<view class="f-15 f-w mt-15 ellipsis-2" v-if="item.title">{{item.title}}</view>
								<!-- <view class="f-12 c-blue" v-if="{{item.is_audit==0}}">内容审核中</view> -->
								<view class="f-15 mt-15 ellipsis-4" v-if="item.content">{{item.content}}</view>
								<view class="auditbox mt-10" style="width: auto;" v-if="item.is_audit==0">{{audit_text}}
								</view>
								<image class="dynamicpic mt-15" v-if="item.image.length>0" :src="item.image[0]"
									mode="aspectFill"></image>
								<image v-if="item.image.length>1" class="picicon" src="../../static/images/picture.png">
								</image>
							</view>
							<block v-if="item.cate.id!=2">
								<block v-if="item.is_audit==1">
									<view class="disflex" @click="goBbsinfo(item.id,item.url,item.cate.id)">
										<image class="binpic" src="../../static/images/collect.png"
											v-if="item.is_praise==0"></image>
										<image class="binpic" src="../../static/images/collect_have.png" v-else></image>
										<span class="f-12 ml-10" v-if="item.praise_num>0">{{item.praise_num}}</span>
										<image class="binpic ml-25" src="../../static/images/comment.png"></image>
										<span class="f-12 ml-10" v-if="item.comment_num>0">{{item.comment_num}}</span>
									</view>
									<view v-if="item.is_audit==1" class="f-r disflex"
										@click="openDialog(item.id,item.post_id,item.title,item.cate.id,index)">
										<image class="binpic" src="../../static/images/outrelay.png"></image>
									</view>
									<view v-else class="f-r disflex">
										<image class="binpic" src="../../static/images/outrelay.png"></image>
									</view>
								</block>
								<block v-else>
									<view class="disflex">
										<image class="binpic" src="../../static/images/collect_audit.png"></image>
										<image class="binpic ml-25" src="../../static/images/comment_audit.png"></image>
									</view>
									<view class="f-r disflex">
										<image class="binpic" src="../../static/images/outrelay_audit.png"></image>
									</view>
								</block>
							</block>
						</view>
					</view>
				</view>
			</view>
			<view class="loading" style="background-color: #FFFFFF;" v-if="showLoading"
				:style="'padding-bottom:'+pdbottom+'rpx;'">
				<image class="gif" src="../../static/images/loading_lexus.gif"></image>
			</view>
			<view class="loading" style="background-color: #FFFFFF;" v-else :style="'padding-bottom:'+pdbottom+'rpx;'">
				<view class="f-12 c-gray text-c pd-40">{{loadingTitle}}</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getUserinfo,
		getUserList,
		getNoticenums,
		getShareImg,
		saveMemberInfo,
		getMemberInfo,
		noticeTemplate
	} from '../../api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				nowYear: '',
				bottomHeight: app.globalData.bottomHeight,
				pdbottom: app.globalData.bottomheight * 2 + 100,
				statusBarHeight: app.globalData.statusBarHeight,
				info: '',
				memberinfo: {
					cars: [],
					auth: {
						is_audit: 0
					}
				},
				picbg: '',
				navBkcolor: 'transparent',
				navColor: 'w',
				noticeNum: 0,
				list: [],
				params: {
					media_id: 6,
					page: 1
				},
				showLoading: true,
				loadingTitle: '已加载全部',
				shareInfo: '',
				noLogin: false,
				message: 1,
				audit_text: ''
			};
		},
		onShow() {
			var textt = uni.getStorageSync('member') ? uni.getStorageSync('member').audit_text :
				'评论内容人工审核中，审核时间预估3-15分钟。'
			var textlength = textt.length
			this.audit_text = textt.substring(2, textlength)

			if (uni.getStorageSync('onlist')) {
				this.list = []
				this.params.page = 1
				this.showLoading = true
				this.getUserList()
				uni.removeStorage({
					key: 'onlist'
				})
			}
			if (uni.getStorageSync('onload')) {
				this.noLogin = false
				this.list = []
				this.params.page = 1
				this.showLoading = true
				this.getUserinfo();
				this.getUserList()
				this.getNoticenums()
				this.getMemberInfo()
				uni.removeStorage({
					key: 'onload'
				})
			} else {
				this.showLoading = false
				this.loadingTitle = '暂无动态'
				if (uni.getStorageSync('access_token') && this.noLogin) {
					this.list = []
					this.params.page = 1
					this.showLoading = true
					this.getUserinfo();
					this.getUserList()
					this.getNoticenums()
					this.getMemberInfo()
				}
			}
			if (!uni.getStorageSync('access_token')) {
				this.list = []
				this.params.page = 1
				this.info = ''
				this.memberinfo = {
					cars: [],
					auth: {
						is_audit: 0
					}
				}
			}
			var params = {
				event_code: '我',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/my/my',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
				source: 9,
				source_page: ''
			}
			app.BurialPoint(params)
			uni.hideTabBar()
		},
		onLoad() {
			var timestamp = Date.parse(new Date());
			var date = new Date(timestamp);
			this.nowYear = date.getFullYear();
			this.getShareImg()
			if (uni.getStorageSync('access_token')) {
				this.getUserinfo();
				this.getUserList()
				this.getNoticenums()
				this.getMemberInfo()
			} else {
				this.noLogin = true
				setTimeout(function() {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}, 500)
			}
		},
		methods: {
			goMember() {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/member/member'
					})
					var params = {
						event_code: '我',
						event_id: '',
						title: '',
						value: '',
						path: 'pages/my/my',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
						source: 9,
						source_page: '我-我的服务'
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			getUserinfo() {
				getUserinfo(uni.getStorageSync('member').id).then(res => {
					if (res.state == 1) {
						this.info = res.data
					}
				})
			},
			getUserList() {
				getUserList(uni.getStorageSync('member').id, this.params).then(res => {
					if (res.state == 1) {
						var list = [...this.list, ...res.data.data]
						if (res.data.total == 0) {
							this.showLoading = false
							this.loadingTitle = '暂无动态'
						} else if (res.data.total < 10) {
							this.showLoading = false
						}
						for (var i = 0; i < list.length; i++) {
							let year = list[i].year
							let mon = list[i].date

							list[i].year = year
							list[i].mon = mon
						}
						for (var i = 0; i < list.length; i++) {
							if (i > 0) {
								if (list[i].year == list[i - 1].year) {
									list[i].yearshow = false
								} else {
									list[i].yearshow = true
								}
								if (list[i].mon == list[i - 1].mon) {
									list[i].monshow = false
								} else {
									list[i].monshow = true
								}
							} else {
								list[i].yearshow = true
								list[i].monshow = true
							}
						}
						this.list = list
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
					}
				})
			},
			getNoticenums() {
				getNoticenums({
					media_id: 6,
					is_own: 1
				}).then(res => {
					if (res.state == 1) {
						var ask_nums = parseInt(res.data.ask_nums)
						var comment_nums = parseInt(res.data.comment_nums)
						var system_nums = parseInt(res.data.system_nums)
						var noticeNum = ask_nums + comment_nums + system_nums
						if (noticeNum > 0 && comment_nums == 0) {
							this.message = 2
						}
						this.noticeNum = noticeNum
					}
				})
			},
			getShareImg() {
				getShareImg({
					path: '我'
				}).then(res => {
					if (res.state == 1) {
						this.shareInfo = res.data
					}
				})
			},
			goMessage() {
				// #ifdef  MP-WEIXIN
				uni.requestSubscribeMessage({
					tmplIds: ['MtJK_86rvD2wzIa4igTRe9j6VOgdkJf-TR8vL1HPtF0',
						'rZc2hiIzeF_f_NCZXbqmw_CGnbxOepVaAlKE_VjCcRw'
					],
					// 'e0_yESV26fZYL7iZ2tm5jxRLLuxZLLrOHatFv1GMJHE'  帖子审核
					success: function(res) {
						noticeTemplate({
							template_type: 1
						}).then(res => {
							if (res.state == 1) {

							} else {

							}
						})
					},
					file: function(e) {
						console.log(e)
					}
				})
				// #endif
				uni.navigateTo({
					url: '/pages/mymessage/mymessage?index=' + this.message
				})
				var params = {
					event_code: '我',
					event_id: '',
					title: '',
					value: '',
					path: 'pages/my/my',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					source: 9,
					source_page: '我-我的消息'
				}
				app.BurialPoint(params)
			},
			posted() {
				if (uni.getStorageSync('access_token')) {
					if (uni.getStorageSync('member').stop_status == 0) {
						// #ifdef  MP-WEIXIN
						uni.requestSubscribeMessage({
							tmplIds: ['MtJK_86rvD2wzIa4igTRe9j6VOgdkJf-TR8vL1HPtF0',
								'rZc2hiIzeF_f_NCZXbqmw_CGnbxOepVaAlKE_VjCcRw'
							],
							success: function(res) {
								noticeTemplate({
									template_type: 1
								}).then(res => {
									if (res.state == 1) {
										uni.navigateTo({
											url: '/pages/post/post'
										})
									} else {

									}
								})
							},
							file: function(e) {
								console.log(e)
							}
						})
						// #endif
						// #ifndef  MP-WEIXIN
						uni.navigateTo({
							url: '/pages/post/post'
						})
						// #endif
					} else {
						uni.showToast({
							title: uni.getStorageSync('member').stop_time,
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
				var params = {
					event_code: '我',
					event_id: '',
					title: '',
					value: '',
					path: 'pages/my/my',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					source: 9,
					source_page: '我-发布动态'
				}
				app.BurialPoint(params)
			},

			choosePic() {
				var that = this
				uni.chooseImage({
					count: 1,
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					success: function(res) {
						var tempFilePaths = res.tempFilePaths
						uni.uploadFile({
							url: app.globalData.uploadUrl,
							filePath: tempFilePaths[0],
							name: 'img',
							success: (uploadFileRes) => {
								console.log(JSON.parse(uploadFileRes.data));
								var picdata = JSON.parse(uploadFileRes.data);
								that.picbg = picdata.data.img_url
								that.memberinfo.bg = picdata.data.img
								that.memberinfo.avatar = ''
								that.saveMemberInfo()
							}
						});
					}
				});
			},
			saveMemberInfo() {
				saveMemberInfo(this.memberinfo).then(res => {
					if (res.state == 1) {
						uni.showToast({
							title: '修改成功',
							icon: 'success',
							mask: true,
							duration: 1500
						})
						this.getMemberInfo()
					} else {

					}
				})
			},
			getMemberInfo() {
				if (uni.getStorageSync('access_token')) {
					getMemberInfo({
						source: getApp().globalData.source,
						media_id: 6
					}).then(res => {
						if (res.state == 1) {
							this.memberinfo = res.data
							uni.setStorage({
								key: 'member',
								data: res.data,
							});
						} else {

						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goBbsinfo(id, url, cate) {
				uni.navigateTo({
					url: '/pages/articleinfo/articleinfo?scene=' + id,
				})
				var params = {
					event_code: '我',
					event_id: id,
					title: '',
					value: '',
					path: 'pages/my/my',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					source: 9,
					source_page: '我-帖子详情'
				}
				app.BurialPoint(params)
			},
			goLogin() {
				uni.navigateTo({
					url: "/pages/login/login"
				})
			}
		},
		onPageScroll: function(e) {
			var scrollTop = e.scrollTop
			if (scrollTop > 100) {
				this.navBkcolor = '#ffffff'
				this.navColor = 'b'
			} else {
				this.navBkcolor = 'transparent'
				this.navColor = 'w'
			}
		},
		onPullDownRefresh() {
			if (uni.getStorageSync('access_token')) {
				this.showLoading = true
				this.params.page = 1
				this.list = []
				this.getUserList()
			}
			uni.stopPullDownRefresh()
		},
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.showLoading = true
				this.params.page = this.params.page + 1
				this.getUserList()
			} else {
				this.showLoading = false
				if (this.list.length > 0) {
					this.loadingTitle = "已加载全部"
				} else {
					this.loadingTitle = "暂无动态"
				}
			}
		},
		onShareAppMessage() {
			app.getShareTask('/pages/my/my')
			return {
				title: this.shareInfo ? this.shareInfo.titie : '',
				imageUrl: this.shareInfo ? this.shareInfo.img : ''
			}
		},
	}
</script>

<style lang="scss">
	.my_home {
		.uni-navbar--border {
			border-bottom-width: 0 !important;
		}

		.nav-logo_box {
			display: flex;
			align-items: center;

			.navbar_logo {
				width: 60rpx;
				height: 60rpx;
				margin-left: 15rpx;
			}
		}

		.nav_title_box {
			display: flex;
			justify-content: center;

			.perfect {
				width: 56rpx;
				height: 50rpx;
				margin-left: -24rpx;
			}
		}

		.bg-pic {
			width: 100%;
			height: 500rpx;
			position: fixed;
			top: 0;
		}

		.memberinfo {
			position: relative;
			min-height: 360rpx;
			margin: 0 30rpx;
			padding: 40rpx;
			margin-top: 40%;
			z-index: 995;
			background-color: #fff;
			border-radius: 6rpx;
			box-shadow: 1.5rpx 0 3.75rpx 0 #dedad9, 0.75rpx 5.25rpx 9.75rpx 0 #dad4d3;

			.mybkpic {
				width: 300rpx;
				height: 120rpx;
				position: absolute;
				right: 0;
				bottom: 0;
			}

			.avatarbox {
				position: relative;
				width: 120rpx;
				height: 120rpx;
			}

			.memavatar {
				width: 120rpx;
				height: 120rpx;
			}

			.avatarborder {
				width: 120rpx;
				height: 120rpx;
				position: absolute;
				right: 0;
			}

			.box {
				width: 75%;
				display: flex;
			}

			.boxi {
				width: 33.33%;
			}
		}

		.scrollist {
			// padding-bottom: 90rpx;

			.dynamicbox {
				padding: 30rpx 0;
				position: relative;
				background-color: #fff;

				.dynamic {
					padding: 0 30rpx;
				}

				.years {
					color: #9a9a9a;
					font-size: 34rpx;
					font-weight: bold;
				}

				.dislinblock {
					width: 100%;
					display: inline-block;

					.lefttime {
						width: 20%;
						float: left;
					}

					.rightbox {
						width: 80%;
						float: left;
						padding-bottom: 40rpx;
						border-bottom: 2rpx solid #eaeaea;

						.camerabox {
							width: 180rpx;
							height: 180rpx;
							border-radius: 3rpx;
							text-align: center;
							background-color: #f8f8f8;
							vertical-align: middle;
							display: table-cell;
						}

						.camera {
							width: 70rpx;
							height: 60rpx;
						}

						.disflex {
							display: inline;
						}

						.dynamicpic {
							width: 100%;
							height: 380rpx;
							border-radius: 3rpx;
						}

						.binpic {
							width: 30rpx;
							height: 30rpx;
							vertical-align: middle;
						}
					}
				}

				.askicon {
					width: 28rpx;
					height: 30rpx;
					margin-right: 20rpx;
					vertical-align: middle;
				}

				.messagebox {
					width: 100%;
					margin-top: 30rpx;
					margin-bottom: 30rpx;
					background-color: #fff;
				}

				.mesavatar {
					width: 45rpx;
					height: 45rpx;
					border-radius: 90rpx;
					vertical-align: middle;
				}

				.memnote {
					width: 300rpx;
					padding: 18rpx 0;
					margin: 0 auto;
					color: #fff;
					font-size: 28rpx;
					border-radius: 3rpx;
					background-color: #605C6B;
				}
			}

		}
	}
</style>
