<template>
	<view class="audit">
		<view class="text-c mb-80">
			<image src="/static/images/member/approceing.png" class="approve-pic"></image>
			<view class="f-16 mt-40 f-w" v-if="tips==1">您的行驶证没有上传，请稍后完善</view>
			<view class="f-16 mt-40 f-w" v-else>您的认证已提交，审核时间2~3个工作日完成</view>
		</view>
		<view class="btn_block" @click="goMotormaster">我知道了</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				tips: 0
			};
		},
		onLoad() {

		},
		methods: {
			goMotormaster: function() {
				uni.navigateBack({
					delta: 1
				})
			},
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F1F1F1;
	}

	.mb-80 {
		margin-bottom: 160rpx;
	}

	.approve-pic {
		width: 82rpx;
		height: 110rpx;
		margin-top: 35%;
	}
</style>
