<template>
	<view class="message_box">
		<view class="tabs_fixed">
			<uni-segmented-control :current="current" :values="items" @clickItem="onClickItem" styleType="text"
				activeColor="#605C6B"></uni-segmented-control>
		</view>
		<view class="content">
			<view v-show="current === 0">
				<view class="message_cell" v-for="(item,index) in list" :key="item"
					@click="goCommentPage(item.id,index,item.is_read,item.comment.z_id,item.comment.card_id,item.comment.answer_id,item.type,item.comment.p_reply_id)">
					<view class="flex-1">
						<view class="f-12">
							<span class="mr-5 f-13">{{item.comment.user.user_name}}</span>
							评论我
						</view>
						<view class="ellipsis-2 f-13 mt-5 mb-5">{{item.comment.content}}</view>
						<view class="c-gray f-12">{{item.created_at}}</view>
					</view>
					<view class="badge_dot" v-if="item.is_read==0"></view>
				</view>
				<view class="f-14 c-gray text-c" style="margin-top: 10%;" v-if="nocomment">暂无评论消息</view>
			</view>
			<view v-show="current === 1">
				<view class="message_cell" v-for="(item,index) in adminlist" :key="item"
					@click="goAdminPage(item.id,item.jump_id,item.is_read,item.type,index)">
					<view class="flex-1">
						<view class="ellipsis-2 f-13">{{item.title}}</view>
						<view class="c-gray f-12">{{item.created_at}}</view>
					</view>
					<view class="badge_dot" v-if="item.is_read==0"></view>
				</view>
				<view class="f-14 c-gray text-c" style="margin-top: 10%;" v-if="noadmin">暂无系统消息</view>
			</view>

		</view>
	</view>
</template>

<script>
	import {
		getCommentMessageList,
		getAdminMessageList,
		readMessage
	} from '../../api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				current: 0,
				items: ['评论', '系统消息'],
				list: [],
				last_page: 1,
				paramc: {
					page: 1,
					size: 10,
					media_id: 6
				},
				adminlist: [],
				adminlast_page: 1,
				parama: {
					page: 1,
					size: 10,
					media_id: 6
				},
				nocomment: false,
				noadmin: false,
			};
		},
		onLoad() {
			this.getMessageList()
			var params = {
				event_code: '我的消息',
				path: 'pages/mymessage/mymessage',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		methods: {
			getMessageList() {
				if (this.current == 0) {
					getCommentMessageList(this.paramc).then(res => {
						if (res.state == 1) {
							this.list = [...this.list, ...res.data.data]
							this.last_page = res.data.last_page
							if (this.list.length == 0) {
								this.nocomment = true
							}
						} else {
							uni.showToast({
								title: res.error[0],
								icon: 'none',
								mask: true,
								duration: 1500
							})
						}
					})
				} else {
					getAdminMessageList(this.parama).then(res => {
						if (res.state == 1) {
							this.adminlist = [...this.adminlist, ...res.data.data]
							this.adminlast_page = res.data.last_page
							if (this.adminlist.length == 0) {
								this.noadmin = true
							}
						} else {
							uni.showToast({
								title: res.error[0],
								icon: 'none',
								mask: true,
								duration: 1500
							})
						}
					})
				}

			},
			onClickItem(e) {
				this.current = e.currentIndex
				this.adminlist = []
				this.list = []
				this.paramc.page = 1
				this.parama.page = 1
				this.getMessageList()
			},
			//评论消息
			goCommentPage(id, index, isread, aid, cid, ansid, type, pid) {
				if (isread == 1) {
					switch (type) {
						case 2:
							uni.navigateTo({
								url: '/pages/commentinfo/commentinfo?id=' + ansid + '&pid=' + pid + '&source=2'
							})
							break;
						case 3:
							uni.navigateTo({
								url: '/pages/commentinfo/commentinfo?id=' + aid + '&pid=' + pid + '&source=1'
							})
							break;
						default:
							uni.navigateTo({
								url: '/pages/articleinfo/articleinfo?scene=' + cid
							})
							break;
					}
				} else {
					switch (type) {
						case 2:
							uni.navigateTo({
								url: '/pages/commentinfo/commentinfo?id=' + ansid + '&pid=' + pid + '&source=2'
							})
							break;
						case 3:
							uni.navigateTo({
								url: '/pages/commentinfo/commentinfo?id=' + aid + '&pid=' + pid + '&source=1'
							})
							break;
						default:
							uni.navigateTo({
								url: '/pages/articleinfo/articleinfo?scene=' + cid
							})
							break;
					}
					this.readMessage(id, index)
				}
			},
			//系统消息
			goAdminPage(id, url, isread, type, index) {
				if (isread == 1) {
					if (type == 2) {
						uni.navigateTo({
							url: '/pages/webview/webview?scene=' + url,
						})
					} else {
						uni.navigateTo({
							url: url,
						})
					}
				} else {
					if (type == 2) {
						uni.navigateTo({
							url: '/pages/webview/webview?scene=' + url,
						})
					} else {
						uni.navigateTo({
							url: url,
						})
					}
					this.readMessage(id, index)
				}
			},
			//消息已读
			readMessage(id, index) {
				var url = this.current == 0 ? 'notice/' + id + '/read' : 'notice/' + id + '/system-read'

				readMessage(url).then(res => {
					if (res.state == 1) {
						if (this.current == 0) {
							this.list[index].is_read = 1
						} else {
							this.adminlist[index].is_read = 1
						}

					} else {
						uni.showToast({
							title: res.error[0],
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				})
			}
		},
		onPullDownRefresh() {
			if (this.current == 0) {
				this.paramc.page = 1
				this.list = []
				this.getMessageList()
				uni.stopPullDownRefresh()
			} else {
				this.parama.page = 1
				this.adminlist = []
				this.getMessageList()
				uni.stopPullDownRefresh()
			}
		},
		onReachBottom() {
			if (this.current == 0) {
				if (this.last_page > this.paramc.page) {
					this.paramc.page = this.paramc.page + 1
					this.getMessageList()
				}
			} else {
				if (this.adminlast_page > this.parama.page) {
					this.parama.page = this.parama.page + 1
					this.getMessageList()
				}
			}
		}
	}
</script>

<style lang="scss">
	.message_box {
		.tabs_fixed {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
			background-color: #FFFFFF;
			border-bottom: 2rpx solid #eaeaea;
		}

		.content {
			padding-top: 80rpx;
		}

		.message_cell {
			padding: 30rpx;
			border-bottom: 2rpx solid rgba(0, 0, 0, 0.1);
			font-size: 28rpx;
			display: flex;
			align-items: center;
		}

		.badge_dot {
			width: 8rpx;
			height: 8rpx;
			background-color: red;
			border-radius: 60px;
			margin-left: 10rpx;
		}
	}
</style>
