<template>
	<view class="articleinfo_box">
		<view class="commentlist_cell">
			<view class="articleinfo">
				<view class="comment_member_box">
					<view class="comment_member_img_box"
						@click="goOther(pinfo.user.id,pinfo.user.form,pinfo.user.user_name)">
						<image class="comment_member_img"
							:src="pinfo.user.headimg_url?pinfo.user.headimg_url:'../../static/images/default.png'">
						</image>
						<image class="avatarborder" src="../../static/images/border.gif"
							v-if="pinfo.user.auth.is_audit==1"></image>
					</view>
					<view class="comment_member_name ml-10"
						@click="goOther(pinfo.user.id,pinfo.user.form,pinfo.user.user_name)">
						{{pinfo.user.user_name}}
						<span class="comment_member_userform" v-if="pinfo.user.form">[{{pinfo.user.form}}</span>
						<view class="f-12 c-gray member_approve" v-if="pinfo.user.cars.id">
							<image class="motor_car" src="../../static/images/member_car.png"></image>
							<span>{{pinfo.user.cars.title}} 车主</span>
						</view>
					</view>
					<view class="comment_praise" @click="praise()">
						<image class="comment_praise_img mr-10"
							:src="pinfo.is_praise==1?'../../static/images/collect_have.png':'../../static/images/collect.png'">
						</image>
						{{pinfo.praise_num}}
					</view>
				</view>
				<view class="comment_content">
					{{pinfo.content}}
					<view class="article_box">
						<view class="display_flex">
							<view class="replyaimg_box">
								<image class="replyaimg" mode="aspectFill" :src="info.pic_url" />
							</view>
							<view class="f-w arttitle">
								{{info.title}}
							</view>
						</view>

					</view>
				</view>

				<view class="comment_other">
					<view class="flex-1">
						<span class="c-gray">{{pinfo.create_time}} · </span>
						<span v-if="pinfo.is_audit==1" @click="goComment(pinfo.id)">回复</span>
						<span v-else>回复</span>
						<span v-if="pinfo.reply_num>0">({{pinfo.reply_num}})</span>
					</view>
					<view>
						<span class="c-gray f-r" @click="report(pinfo.id,2)">举报</span>
					</view>
				</view>
			</view>

			<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'rpx'">
				<view class="fake_input" @click="goComment(pinfo.id)">请输入评论</view>
				<view class="bottom_info_box">
					<view class="bottom_info">
						<image class="bottom_img mr-5" src="../../static/images/comment.png"></image>
						{{pinfo.reply_num>0?pinfo.reply_num:''}}
					</view>
					<view class="bottom_info" @click="praise">
						<image class="bottom_img mr-5"
							:src="pinfo.is_praise==1?'../../static/images/collect_have.png':'../../static/images/collect.png'">
						</image>
						{{pinfo.praise_num>0?pinfo.praise_num:''}}
					</view>
					<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
					<button class="bottom_infor" open-type="share">
						<image class="bottom_img" src="../../static/images/outrelay.png"></image>
					</button>
					<!-- #endif -->
					<!-- #ifdef MP-WEIXIN||APP-PLUS -->
					<view class="bottom_infor" @click="showShare=true">
						<image class="bottom_img" src="../../static/images/outrelay.png"></image>
					</view>
					<!-- #endif -->
				</view>
			</view>
		</view>
		<view class="commentid">
			<block v-for="itemr in list" :key="itemr.id">
				<view class="commentlist_cell">
					<view class="comment_member_box">
						<view class="comment_member_img_boxr"
							@click="goOther(itemr.user.id,itemr.user.form,itemr.user.user_name)">
							<image class="comment_member_imgr"
								:src="itemr.user.headimg_url?itemr.user.headimg_url:'../../static/images/default.png'">
							</image>
							<image class="avatarborderr" src="../../static/images/border.gif"
								v-if="itemr.user.auth.is_audit==1"></image>
						</view>
						<view class="comment_member_name ml-10"
							@click="goOther(itemr.user.id,itemr.user.form,itemr.user.user_name)">
							{{itemr.user.user_name}}
							<span class="comment_member_userform" v-if="itemr.user.form">[{{itemr.user.form}}</span>
							<view class="f-12 c-gray member_approve" v-if="itemr.user.cars.id">
								<image class="motor_car" src="../../static/images/member_car.png"></image>
								<span>{{itemr.user.cars.title}} 车主</span>
							</view>
						</view>
					</view>
					<view class="comment_content" style="margin-left: 70rpx;">
						{{itemr.content}}
					</view>
					<view class="auditbox mb-10" style="margin-left: 100rpx;" v-if="itemr.is_audit==0">{{audit_text}}</view>
					<view class="comment_other" style="margin-left: 70rpx;">
						<view class="flex-1">
							<span class="c-gray">{{itemr.create_time}} · </span>
							<span v-if="itemr.is_audit==1" @click="goCommentlist(itemr.id)">回复</span>
							<span v-else>回复</span>
							<span v-if="itemr.reply_num>0">({{itemr.reply_num}})</span>
						</view>
						<view>
							<span class="c-gray f-r" v-if="itemr.user.id==user_id"
								@click="delcomm(itemr.id,index)">删除</span>
							<span class="c-gray f-r" @click="report(itemr.id,2)" v-else>举报</span>
						</view>
					</view>
				</view>

			</block>
			<view class="loading" style="background-color: #FFFFFF;" v-if="showLoading"
				:style="'padding-bottom:'+bottomHeight+'rpx;'">
				<image class="loading_gift" src="../../static/images/loading_lexus.gif"></image>
			</view>
			<view class="loading" style="background-color: #FFFFFF;" v-else
				:style="'padding-bottom:'+bottomHeight+'rpx;'">
				<view class="f-12 c-gray text-c pd-40">{{loadingTitle}}</view>
			</view>
		</view>
		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'rpx'">
				<view class="display_flex" style="justify-content: center;">
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
					<view class="c-black f-10 ml-5 mr-5">分享</view>
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
				</view>
				<!-- #ifdef APP-PLUS -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="../../static/images/friends.png"></image>
					</view>
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" style="width: 44rpx;" src="../../static/images/wechat.png"></image>
					</view>
				</view>
				<!-- #endif -->
				<!-- #ifdef MP -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="../../static/images/friends.png"></image>
					</view>
					<button class="share_cell" open-type="share" @click="showShare=false">
						<image class="share_img" style="width: 44rpx;" src="../../static/images/wechat.png"></image>
					</button>
				</view>
				<!-- #endif -->
				<view class="mt-20" style="border-top: 1rpx solid #eaeaea;padding-top: 30rpx;padding-bottom: 10rpx;"
					@click="showShare=false">取消
				</view>
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>

		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getArticleInfo,
		getRecommends,
		getCommentlist,
		articlePraise,
		articlenoPraise,
		articleCollect,
		articleCommPraise,
		articleCommInfo,
		articleCommReplys,
		articlePoster,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				pinfo: '',
				params: {
					user_id: '',
				},
				paramsr: {
					page: 1,
					size: 10,
					order: 1,
				},
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
				list: [],
				showLoading: true,
				loadingTitle: '已加载全部',
				showShare: false,
				showShareUrl: false,
				share_url: '',
				bottomBox: 16,
				audit_text:''
			};
		},
		onLoad(options) {
			this.id = options.id
			this.pid = options.pid
			this.getArticleInfo()
			this.articleCommInfo()
			if (app.globalData.statusBarHeight < 30) {
				this.bottomBox = 16
			} else {
				this.bottomBox = 60
			}

		},
		onShow() {
this.audit_text=uni.getStorageSync('member') ? uni.getStorageSync('member').audit_text : '评论内容人工审核中，审核时间预估3-15分钟。'
		},
		methods: {
			getArticleInfo() {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getArticleInfo(this.params, this.pid).then(res => {
					if (res.state == 1) {

						this.info = res.data
						var params = {
							event_code: '文章评论详情',
							path: 'pages/commentinfo/commentinfo',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}
				})
			},
			articleCommInfo() {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				articleCommInfo(this.params, this.id).then(res => {
					if (res.state == 1) {

						var pinfo = res.data
						var user_name = pinfo.user.user_name
						var arr = user_name.split('[');
						pinfo.user.user_name = arr[0]
						pinfo.user.form = arr[1]
						this.pinfo = pinfo
						console.log(res.data.reply_num)
						if (res.data.reply_num > 0) {
							this.articleCommReplys()
						} else {
							this.showLoading = false
							this.loadingTitle = '暂无评论'
						}
						var params = {
							event_code: '文章评论详情',
							path: 'pages/commentinfo/commentinfo',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}
				})
			},
			articleCommReplys() {
				this.paramsr.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				articleCommReplys(this.paramsr, this.id).then(res => {
					if (res.state == 1) {

						var newlist = res.data.data
						for (var i = 0; i < newlist.length; i++) {
							var user_name = newlist[i].user.user_name
							var arr = user_name.split('[');
							newlist[i].user.user_name = arr[0]
							newlist[i].user.form = arr[1]
							var replys = newlist[i].replys
							if (replys) {
								for (var j = 0; j < replys.length; j++) {
									var user_name = replys[j].user.user_name
									var arr = user_name.split('[');
									replys[j].user.user_name = arr[0]
									replys[j].user.form = arr[1]
									var ruser_name = replys[j].reuser.user_name
									var rarr = ruser_name.split('[');
									replys[j].reuser.user_name = rarr[0]
									replys[j].reuser.form = rarr[1]
								}
							}
						}
						this.list = [...this.list, ...newlist]
						this.last_page = res.data.last_page
						this.current_page = res.data.last_page
						if (res.data.total == 0) {
							this.showLoading = false
							this.loadingTitle = '暂无评论'
						} else if (res.data.total < 10) {
							this.showLoading = false
						}
						var params = {
							event_code: '文章评论详情',
							path: 'pages/commentinfo/commentinfo',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}
				})
			},
			//点赞
			praise() {
				if (uni.getStorageSync('access_token')) {
					var type = this.pinfo.is_praise
					var params = {
						id: this.id,
						type: type == 1 ? 2 : 1
					}
					articleCommPraise(params).then(res => {
						if (res.state == 1) {

							if (type == 1) {
								this.pinfo.is_praise = 0
								this.pinfo.praise_num = this.pinfo.praise_num - 1
							} else {
								this.pinfo.is_praise = 1
								this.pinfo.praise_num = this.pinfo.praise_num + 1
							}
						}
					})
					if (this.pinfo.is_praise == 1) {
						var source_page = '取消赞'
					} else {
						var source_page = '点赞'
					}
					var params = {
						event_code: '评论详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '评论详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			report(id, type) {
				uni.showModal({
					content: '确定要举报吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							uni.showToast({
								title: "举报成功",
								mask: true,
								icon: 'success',
								duration: 1500
							})
						} else {
							console.log('用户点击取消')
						}
					}
				});

				var params = {
					event_code: '文章详情',
					event_id: id,
					title: this.info.title,
					value: '',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source_page: '文章详情-举报评论'
				}
				app.BurialPoint(params)
			},
			//跳转写评论页
			goComment(rid) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.pid + '&rid=' + rid + '&type=2'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: this.id,
					title: this.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-去评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			goCommentlist(rid) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.pid + '&rid=' + rid + '&pid=' + this.id +
							'&type=2'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//删除评论
			delComment(id, index) {
				var that = this
				uni.showModal({
					content: '确定要删除这条评论吗？',
					confirmText: '删除',
					success: function(res) {
						if (res.confirm) {
							articleCommDel(id).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '已删除',
										icon: 'success',
									});
									that.list.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});

				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: that.id,
					title: that.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-删除评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						source: app.globalData.source,
						id: this.info.id,
						user_id: uni.getStorageSync('member').id
					}
					articlePoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
					var params = {
						event_code: '评论详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.info.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '评论详情-生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//微信app分享
			shareApp(scene) {
				var that = this
				if(scene=='WXSceneSession'){
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.info.title,
						imageUrl: that.info.share_image,
						miniProgram:{
							id:'gh_d2c493f1bc41',
							path:'/pages/article/article?scene='+that.info.id,
							type:0,
							webUrl:"https://m.motortime.com/article/" + that.info.id + "/post"
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}else{
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/article/" + that.info.id + "/post",
						title: that.info.title,
						summary: that.info.description,
						imageUrl: that.info.share_image,
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}
				app.getShareTask('/pages/article/article')
			},
		},
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.showLoading = true
				this.paramsr.page = this.paramsr.page + 1
				this.articleCommReplys()
			} else {
				this.showLoading = false
				if (this.list.length > 0) {
					this.loadingTitle = "已加载全部"
				} else {
					this.loadingTitle = "暂无动态"
				}
			}
		},
		//分享
		onShareAppMessage(res) {
			app.getShareTask('/pages/article/article')
			this.showShare = false
			return {
				title: this.info.title,
				path: '/pages/article/article?scene=' + this.id,
				imageUrl: this.info.share_image
			}
		},
		onShareTimeline: function() {
			app.getShareTask('/pages/article/article')
			return {
				title: this.info.title,
				path: '/pages/article/article?scene=' + this.id,
				imageUrl: this.info.share_image
			}
		},
	}
</script>

<style lang="scss">
	.articleinfo_box {
		overflow-x: hidden;

		.toppicbox {
			width: 100%;
			min-height: 480rpx;

			.pic {
				width: 100%;
			}
		}

		.video_box {
			.video {
				width: 100%;
				height: 480rpx;
			}
		}

		.articleinfo {}

		.article_title {
			color: #3A3A3A;
			font-size: 17px;
			font-weight: bold;
		}

		.article_content {
			line-height: 2;
			font-size: 28rpx !important;
		}

		.contentimg {
			max-width: 100% !important;
			border-radius: 16rpx;
		}

		.article_time {
			color: #9A9A9A;
			font-size: 24rpx;
			margin: 30rpx 0;
		}

		.copyright {
			color: #9A9A9A;
			font-size: 28rpx;
		}

		.praise_box {
			display: flex;
			align-items: center;
			justify-content: center;

			.praise_border {
				font-size: 11px;
				color: #3A3A3A;
				padding: 20rpx 40rpx;
				border: 0.5px solid #9A9A9A;
				border-radius: 30px;
				margin: 0 8px;
				display: flex;
				align-items: center;
			}

			.praise_borderright {
				font-size: 11px;
				color: #3A3A3A;
				padding: 20rpx 60rpx;
				border: 0.5px solid #9A9A9A;
				border-radius: 30px;
				margin: 0 8px;
				display: flex;
				align-items: center;
			}

			.praise_img {
				width: 15px;
				height: 14px;
			}
		}

		.recommend_box {
			// border-top: 1px solid #EAEAEA;
			// padding: 0 10px;

			.recommend_list {
				display: flex;
				margin: 10rpx 0;
				padding: 0 20rpx;

				.recommend_img_box {
					width: 300rpx;
					height: 205rpx;
					border-radius: 16rpx;
				}

				.recommend_img {
					width: 300rpx;
					height: 205rpx;
					border-radius: 16rpx;
					float: left;
				}

				.recommend_title {
					height: 200rpx;
					color: #3A3A3A;
					font-size: 28rpx;

					.motor_badge {
						color: #FF0000;
						font-size: 20rpx;
						border: 1px solid #FF0000;
						border-radius: 2px;
						padding: 0 10rpx;
						white-space: nowrap;
					}
				}
			}

			.three_dba_box {
				overflow: hidden;
				padding: 0 20rpx;

				.three_dba_item {
					display: flex;
					width: 33.333%;
					float: left;

					.three_dba_img {
						width: 80rpx;
						height: 80rpx;
						border: 1px solid #f7f7f7;
						border-radius: 4px;
					}

					.three_dba_info {
						.three_dba_name {
							color: #3A3A3A;
							font-size: 24rpx;
							font-weight: bold;
						}

						.three_dba_read {
							color: #9A9A9A;
							font-size: 24rpx;
						}
					}
				}

			}
		}

		.commentlist_box {
			border-top: 20rpx solid #EAEAEA;
			padding: 0 20rpx;
		}

		.comment_type {
			color: #9A9A9A;
			font-size: 26rpx;
			float: right;
			font-weight: 400;
		}

		.commentlist_cell {
			padding: 30rpx 0;
			border-bottom: 1px solid #EAEAEA;
		}

		.comment_member_box {
			display: flex;
			align-items: center;
			padding: 0 30rpx;

			.comment_member_img_box {
				width: 80rpx;
				height: 80rpx;
				border-radius: 60rpx;
				position: relative;
			}

			.avatarborder {
				width: 80rpx;
				height: 80rpx;
				position: absolute;
				right: 0;
			}

			.comment_member_img {
				width: 80rpx;
				height: 80rpx;
				border-radius: 60rpx;
			}

			.comment_member_img_boxr {
				width: 50rpx;
				height: 50rpx;
				border-radius: 60rpx;
				position: relative;
			}

			.avatarborderr {
				width: 50rpx;
				height: 50rpx;
				position: absolute;
				right: 0;
			}

			.comment_member_imgr {
				width: 50rpx;
				height: 50rpx;
				border-radius: 60rpx;
			}

			.comment_member_name {
				flex: 1;
				color: #3A3A3A;
				font-size: 30rpx;
				font-weight: bold;

				.comment_member_userform {
					font-size: 24rpx;
					color: #9A9A9A;
				}
			}

			.comment_praise {
				color: #9A9A9A;
				font-size: 24rpx;
				display: flex;
				align-items: center;

				.comment_praise_img {
					width: 30rpx;
					height: 28rpx;
				}
			}
		}

		.comment_content {
			color: #3A3A3A;
			font-size: 26rpx;
			padding: 30rpx;
			margin-left: 110rpx;
		}

		.article_box {
			margin-top: 30rpx;
			background-color: #E3E3E3;
			border-radius: 6rpx;
			padding: 20rpx;

			.replyaimg_box {
				width: 210rpx;
				height: 140rpx;

				.replyaimg {
					width: 100%;
					height: 100%;
				}
			}

			.arttitle {
				height: 140rpx;
				margin-left: 20rpx;
				flex: 1;
			}
		}

		.comment_other {
			padding: 0 30rpx;
			display: flex;
			align-items: center;
			margin-left: 110rpx;
			font-size: 24rpx;
		}

		.comment_reply_box {
			padding: 0 30rpx;

			margin-left: 110rpx;
			font-size: 24rpx;
		}

		.comment_action {
			display: flex;
			align-items: center;
			font-size: 12px;
			color: #9A9A9A;

			.comment_time {
				flex: 1;

				.comment_reply_num {
					color: #3A3A3A;
					font-size: 12px;
				}
			}

			.comment_report {
				float: right;
			}
		}

		.comment_reply_username {
			color: #33A1FF;
			font-size: 26rpx;
		}

		.comment_reply_cell {
			color: #6A6A6A;
			font-size: 26rpx;
			display: flex;
			padding: 20rpx 0;
		}

		.comment_reply_memberimg_box {
			width: 50rpx;
			height: 50rpx;
			border-radius: 60rpx;
		}

		.comment_reply_memberimg {
			width: 50rpx;
			height: 50rpx;
			border-radius: 60rpx;
		}

		.article_info_title {
			color: #3A3A3A;
			font-size: 13px;
			font-weight: bold;
			padding: 15px 0;

			.three_dba {
				color: #9A9A9A;
				font-size: 13px;
			}
		}

		.othertop {
			color: #3a3a3a;
		}

		.borderleft {
			margin-right: 10px;
			border-left: 3px solid #615d6b;
		}

		.vote_box {
			padding-bottom: 30rpx;
			text-align: center;

			.vote_title {
				font-size: 28rpx;
				font-weight: bold;
				margin: 15rpx;
			}

			.vote_info {
				color: #999999;
				font-size: 24rpx;
				margin: 15rpx;
			}

			.vote_btn_box {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 60rpx 15rpx 10rpx 15rpx;
			}

			.vote_btn {
				color: #fff;
				font-size: 24rpx;
				padding: 8rpx 0;
				margin: 0 20rpx;
				min-width: 160rpx;
			}

			.btn-red {
				background-color: #D24064;
			}

			.btn-blue {
				background-color: #3D50CB;
			}

			.btn-green {
				background-color: #469E6C;
			}

			.vote_versus {
				/* color: #E02020; */
				width: 50rpx;
				height: 36rpx;
				margin: 0 20rpx;
			}

			.vote_result_box {
				/* margin-top: 40rpx; */
				margin-bottom: 10rpx;
				min-height: 100rpx;
			}

			.vote_result {
				display: flex;
				width: 100%;
			}

			.vote_result_progress {
				color: #fff;
				font-size: 24rpx;
				padding: 8rpx 10rpx;
			}

			.vote_result_title {
				font-size: 24rpx;
				margin: 5rpx 0;
			}

			.vote_choose {
				color: #999999;
			}
		}

		.joinpic {
			height: 90rpx;
			width: 100%;
		}

		.bot-10 {
			border-top: 20rpx solid #f8f8f8;
		}

		.pd-30 {
			padding: 30rpx;
		}
	}
</style>
