<template>
	<view class="accountsafe">
		<view class="memberinfo_cell">
			<view class="memberinfo_title">微信号</view>
			<view class="safe_btn_def" v-if="info.wx_binding_status.status==1">已绑定</view>
			<view class="safe_btn" v-else @click="getWechat">未绑定</view>
			<view class="inputText" v-if="info.wx_binding_status.status==1">{{info.wx_binding_status.name}}</view>
		</view>
		<view class="memberinfo_cell">
			<view class="memberinfo_title">手机号</view>
			<view class="safe_btn_def" v-if="info.mobile">已绑定</view>
			<view class="safe_btn" @click="goMobileInfo" v-else>未绑定</view>
			<view class="inputText" v-if="info.mobile">{{info.mobile}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getMemberInfo,
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				info: ''
			}
		},
		onShow() {
			this.getMemberInfo()
		},
		onLoad() {
			var params = {
				event_code: '账号安全',
				path: 'pages/accountsafe/accountsafe',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		methods: {
			getMemberInfo() {
				if (uni.getStorageSync('access_token')) {
					getMemberInfo({
						source: getApp().globalData.source,
						media_id: 6
					}).then(res => {
						if (res.state == 1) {
							this.info = res.data
							uni.setStorage({
								key: 'member',
								data: res.data,
								success() {
									app.getEquipment()
								}
							});
						} else {

						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goMobileInfo() {
				uni.navigateTo({
					url: '/pages/mobileinfo/mobileinfo'
				})
			},
			getWechat() {
				uni.login({
					provider: 'weixin',
					success: function(loginRes) {
						var code = loginRes.code
						var authResult = loginRes.authResult
						var params = {
							openid: authResult.openid,
							unionid: authResult.unionid,
							access_token: authResult.access_token,
							equipment_id: uni.getStorageSync('equipment_id'),
							user_id: uni.getStorageSync('member').id
						}
						wechatBinding(params).then(res => {
							if (res.state == 1) {
								uni.showToast({
									title: '绑定成功',
									icon: 'success'
								})
								uni.setStorage({
									key: 'access_token',
									data: res.data
										.access_token,
									success: function() {
										that.getMemberInfo()
									}
								});
							} else {
								uni.showToast({
									title: res.data.error[0],
									icon: 'none'
								})
							}
						})
					},
					complete: function(loginRes) {
						console.log('complete===')
					},
					fail: function(loginRes) {
						console.log('fail===')
					},
				});
			}
		}
	}
</script>

<style lang="scss">
	.accountsafe {
		.memberinfo_cell {
			height: 140rpx;
			display: flex;
			align-items: center;
			padding: 0 30rpx;
			border-bottom: 2rpx solid #EAEAEA;

			.memberinfo_title {
				flex: 1;
				width: 200rpx;
				font-size: 26rpx;
			}

			.safe_btn_def {
				background-color: #D8D8D8;
				font-size: 24rpx;
				padding: 10rpx 24rpx;
				border-radius: 5rpx;
			}

			.safe_btn {
				color: #fff;
				background-color: #605C6B;
				font-size: 24rpx;
				padding: 10rpx 24rpx;
				border-radius: 5rpx;
			}

			.inputText {
				color: #999999;
				font-size: 24rpx;
				margin-left: 20rpx;
			}
		}
	}
</style>
