<template>
	<view class="start" :style="'height:'+windowHeight+'px'">
		<image class="start_adv" :src="openWechat" @click="goWebview(info.id,info.module.id,info.url,info.sort)"
			:style="'height:'+windowHeight+'px'">
		</image>
		<view class="weui-badge" :style="'bottom:'+pdbottom+'rpx;'" @click="goHome" v-if="openWechat">跳过 ({{time}})
		</view>
	</view>
</template>

<script>
	import {
		getAdvs,
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				info: '',
				time: 5,
				timerd: '',
				user_id: 0,
				timeout: '',
				openWechat: '',
				windowHeight: '100vh',
				pdbottom: app.globalData.bottomheight * 2 + 60,
			};
		},
		onShow() {
			if (this.time != 5) {
				uni.switchTab({
					url: '/pages/index/index',
				})
			}
			var params = {
				event_code: '开屏',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/start/start',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: 9,
				source_page: ''
			}
			app.BurialPoint(params)
		},
		onLoad() {
			this.getAdvs()

		},
		methods: {
			getAdvs() {
				var that = this
				getAdvs({
					media_id: 6,
					type: 5
				}).then(res => {
					if (res.state == 1) {
						var list = res.data
						if (list.length > 0) {
							that.info = list[0]
							if (app.globalData.sort > 1.9) {
								var openWechat = list[0].pic_1242_2688 ? list[0].pic_1242_2688 : list[0]
									.pic_1125_2436
							} else if (app.globalData.sort < 2 && app.globalData.sort > 1.7) {
								var openWechat = list[0].pic_1242_2208 ? list[0].pic_1242_2208 : list[0]
									.pic_1080_1882

							} else if (app.globalData.sort < 1.7) {
								var openWechat = list[0].pic_640_960 ? list[0].pic_640_960 : list[0].pic_480_762
							}
							that.openWechat = openWechat
							uni.getSystemInfo({
								success: (res) => {
									that.windowHeight = res.windowHeight
								},
							})
							if (that.time == 5) {
								that.timeout = setTimeout(() => {
									uni.switchTab({
										url: '/pages/index/index',
									})
								}, 5000);
							} else {
								uni.switchTab({
									url: '/pages/index/index',
								})
							}
							var time = that.time
							that.timerd = setInterval(function() {
								if (time > 0) {
									time--
									that.time = time
								}
							}, 1000);
						} else {
							uni.switchTab({
								url: '/pages/index/index'
							})
						}
					}
				})
			},
			goHome() {
				clearTimeout(this.timeout)
				uni.switchTab({
					url: '/pages/index/index'
				})
			},
			goWebview(id, mid, url, sort) {
				if (url) {
					clearTimeout(this.timeout)
					var info = this.info
					info.pic_url = ""
					this.info = info
					uni.navigateTo({
						url: url
					})
				}
			}
		},
		onHide() {
			clearTimeout(this.timeout)
		},
		onShareAppMessage: function() {
			app.getShareTask('/pages/start/start')
			return {
				title: ' ',
				path: '/pages/start/start?scene=0-' + this.data.user_id
			}
		},
		onShareTimeline: function() {
			app.getShareTask('/pages/start/start')
			return {
				title: "凌志范儿",
			}
		},
	}
</script>

<style lang="scss">
	.start {
		overflow: hidden;
		position: relative;

		.start_adv {
			width: 100%;
			height: 100%;
			z-index: 999;
		}

		.weui-badge {
			float: right;
			position: absolute;
			right: 40rpx;
			background-color: #000;
			opacity: 0.6;
			padding: 12rpx 20rpx;
			display: inline-block;
			min-width: 8px;
			border-radius: 18px;
			color: #fff;
			line-height: 1.2;
			text-align: center;
			font-size: 12px;
			vertical-align: middle;
			z-index: 1000;
		}
	}
</style>
