<template>
	<view>
		<view class="tabbar_box" :style="'background-color:#fff;padding-bottom:'+botheight+ 'px;'">
			<block v-for="(item,index) in list" :key="index">
				<view class="tabbar_nav" hover-class="none" @click="shareThere(item.pagePath,index)">
					<image v-if="index==tabbarnum" class="tabbar_icon" style="margin-top:-10rpx"
						:src="item.selectedIconPath"></image>
					<image v-else class="tabbar_icon" :src="item.iconPath"></image>
					<!-- <view class="point" v-if="noticeNum>0&&item.ShowPoint==1&&index!=tabbarnum">{{noticeNum}}</view> -->
				</view>
			</block>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				backgroundColor: "#ffffff",
				color: "#979795",
				selectedColor: "#1c1c1b",
				list: [{
						pagePath: "/pages/index/index",
						iconPath: "../../static/images/icon/index.png",
						selectedIconPath: "../../static/images/icon/index_select.png",
					},
					{
						pagePath: "/pages/articlelist/articlelist",
						iconPath: "../../static/images/icon/content.png",
						selectedIconPath: "../../static/images/icon/content_select.png",
					},
					{
						pagePath: "/pages/my/my",
						iconPath: "../../static/images/icon/my.png",
						selectedIconPath: "../../static/images/icon/my_select.png",
					},
					// {
					//   pagePath: "/pages/ask/ask",
					//   iconPath: "/images/icon/question.png",
					//   selectedIconPath: "/images/icon/question_select.png",
					// },
					// {
					//   pagePath: "/pages/shop/shop",
					//   iconPath: "/images/icon/shop.png",
					//   selectedIconPath: "/images/icon/shop_select.png",
					// },
				],
				noticeNum: 0
			}
		},
		props: {
			tabbarnum: {
				type: Number,
				value: 0
			},
			botheight: {
				type: String,
				value: null
			}
		},
		onShow() {
			var that = this
			var access_token = wx.getStorageSync('access_token');
			if (access_token) {
				var Authorization = 'Bearer' + ' ' + wx.getStorageSync('access_token');
				wx.request({
					url: app.globalData.apiUrl + 'notice/nums',
					header: {
						'content-type': 'application/json', // 默认值
						'Authorization': Authorization
					},
					data: {
						media_id: 6,
						is_own: 1
					},
					method: 'GET',
					success(res) {
						var ask_nums = parseInt(res.data.data.ask_nums)
						var comment_nums = parseInt(res.data.data.comment_nums)
						var system_nums = parseInt(res.data.data.system_nums)
						var noticeNum = ask_nums + comment_nums + system_nums
						that.setData({
							noticeNum: noticeNum
						})
						console.info('noticeNum===' + noticeNum)
					}
				})
			} else {
				if (pageurl == '/pages/my/my') {
					pageurl = ''
					wx.navigateTo({
						url: '/pages/login/login',
					})
				}
			}
		},
		methods: {
			shareThere(url, index) {
				uni.switchTab({
					url: url
				})
			},
		}
	}
</script>

<style>
	.tabbar_box {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 999;
		width: 100%;
		height: 100rpx;
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
	}

	.tabbar_box.iphoneX-height {
		padding-bottom: 66rpx;
	}

	.middle-wrapper {
		position: absolute;
		right: 310rpx;
		bottom: 0;
		background-color: #fff;
		width: 120rpx;
		height: 120rpx;
		border-radius: 50%;
		border-top: 2rpx solid #f2f2f3;
	}

	.middle-wrapper.iphoneX-height {
		bottom: 66rpx;
	}

	.tabbar_nav {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		height: 100%;
		position: relative;
	}

	text {
		color: #3a3a3a;
	}

	.tabbar_icon {
		width: 70%;
	}

	.special-wrapper {
		position: absolute;
		top: -40rpx;
		width: 120rpx;
		height: 120rpx;
		border-radius: 50%;
		border-top: 2rpx solid #f2f2f3;
		background-color: #5abd8b;
		text-align: center;
		box-sizing: border-box;
		padding: 6rpx;
	}

	.special-wrapper .tabbar_icon {
		width: 70%;
		height: 80%;
		padding-top: 28%;
	}

	.special-text-wrapper {
		width: 56rpx;
		height: 56rpx;
	}

	.point {
		width: 38rpx;
		height: 38rpx;
		font-size: 24rpx;
		border-radius: 50px;
		position: absolute;
		top: 5rpx;
		right: 33%;
		background-color: #BA0000;
		color: #fff;
		text-align: center;
	}
</style>
