<template>
	<view class="motormaster">
		<view class="car_box" v-for="(item,index) in list" :key="item.id">
			<view class="pdl-30" @click="defultCars(item.id,index)">
				<image class="pointpic"
					:src="item.is_default==1?'../../static/images/member/point_active.png':'../../static/images/member/point.png'">
				</image>
			</view>
			<view class="display_flex flex-1">
				<image v-if="item.car.pic" class="carimg" mode="aspectFit" :src="item.car.pic"></image>
				<image v-else class="carimg" mode="aspectFit" :src="item.car_pic_url?item.car_pic_url:item.brand.logo">
				</image>
				<view class="text-c flex-1">
					<view :class="item.is_audit==0?'c-gray f-14':'f-14' ">
						{{item.car.title?item.car.title:item.car_name}}
					</view>
					<view v-if="item.is_audit==0" class="f-12 c-gray">(认证审核中)</view>
					<view v-if="item.is_audit==2" class="f-12 c-gray">(审核未通过)</view>
				</view>
			</view>
			<image @click="showBottom(item.id,item.is_audit,index)" class="caricon"
				src="../../static/images/member/ellipsis.png"></image>
		</view>
		<view class="btn_block_car" @click="addcar">
			<image class="addmotor" src="../../static/images/addmotor.png">
				<view>添加认证车辆</view>
		</view>
		<view class="addmodels text-c" @click="addcarOther">
			<image src="../../static/images/othercar.png" class="othercar ml-5"></image>
			我曾拥有雷克萨斯其他车型，如何申请认证?

		</view>
	</view>
</template>

<script>
	import {
		getMyCarlist,
		defultCars,
		delCars
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				list: []
			};
		},
		onShow() {
			this.getMyCarlist()
		},
		onLoad() {
			
			var params = {
				event_code: '车主认证-我的车辆',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/motormaster/motormaster',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: 9,
				source_page: ''
			}
			app.BurialPoint(params)
		},
		methods: {
			getMyCarlist() {
				getMyCarlist({
					brand_id: 1
				}).then(res => {
					if (res.state == 1) {
						this.list = res.data
					} else {}
				})
			},
			addcar() {
				uni.navigateTo({
					url: '/pages/approve/approve',
				})
				var params = {
					event_code: '车主认证',
					event_id: '',
					title: '',
					value: '',
					path: 'pages/motormaster/motormaster',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 9,
					source_page: '车主认证-添加车辆'
				}
				app.BurialPoint(params)
			},
			addcarOther() {
				uni.showModal({
					title: '',
					content: '是否有行驶证',
					confirmText: '有行驶证',
					cancelText: '无行驶证',
					success: function(res) {
						if (res.confirm) {
							uni.navigateTo({
								url: '/pages/carlist/carlist?type=1&ever=1&is_have_card=1',
							})
						} else if (res.cancel) {
							uni.navigateTo({
								url: '/pages/carlist/carlist?type=1&ever=1&is_have_card=0',
							})
						}
						var params = {
							event_code: '车主认证',
							event_id: '',
							title: '',
							value: '',
							path: 'pages/motormaster/motormaster',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: 9,
							source_page: '车主认证-添加车辆'
						}
						app.BurialPoint(params)
					}
				})
			},
			defultCars(id, index) {
				defultCars(id).then(res => {
					if (res.state == 1) {
						var list = this.list
						for (var i = 0; i < list.length; i++) {
							if (list[i].id == id) {
								list[i].is_default = 1
							} else {
								list[i].is_default = 0
							}
						}
						this.list = list
					} else {

					}
				})
			},
			showBottom(id, audit, index) {
				var that=this
				if (audit == 0) {
					var title = '继续认证'
				} else {
					var title = '查看详情'
				}
				uni.showActionSheet({
					itemList: [title, '删除车辆'],
					success: function(res) {
						if (res.tapIndex == 0) {
							uni.navigateTo({
								url: '/pages/carinfo/carinfo?carid=' + id + '&audit=' + audit,
							})
							var params = {
								event_code: '车主认证',
								event_id: '',
								title: '',
								value: '',
								path: 'pages/motormaster/motormaster',
								user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id :
									'',
								source: 9,
								source_page: '车主认证-车辆详情'
							}
							app.BurialPoint(params)
						} else {
							uni.showModal({
								content: '确定要删除吗？',
								confirmText: "确定",
								cancelText: "取消",
								success: function(res) {
									if (res.confirm) {
										delCars(id).then(res => {
											if (res.state == 1) {
												uni.showToast({
													title: '已删除',
													mask: true,
													icon: 'success',
													duration: 1500,
													success: function() {
														that.list.splice(index, 1)
													}
												})
											} else {}
										})
									} else {
										console.log('用户点击辅助操作')
									}
								}
							});
						}
					},
					fail: function(res) {
						console.log(res.errMsg);
					}
				});
			}

		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F1F1F1;
	}

	.motormaster {
		.car_box {
			display: flex;
			background-color: #fff;
			padding: 30rpx;
			border-bottom: 1rpx solid rgba(0, 0, 0, .1);
			position: relative;
		}

		.car_box_active {
			border: 2rpx solid #09187E;
		}

		.carimg {
			margin-right: 20rpx;
			vertical-align: middle;
			width: 360rpx;
			height: 160rpx;
		}

		.caricon {
			width: 34rpx;
			height: 7rpx;
			padding: 0 0 20rpx 20rpx;
		}

		.btn_block_car {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FFFFFF;
			font-size: 26rpx;
			background-color: #605C6B;
			padding: 30rpx 0;
			border-radius: 10rpx;
			text-align: center;
			margin: 50rpx 140rpx;
			margin-top: 100rpx;
		}

		.addmotor {
			width: 30rpx;
			height: 30rpx;
		}

		.pointpic {
			width: 16rpx;
			height: 16rpx;
			margin-bottom: 10rpx;
		}

		.pdl-30 {
			padding: 0 32rpx;
			position: absolute;
			bottom: 30rpx;
			left: 0;
		}

	}
</style>
