<template>
	<view class="articleinfo">
		<view class="userinfo_box mt-15">
			<view class="userimg_box" @click="goOther(info.id)">
				<image class="user_avatr"
					:src="info.user.headimg_url?info.user.headimg_url:'../../static/images/default.png'">
				</image>
				<image v-if="info.user.auth.is_audit==1" class="user_approve" src="../../static/images/border.gif">
				</image>
			</view>
			<view class="username_box" @click="goOther(info.id)">
				<view class="f-w f-15">
					<text>{{info.user.user_name}}</text>
				</view>
				<view class="display_flex c-gray f-12 mt-5" v-if="info.user.cars.id">
					<image class="motor_car" src="../../static/images/member_car.png"></image>
					{{info.user.cars.title}} 车主
				</view>
			</view>
			<view v-if="info.user.id!=user_id" class="userfllow_box"
				@click="followUser(info.user.id,info.user.is_follow)">
				<view v-if="info.user.is_follow==1" class="attenok">已 关 注</view>
				<view v-else class="atten">+ 关 注</view>
			</view>
		</view>
		<view class="bbscell_info mt-15">
			<view class="mt-20 f-16 f-w" v-if="info.title">
				<text>{{info.title}}</text>
			</view>
			<view class="mt-10 f-14 content" v-if="info.content"><text>{{info.content}}</text>
			</view>
			<view class="list_sign">
				<image class="img_sign" v-if="info.is_essence==1" src="../../static/images/elite_sign.png"></image>
				<image class="img_sign" v-if="info.is_essence==2" src="../../static/images/active_sign.png">
				</image>
				<image class="img_sign" v-if="info.is_essence==3" src="../../static/images/hot_sign.png"></image>
				<image class="img_sign" v-if="info.is_essence==4" src="../../static/images/question_sign.png">
				</image>
			</view>
		</view>
		<view class="bbscell_imgbox mt-10" v-if="info.image.length>0">
			<image @click="previewImage(item)" class="bbsinfo_img" mode="widthFix" v-for="(item,index) in info.image"
				:key="index" :src="item">
			</image>
		</view>
		<view class="bbscell_imgbox mt-10" v-else>
			<image @click="previewImage(info.cover,1)" class="bbsinfo_img" mode="widthFix" :src="info.cover"></image>
		</view>
		<view class="ml-15">
			<view v-for="item in info.topics" :key="item.id" class="weui-badge mr-20"
				@click="goTopicinfo(item.id,item.name)">
				#{{item.name}}#</view>
		</view>
		<view class="display_flex f-12 c-gray pd-30">
			<view class="flex-1">{{info.time_format}}</view>
			<view @click="delBbs(info.id)" v-if="info.user.id==user_id">删除</view>
			<view @click="report(info.id,1)" v-else>举报</view>
		</view>
		<view class="comment" v-if="voteinfo.id">
			<view class="pd-30 bot-10">
				<view class="f-14 f-w othertop">
					<span class="borderleft"></span>互动投票
				</view>
			</view>
			<view class="vote_box">
				<view class="vote_title">{{voteinfo.title}}</view>
				<view class="vote_num_time">参与人数：{{voteinfo.num}} ｜ 截止日期：{{voteinfo.end_time}}</view>
				<view class="vote_btn_box" v-if="!selected">
					<view class="vote_btn btn-red border-four" @click="voteBtn(voteinfo.tips1.id,voteinfo.tips1.name)">
						{{voteinfo.tips1.name}}
					</view>
					<image class="vote_versus" v-if="!voteinfo.tips3.name" src="../../static/images/versus.png"></image>
					<view class="vote_btn btn-blue border-four" @click="voteBtn(voteinfo.tips2.id,voteinfo.tips2.name)">
						{{voteinfo.tips2.name}}
					</view>
					<view class="vote_btn btn-green border-four" v-if="voteinfo.tips3.name"
						@click="voteBtn(voteinfo.tips3.id,voteinfo.tips3.name)">{{voteinfo.tips3.name}}</view>
				</view>
				<view class="vote_result_box" v-else>
					<view class="vote_result">
						<view class="vote_result_left" :style="'min-width:'+tips1width+'px;'"
							v-if="voteinfo.tips1.name">
							<view class="vote_result_title text-l ellipsis">{{voteinfo.tips1.name}}<span
									class="vote_choose" v-if="voteinfo.tips1.id==voteinfo.is_user_tips">(已选)</span>
							</view>
							<view class="vote_result_progress btn-red">{{voteinfo.tips1.percentage}}%</view>
						</view>
						<view class="vote_result_center" :style="'min-width:'+tips2width+'px;'"
							v-if="voteinfo.tips2.name">
							<view
								:class="voteinfo.tips3.name?'text-c vote_result_title ellipsis':'text-r vote_result_title ellipsis'">
								{{voteinfo.tips2.name}}<span class="vote_choose"
									v-if="voteinfo.tips2.id==voteinfo.is_user_tips">(已选)</span>
							</view>
							<view class="vote_result_progress btn-blue">{{voteinfo.tips2.percentage}}%</view>
						</view>
						<view class="vote_result_right" :style="'min-width:'+tips3width+'px;'"
							v-if="voteinfo.tips3.name">
							<view class="vote_result_title text-r ellipsis">{{voteinfo.tips3.name}}<span
									class="vote_choose" v-if="voteinfo.tips3.id==voteinfo.is_user_tips">(已选)</span>
							</view>
							<view class="vote_result_progress btn-green">{{voteinfo.tips3.percentage}}%</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="commentid">
			<view class="pd-30 bot-10">
				<view class="f-14 f-w othertop">
					<span class="borderleft"></span>全部评论
				</view>
			</view>
			<view class="commentlist_cell" v-for="(item,index) in commentlist" :key="item.id">
				<view class="comment_member_box">
					<view class="comment_member_img_box"
						@click="goOther(item.user.id,item.user.form,item.user.user_name)">
						<image class="comment_member_img"
							:src="item.user.headimg_url?item.user.headimg_url:'../../static/images/default.png'">
						</image>
						<image class="avatarborder" src="../../static/images/border.gif"
							v-if="item.user.auth.is_audit==1"></image>
					</view>
					<view class="comment_member_name ml-10"
						@click="goOther(item.user.id,item.user.form,item.user.user_name)">
						{{item.user.user_name}}
						<span class="comment_member_userform" v-if="item.user.form">[{{item.user.form}}</span>
						<view class="f-12 c-gray member_approve" v-if="item.user.cars.id">
							<image class="motor_car" src="../../static/images/member_car.png"></image>
							<span>{{item.user.cars.title}} 车主</span>
						</view>
					</view>
					<view class="comment_praise" @click="commentPraise(item.id,item.is_praise,index)">
						<image class="comment_praise_img mr-10"
							:src="item.is_praise==1?'../../static/images/collect_have.png':'../../static/images/collect.png'">
						</image>
						{{item.praise_num>0?item.praise_num:''}}
					</view>
				</view>
				<view class="comment_content">
					<span v-if="item.reuser">回复</span>
					<span class="f-w c-black" v-if="item.reuser"
						@click="goOther(item.reuser.id,item.reuser.user_name,1)">
						@{{item.reuser.user_name}}:</span>
					{{item.content}}
				</view>
				<view class="auditbox mb-10" style="margin-left: 140rpx;" v-if="item.is_audit==0">{{audit_text}}</view>
				<view class="comment_other">
					<view class="flex-1">
						<span class="c-gray">{{item.create_time}} · </span>
						<span v-if="item.is_audit==1" @click="goComment(item.id)">回复</span>
						<span v-else>回复</span>
						<span v-if="item.comment_num>0">({{item.comment_num}})</span>
					</view>
					<view>
						<span class="c-gray f-r" v-if="item.user.id==user_id" @click="delcomm(item.id,index)">删除</span>
						<span class="c-gray f-r" @click="report(item.id,2)" v-else>举报</span>
					</view>
				</view>
			</view>
			<view class="loading" style="background-color: #FFFFFF;" v-if="showLoading"
				:style="'padding-bottom:'+bottomHeight+'rpx;'">
				<image class="gif" src="../../static/images/loading_lexus.gif"></image>
			</view>
			<view class="loading" style="background-color: #FFFFFF;" v-else
				:style="'padding-bottom:'+bottomHeight+'rpx;'">
				<view class="f-12 c-gray text-c pd-40">{{loadingTitle}}</view>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'rpx'">
			<view class="fake_input" @click="goComment(0)">请输入评论</view>
			<view class="bottom_info_box">
				<view class="bottom_info" @click="goComments">
					<image class="bottom_img mr-5" src="../../static/images/comment.png"></image>
					{{info.comment_num>0?info.comment_num:''}}
				</view>
				<view class="bottom_info" @click="praise">
					<image class="bottom_img mr-5"
						:src="info.is_praise==1?'../../static/images/collect_have.png':'../../static/images/collect.png'">
					</image>
					{{info.praise_num>0?info.praise_num:''}}
				</view>
				<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
				<button class="bottom_infor" open-type="share">
					<image class="bottom_img" src="../../static/images/outrelay.png"></image>
				</button>
				<!-- #endif -->
				<!-- #ifdef MP-WEIXIN||APP-PLUS -->
				<view class="bottom_infor" @click="showShare=true">
					<image class="bottom_img" src="../../static/images/outrelay.png"></image>
				</view>
				<!-- #endif -->
			</view>
		</view>
		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'rpx'">
				<view class="display_flex" style="justify-content: center;">
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
					<view class="c-black f-10 ml-5 mr-5">分享</view>
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
				</view>
				<!-- #ifdef MP-WEIXIN -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="../../static/images/friends.png"></image>
					</view>
					<button class="share_cell" open-type="share" @click="showShare=false">
						<image class="share_img" style="width: 44rpx;" src="../../static/images/wechat.png"></image>
					</button>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="../../static/images/friends.png"></image>
					</view>
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" style="width: 44rpx;" src="../../static/images/wechat.png"></image>
					</view>
				</view>
				<!-- #endif -->
				<view class="mt-20" @click="showShare=false" style="border-top: 1rpx solid #eaeaea;padding-top: 30rpx;">
					取消</view>
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>
		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getBbsInfo,
		checkText,
		bbsCommentPost,
		bbsPraise,
		bbsPoster,
		getBbsCommentlist,
		voteChoose,
		voteInfo,
		followUser,
		bbsTip,
		bbsCommentPraise,
		bbsDelComment,
		delBbs
	} from '../../api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				content: '',
				bottomHeight: app.globalData.bottomheight * 2 + 110,
				bottomBox: 16,
				commentlist: [],
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
				voteinfo: '',
				paramsc: {
					page: 1,
					size: 10,
					user_id: 0,
					source: 9
				},
				selected: false,
				vote_end_tip: '投票已结束',
				tips1width: 0,
				tips2width: 0,
				tips3width: 0,
				showShare: false,
				showShareUrl: false,
				share_url: '',
				loadingTitle: '已加载全部',
				scrollTop: 0,
				showDialog: true,
				audit_text:''
			};
		},
		onShow() {
			this.audit_text=uni.getStorageSync('member') ? uni.getStorageSync('member').audit_text : '评论内容人工审核中，审核时间预估3-15分钟。'
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
			if (uni.getStorageSync('onload')) {
				this.getBbsInfo()
				this.paramsc.page = 1
				this.commentlist = []
				this.getBbsComment()
				uni.removeStorage({
					key: 'onload'
				})
			}
			if (app.globalData.statusBarHeight < 30) {
				this.bottomBox = 16
			} else {
				this.bottomBox = 60
			}
			if (uni.getStorageSync('comment')) {
				this.paramsc.page = 1
				this.commentlist = []
				this.getBbsComment()
				this.goComments()
				uni.removeStorage({
					key: 'comment',
				})
			}
		},
		onLoad(options) {
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.id = list[0]
			this.getBbsInfo()
			this.getBbsComment()

		},
		methods: {
			getBbsInfo() {
				getBbsInfo({
					user_id: this.user_id,
				}, this.id).then(res => {
					if (res.state == 1) {
						var params = {
							event_code: '帖子详情',
							event_id: this.id,
							title: res.data.title,
							value: '',
							path: 'pages/articleinfo/articleinfo',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
							source: 9,
							source_page: ''
						}
						app.BurialPoint(params)
						this.info = res.data
						this.voteinfo = res.data.vote_info
						this.selected = res.data.vote_info.is_user_vote
						if (res.data.vote_info.id) {
							this.voteWidth()
							var oDate1 = new Date();
							var oDate2 = new Date(res.data.vote_info.end_time);
							if (oDate1.getTime() > oDate2.getTime()) {
								this.timeOut = false
							} else {
								this.timeOut = true
							}
						}
					}
				})
			},
			getBbsComment() {
				this.paramsc.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getBbsCommentlist(this.paramsc, this.id).then(res => {
					if (res.state == 1) {
						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						this.total = res.data.total
						if (res.data.total == 0) {
							this.loadingTitle = "暂无评论"
						}
						if (this.current_page == this.last_page) {
							this.showLoading = false
						}
						this.commentlist = [...this.commentlist, ...res.data.data]
					}

				})
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						source: app.globalData.source,
						cid: this.id,
						user_id: uni.getStorageSync('member').id
					}
					bbsPoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
					var params = {
						event_code: '帖子详情',
						path: 'pages/articleinfo/articleinfo',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '帖子详情-生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			voteBtn(id, name) {
				if (uni.getStorageSync('access_token')) {
					voteChoose({
						vote_id: this.voteinfo.id,
						tip_id: id,
						tip_name: name,
						type: 1
					}, this.id).then(res => {
						if (res.state == 1) {
							uni.showToast({
								title: '参与成功',
								icon: 'none',
								duration: 1500
							})
							this.vote_code = id
							this.selected = true
							this.getVoteinfo(this.voteinfo.id)
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			getVoteinfo() {
				voteInfo(this.id).then(res => {
					if (res.state == 1) {
						this.voteinfo = res.data
						this.voteWidth()
					}
				})
			},
			voteWidth() {
				var that = this
				var vote_info = that.voteinfo
				var tips1width = (vote_info.tips1.name.length * 12) + 5
				var tips2width = (vote_info.tips2.name.length * 12) + 5
				var tips3width = 0
				if (vote_info.tips3.name) {
					tips3width = (vote_info.tips3.name.length * 12) + 5
				}
				if (tips1width > tips2width) {
					if (tips1width > tips3width) {
						var voteWidth = tips1width
					} else {
						var voteWidth = tips3width
					}
				} else if (tips2width > tips3width) {
					var voteWidth = tips2width
				} else if (tips3width > tips2width) {
					var voteWidth = tips3width
				} else if (tips3width > tips1width) {
					var voteWidth = tips3width
				} else if (tips1width == tips2width) {
					var voteWidth = tips1width
				} else if (tips2width == tips3width) {
					var voteWidth = tips2width
				}
				if (tips3width > 0) {
					var tipswidthsum = voteWidth * 3
					var votewidthsum = (app.globalData.windowWidth) - tipswidthsum - 30
					var width1 = (votewidthsum * vote_info.tips1.percentage / 100 + voteWidth).toFixed(2)
					var width2 = (votewidthsum * vote_info.tips2.percentage / 100 + voteWidth).toFixed(2)
					var width3 = (votewidthsum * vote_info.tips3.percentage / 100 + voteWidth).toFixed(2)
					that.tips1width = width1
					that.tips2width = width2
					that.tips3width = width3
				} else {
					var tipswidthsum = voteWidth * 2
					var votewidthsum = (app.globalData.windowWidth) - tipswidthsum - 30
					var width1 = (votewidthsum * vote_info.tips1.percentage / 100 + voteWidth).toFixed(2)
					var width2 = (votewidthsum * vote_info.tips2.percentage / 100 + voteWidth).toFixed(2)
					that.tips1width = width1
					that.tips2width = width2
				}
			},
			//跳转写评论页
			goComment(rid) {
				console.log('rid==' + rid)
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.id + '&rid=' + rid + '&type=0'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
				var params = {
					event_code: '帖子详情',
					path: 'pages/articleinfo/articleinfo',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: this.id,
					title: this.info.title,
					invitees_scene_id: '',
					source_page: '帖子详情-去评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			//滑动到评论位置
			goComments() {
				uni.createSelectorQuery().select('.commentid').boundingClientRect(res => {
					var top = res.top
					if (this.scrollTop > 0) {
						uni.pageScrollTo({
							scrollTop: this.scrollTop + top,
							duration: 300
						})
					} else {
						uni.pageScrollTo({
							scrollTop: top,
							duration: 300
						})
					}
				}).exec()
			},
			previewImage: function(img, type) {
				if (type == 1) {
					uni.previewImage({
						current: img, // 当前显示图片的http链接
						urls: [img] // 需要预览的图片http链接列表
					})
				} else {
					uni.previewImage({
						current: img, // 当前显示图片的http链接
						urls: this.info.image // 需要预览的图片http链接列表
					})
				}

				var params = {
					event_code: '帖子详情',
					event_id: this.id,
					title: this.info.title,
					value: '',
					path: 'pages/articleinfo/articleinfo',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 9,
					source_page: '帖子详情-预览图片'
				}
				app.BurialPoint(params)
			},
			followUser(id, type) {
				if (uni.getStorageSync('access_token')) {
					followUser({
						follow_user_id: id,
						type: type == 1 ? 2 : 1
					}).then(res => {
						if (res.state == 1) {
							this.info.user.is_follow = type == 1 ? 0 : 1
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}

			},
			praise() {
				if (uni.getStorageSync('access_token')) {
					bbsPraise({
						id: this.id,
						type: this.info.is_praise == 0 ? 1 : 2
					}).then(res => {
						if (res.state == 1) {
							if (this.info.is_praise == 1) {
								this.info.praise_num = this.info.praise_num - 1
								this.info.is_praise = 0
							} else {
								this.info.praise_num = this.info.praise_num + 1
								this.info.is_praise = 1
							}
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			commentPraise(id, type, index) {
				if (uni.getStorageSync('access_token')) {
					bbsCommentPraise({
						id: id,
						type: type == 0 ? 1 : 2
					}).then(res => {
						if (res.state == 1) {
							if (type == 1) {
								this.commentlist[index].praise_num = this.info.praise_num - 1
								this.commentlist[index].is_praise = 0
							} else {
								this.commentlist[index].praise_num = this.commentlist[index].praise_num + 1
								this.commentlist[index].is_praise = 1
							}
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			delcomm(id, index) {
				var that = this
				uni.showModal({
					content: '确定要删除这条评论吗？',
					confirmText: "删除",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							bbsDelComment(id).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: "已删除",
										mask: true,
										icon: 'success',
										duration: 1500,
										success() {
											that.commentlist.splice(index, 1)
										}
									})
								}
							})
						} else {
							console.log('用户点击取消')
						}
					}
				});
			},
			report(id, type) {
				uni.showModal({
					content: '确定要举报吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							bbsTip({
								id: id,
								type: type
							}).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: "举报成功",
										mask: true,
										icon: 'success',
										duration: 1500
									})
								}
							})
						} else {
							console.log('用户点击取消')
						}
					}
				});
				if (type == 1) {
					var name = '帖子'
				} else {
					var name = '评论'
				}
				var params = {
					event_code: '帖子详情',
					event_id: id,
					title: this.info.title,
					value: '',
					path: 'pages/articleinfo/articleinfo',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 9,
					source_page: '帖子详情-举报' + name
				}
				app.BurialPoint(params)
			},
			delBbs(id, type) {
				uni.showModal({
					content: '确定要删除吗？',
					confirmText: "删除",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							delBbs(id).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: "已删除",
										mask: true,
										icon: 'success',
										duration: 1500,
										success() {
											setTimeout(function() {
												uni.setStorage({
													key: 'onload',
													data: true,
													success() {
														uni.navigateBack({
															delta: 1
														})
													}
												});
											}, 1000)

										}
									})


								}
							})
						} else {
							console.log('用户点击取消')
						}
					}
				});
				if (type == 1) {
					var name = '帖子'
				} else {
					var name = '评论'
				}
				var params = {
					event_code: '帖子详情',
					event_id: id,
					title: this.info.title,
					value: '',
					path: 'pages/articleinfo/articleinfo',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 9,
					source_page: '帖子详情-举报' + name
				}
				app.BurialPoint(params)
			},
			goOther(id, from, username) {
				// if (from) {
				// 	uni.showModal({
				// 		content: '来自 ' + username + '的评论',
				// 		confirmText: "关闭",
				// 		showCancel: false,
				// 		success: function(res) {
				// 			if (res.confirm) {

				// 			} else {
				// 				console.log('用户点击取消')
				// 			}
				// 		}
				// 	});
				// } else {
				// 	uni.navigateTo({
				// 		url: '/pages/other/other?scene=' + id
				// 	})
				// }
			},
			onPageScroll: function(e) {
				this.scrollTop = e.scrollTop
			},
			//微信app分享
			shareApp(scene) {
				var that = this
				
				if(scene=='WXSceneSession'){
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.info.title,
						imageUrl: that.info.share_image,
						miniProgram:{
							id:'gh_d2c493f1bc41',
							path:'/pages/article/article?scene='+that.id,
							type:0,
							webUrl:"https://m.motortime.com/bbs/" + that.id 
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}else{
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/bbs/" + that.id ,
						title: that.info.title,
						summary: that.info.description,
						imageUrl: that.info.share_image,
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}
				app.getShareTask('/pages/articleinfo/articleinfo')
			},
		},

		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.paramsc.page = this.paramsc.page + 1
				this.showLoading = true
				this.getBbsComment()
			} else {
				this.showLoading = false
				this.loadingTitle = "已加载全部"
			}

		},
		onPullDownRefresh() {
			this.paramsc.page = 1
			this.showLoading = true
			this.commentlist = []
			this.getBbsComment()
			uni.stopPullDownRefresh()
		},
		//分享
		onShareAppMessage(res) {
			app.getShareTask('/pages/articleinfo/articleinfo')
			this.showShare = false
			return {
				title: this.info.title,
				path: '/pages/articleinfo/articleinfo?scene=' + this.id,
				imageUrl: this.info.share_image
			}
		},
		onShareTimeline: function() {
			app.getShareTask('/pages/articleinfo/articleinfo')
			return {
				title: this.info.title,
				path: '/pages/articleinfo/articleinfo?scene=' + this.id,
				imageUrl: this.info.share_image
			}
		},
	}
</script>

<style lang="scss">
	.articleinfo {
		.userinfo_box {
			display: flex;
			align-items: center;
			padding: 0 30rpx;

			.userimg_box {
				position: relative;
				width: 80rpx;
				height: 80rpx;

				.user_avatr {
					width: 100%;
					height: 100%;
				}

				.user_approve {
					width: 80rpx;
					height: 80rpx;
					position: absolute;
					right: 0;
				}
			}

			.username_box {
				flex: 1;
				margin-left: 20rpx;
				color: #605C6B;

				.motor_car {
					width: 26rpx;
					height: 26rpx;
					margin-right: 10rpx;
				}
			}

			.userfllow_box {
				.top_btn {
					width: 120rpx;
					height: 50rpx;
					background-color: #fff;
					color: #9a9a9a;
					text-align: center;
					font-size: 24rpx;
					line-height: 2;
					border: 2rpx solid #9a9a9a;
				}
			}
		}

		.bbscell_info {
			position: relative;
			padding: 0 30rpx;

			.content {
				line-height: 2;
				font-size: 28rpx !important;
			}

			.list_sign {
				position: absolute;
				top: -40rpx;
				right: 0;
				z-index: 1;

				.img_sign {
					width: 155rpx;
					height: 200rpx;
				}
			}
		}

		.attenok {
			width: 120rpx;
			height: 50rpx;
			background-color: #d8d6dc;
			color: #7c778a;
			text-align: center;
			font-size: 24rpx;
			line-height: 2;
		}

		.atten {
			width: 120rpx;
			height: 50rpx;
			background-color: #605C6B;
			color: #fff;
			text-align: center;
			font-size: 24rpx;
			line-height: 2;
		}


		.bbscell_imgbox {
			// padding: 0 30rpx;
		}

		.bbsinfo_img {
			width: 100%;
		}

		.weui-badge {
			display: inline-block;
			padding: 5rpx 20rpx;
			min-width: 8px;
			border-radius: 2px;
			background-color: #f3f9ff;
			color: #728fc4;
			line-height: 1.2;
			text-align: center;
			font-size: 24rpx;
			vertical-align: middle;
		}

		.othertop {
			color: #3a3a3a;
		}

		.borderleft {
			margin-right: 10px;
			border-left: 3px solid #605C6B;
		}

		.commentlist_cell {
			padding: 30rpx 0;
			border-bottom: 1px solid #EAEAEA;

			.comment_member_box {
				display: flex;
				align-items: center;
				padding: 0 30rpx;

				.comment_member_img_box {
					width: 80rpx;
					height: 80rpx;
					position: relative;
				}

				.avatarborder {
					width: 80rpx;
					height: 80rpx;
					position: absolute;
					right: 0;
				}

				.comment_member_img {
					width: 80rpx;
					height: 80rpx;
				}

				.comment_member_name {
					flex: 1;
					color: #3A3A3A;
					font-size: 30rpx;
					font-weight: bold;

					.comment_member_userform {
						font-size: 24rpx;
						color: #9A9A9A;
					}
				}

				.comment_praise {
					color: #9A9A9A;
					font-size: 24rpx;
					display: flex;
					align-items: center;

					.comment_praise_img {
						width: 30rpx;
						height: 28rpx;
					}
				}
			}

			.comment_content {
				color: #3A3A3A;
				font-size: 26rpx;
				padding: 30rpx;
				margin-left: 110rpx;
			}

			.comment_other {
				padding: 0 30rpx;
				display: flex;
				align-items: center;
				margin-left: 110rpx;
				font-size: 24rpx;
			}

			.comment_action {
				display: flex;
				align-items: center;
				font-size: 12px;
				color: #9A9A9A;

				.comment_time {
					flex: 1;

					.comment_reply_num {
						color: #3A3A3A;
						font-size: 12px;
					}
				}

				.comment_report {
					float: right;
				}
			}

			.comment_reply_username {
				color: #33A1FF;
				font-size: 26rpx;
			}

			.comment_reply_cell {
				color: #6A6A6A;
				font-size: 26rpx;
				display: flex;
				padding: 20rpx 0;
			}

			.comment_reply_memberimg_box {
				width: 50rpx;
				height: 50rpx;
				border-radius: 60rpx;
			}

			.comment_reply_memberimg {
				width: 50rpx;
				height: 50rpx;
				border-radius: 60rpx;
			}
		}

		.commentinfo {
			padding: 0 30rpx 30rpx 130rpx;
		}

		.comcontent {
			color: #6a6a6a;
		}
	}
</style>
