<template>
	<view class="articleinfo_box">
		<view class="video_box" v-if="info.videourl">
			<video id="myVideo" class="video" :src="info.videourl" controls :poster="info.pic_url" object-fit='cover'
				@play="playVideo" @pause="pauseVideo"></video>
			<!-- <view v-if="isSpeed" class="multiple" @click="changeSpeed">倍速X{{speedNum}}</view> -->
		</view>
		<view class="toppicbox" v-else>
			<image class="pic" :src="info.pic_url" mode="aspectFill" @click="previewImage(info.pic_url)"></image>
		</view>
		<view class="articleinfo">
			<view class="article_title">{{info.title}}</view>
			<view class="article_time">
				<span class="mr-10" v-if="info.media">{{info.media.name}} </span>{{info.time_format}}
			</view>
			<view class="article_content" v-if="content">
				<rich-text :nodes="content"></rich-text>
			</view>

			<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'rpx'">
				<view class="fake_input" @click="goComment(0)">请输入评论</view>
				<view class="bottom_info_box">
					<view class="bottom_info" @click="goComments">
						<image class="bottom_img mr-5" src="../../static/images/comment.png"></image>
						{{info.reply_num>0?info.reply_num:''}}
					</view>
					<view class="bottom_info" @click="praise">
						<image class="bottom_img mr-5"
							:src="info.is_praise==1?'../../static/images/collect_have.png':'../../static/images/collect.png'">
						</image>
						{{info.praise>0?info.praise:''}}
					</view>
					<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
					<button class="bottom_infor" open-type="share">
						<image class="bottom_img" src="../../static/images/outrelay.png"></image>
					</button>
					<!-- #endif -->
					<!-- #ifdef MP-WEIXIN||APP-PLUS -->
					<view class="bottom_infor" @click="showShare=true">
						<image class="bottom_img" src="../../static/images/outrelay.png"></image>
					</view>
					<!-- #endif -->
				</view>
			</view>
		</view>
		<view class="recommend_box comment" v-if="recommendlist.length>0">
			<view class="pd-30 bot-10">
				<view class="f-14 f-w othertop">
					<span class="borderleft"></span>其他作品
				</view>
			</view>
			<!-- <view class="article_info_title">其他作品</view> -->
			<view v-for="item in recommendlist" :key="item.id" class="recommend_list" @click="goInfo(item.id)">
				<view class="recommend_img_box mr-10">
					<image class="recommend_img" mode="aspectFill" :src="item.pic_url"></image>
				</view>

				<view class="recommend_title">{{item.title}}</view>
			</view>
		</view>
		<view class="recommend_box mt-20" v-if="tripartite_info.length>0">
			<view class="pd-30 bot-10">
				<view class="f-14 f-w othertop">
					<span class="borderleft"></span>当前文章第三方平台数据
					<!-- <span class="three_dba">（每24小时更新一次）</span> -->
				</view>
			</view>
			<view class="three_dba_box">
				<view class="three_dba_item mb-15" v-for="(item,index) in tripartite_info" :key="item.id">
					<image class="three_dba_img" :src="item.logo"></image>
					<view class="three_dba_info ml-5">
						<view class="three_dba_name">{{item.title}}</view>
						<view class="three_dba_read mt-5" v-if="item.read_num!=0">{{item.read_num}}人阅读</view>
						<view class="three_dba_read mt-5" v-if="item.read_num==0&&item.comment_num!=0">
							{{item.comment_num}}人评论
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="comment" v-if="voteinfo.id">
			<view class="pd-30 bot-10">
				<view class="f-14 f-w othertop">
					<span class="borderleft"></span>互动投票
				</view>
			</view>
			<view class="vote_box">
				<view class="vote_title">{{voteinfo.title}}</view>
				<view class="vote_info">参与人数:{{voteinfo.num}} | 截止日期:{{voteinfo.end_time}}</view>
				<view class="vote_btn_box" v-if="selected">
					<view class="vote_result">
						<view class="vote_result_left" :style="'width:'+voteinfo.tips1.percentage+'%;min-width:10%;'"
							v-if="voteinfo.tips1.name">
							<view class="vote_result_title text-l ellipsis"><span class="vote_choose"
									v-if="voteinfo.tips1.id==voteinfo.is_user_tips">(已选)</span>{{voteinfo.tips1.name}}
							</view>
							<view class="vote_result_progress btn-red">{{voteinfo.tips1.percentage}}%</view>
						</view>
						<view class="vote_result_center" :style="'width:'+voteinfo.tips2.percentage+'%;min-width:10%;'"
							v-if="voteinfo.tips2.name">
							<view
								:class="voteinfo.tips3.name?'text-c vote_result_title ellipsis':'text-r vote_result_title ellipsis'">
								<span class="vote_choose"
									v-if="voteinfo.tips2.id==voteinfo.is_user_tips">(已选)</span>{{voteinfo.tips2.name}}
							</view>
							<view class="vote_result_progress btn-blue">{{voteinfo.tips2.percentage}}%</view>
						</view>
						<view class="vote_result_right" :style="'width:'+voteinfo.tips3.percentage+'%;min-width:10%;'"
							v-if="voteinfo.tips3.name">
							<view class="vote_result_title text-r ellipsis"><span class="vote_choose"
									v-if="voteinfo.tips3.id==voteinfo.is_user_tips">(已选)</span>{{voteinfo.tips3.name}}
							</view>
							<view class="vote_result_progress btn-green">{{voteinfo.tips3.percentage}}%</view>
						</view>
					</view>
				</view>
				<view class="vote_btn_box" v-else>
					<view class="vote_btn btn-red border-four" :data-code="voteinfo.tips1.id"
						:data-name="voteinfo.tips1.name" @click="voteBtn">{{voteinfo.tips1.name}}</view>
					<image class="vote_versus" v-if="!voteinfo.tips3.name" src="/static/images/versus.png"></image>
					<view class="vote_btn btn-blue border-four" :data-code="voteinfo.tips2.id"
						:data-name="voteinfo.tips2.name" @click="voteBtn">{{voteinfo.tips2.name}}</view>
					<view class="vote_btn btn-green border-four" v-if="voteinfo.tips3.name"
						:data-name="voteinfo.tips3.name" :data-code="voteinfo.tips3.id" @click="voteBtn">
						{{voteinfo.tips3.name}}
					</view>
				</view>
			</view>
		</view>
		<view class="bot-10 pd-30" v-if="info.switch==1">
			<image class="joinpic" src="../../static/images/join.png" @click="goGroupWechat"></image>
		</view>
		<view class="commentid">
			<view class="pd-30 bot-10">
				<view class="f-14 f-w othertop">
					<span class="borderleft"></span>全部评论
				</view>
			</view>
			<view class="commentlist_cell" v-for="(item,index) in commentlist" :key="item.id">
				<view class="comment_member_box">
					<view class="comment_member_img_box"
						@click="goOther(item.user.id,item.user.form,item.user.user_name)">
						<image class="comment_member_img"
							:src="item.user.headimg_url?item.user.headimg_url:'../../static/images/default.png'">
						</image>
						<image class="avatarborder" src="../../static/images/border.gif"
							v-if="item.user.auth.is_audit==1"></image>
					</view>
					<view class="comment_member_name ml-10"
						@click="goOther(item.user.id,item.user.form,item.user.user_name)">
						{{item.user.user_name}}
						<span class="comment_member_userform" v-if="item.user.form">[{{item.user.form}}</span>
						<view class="f-12 c-gray member_approve" v-if="item.user.cars.id">
							<image class="motor_car" src="../../static/images/member_car.png"></image>
							<span>{{item.user.cars.title}} 车主</span>
						</view>
					</view>
					<view class="comment_praise" @click="commentPraise(index)">
						<image class="comment_praise_img mr-10"
							:src="item.is_praise==1?'../../static/images/collect_have.png':'../../static/images/collect.png'">
						</image>
						{{item.praise_num}}
					</view>
				</view>
				<view class="comment_content" @click="goCommentInfo(info.id,item.id)">
					{{item.content}}
				</view>
				<view class="auditbox mb-10" style="margin-left: 140rpx;" v-if="item.is_audit==0">{{audit_text}}</view>
				<view class="comment_other">
					<view class="flex-1">
						<span class="c-gray">{{item.create_time}} · </span>
						<span v-if="item.is_audit==1" @click="goComment(item.id)">回复</span>
						<span v-else>回复</span>
						<span v-if="item.reply_num>0">({{item.reply_num}})</span>
					</view>
					<view>
						<span class="c-gray f-r" v-if="item.user.id==user_id" @click="delcomm(item.id)">删除</span>
						<span class="c-gray f-r" @click="report(item.id,2)" v-else>举报</span>
					</view>
				</view>
				<view class="comment_reply_box" v-if="item.replys" @click="goCommentInfo(info.id,item.id)">
					<block v-for="itemr in item.replys" :key="itemr.id">
						<view class="comment_reply_cell">
							<view class="comment_reply_memberimg_box">
								<image class="comment_reply_memberimg"
									:src="itemr.user.headimg_url?itemr.user.headimg_url:'../../static/images/default.png'">
								</image>
							</view>
							<view class="ml-10 f-13">
								<span class="f-w c-username mr-10">
									<span class='f-w f-13'>{{itemr.user.user_name}}</span>
									<span class="f-12 c-gray" v-if="itemr.user.form">[{{itemr.user.form}}</span>
								</span>回复
								<span class="c-username">
									<span class='f-w f-13'>{{item.reuser.user_name}}</span>
									<span class="f-12 c-gray" v-if="itemr.reuser.form">[{{itemr.reuser.form}}</span>:
								</span>
								<span class="comcontent">{{itemr.content}}</span>
							</view>
						</view>
						<view class="auditbox" style="width: auto;" v-if="itemr.is_audit==0">{{audit_text}}</view>
					</block>
				</view>
			</view>
			<view class="loading" style="background-color: #FFFFFF;" v-if="showLoading"
				:style="'padding-bottom:'+bottomHeight+'rpx;'">
				<image class="gif" src="../../static/images/loading_lexus.gif"></image>
			</view>
			<view class="loading" style="background-color: #FFFFFF;" v-else
				:style="'padding-bottom:'+bottomHeight+'rpx;'">
				<view class="f-12 c-gray text-c pd-40">{{loadingTitle}}</view>
			</view>
		</view>
		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'rpx'">
				<view class="display_flex" style="justify-content: center;">
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
					<view class="c-black f-10 ml-5 mr-5">分享</view>
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
				</view>
				<!-- #ifdef MP-WEIXIN -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="../../static/images/friends.png"></image>
					</view>
					<button class="share_cell" open-type="share" @click="showShare=false">
						<image class="share_img" style="width: 44rpx;" src="../../static/images/wechat.png"></image>
					</button>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="../../static/images/friends.png"></image>
					</view>
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" style="width: 44rpx;" src="../../static/images/wechat.png"></image>
					</view>
				</view>
				<!-- #endif -->
				<view class="mt-20" style="border-top: 1rpx solid #eaeaea;padding-top: 30rpx;padding-bottom: 10rpx;"
					@click="showShare=false">取消
				</view>
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>
		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getArticleInfo,
		getRecommends,
		getCommentlist,
		articlePraise,
		articlenoPraise,
		articleCollect,
		articleCommPraise,
		articleCommDel,
		articlePoster,
		voteChoose,
		voteInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				showLoading: true,
				id: '',
				params: {
					user_id: ''
				},
				paramsc: {
					page: 1,
					size: 10,
					user_id: '',
					order: 1,
					source: app.globalData.source
				},
				user_id: 0,
				info: '',
				content: '',
				bottomHeight: app.globalData.bottomheight * 2 + 110,
				bottomBox: 16,
				recommendlist: [],
				tripartite_info: [],
				commentlist: [],
				total: 0,
				loadingTitle: '已加载全部',
				scrollTop: 0,
				showShare: false,
				showShareUrl: false,
				share_url: '',
				voteinfo: '',
				selected: false,
				images: [],
				audit_text: '',
				speedNum: 1,
				isSpeed: false
			}
		},
		onReady() {
			this.videoContext = uni.createVideoContext('myVideo')
		},
		onLoad(options) {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.id = list[0]
			this.getArticleInfo()
			this.getRecommends()
			this.getCommentlist()
		},
		onShow() {
			this.audit_text = uni.getStorageSync('member') ? uni.getStorageSync('member').audit_text :
				'评论内容人工审核中，审核时间预估3-15分钟。'
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			if (app.globalData.statusBarHeight < 30) {
				this.bottomBox = 16
			} else {
				this.bottomBox = 60
			}

			if (uni.getStorageSync('onload')) {
				this.getArticleInfo()
				uni.removeStorage({
					key: 'onload'
				})
			}
			if (uni.getStorageSync('comment')) {
				this.paramsc.page = 1
				this.commentlist = []
				this.getCommentlist()
				setTimeout(function() {
					uni.createSelectorQuery().select('.commentid').boundingClientRect(res => {
						var top = res.top
						var that = this
						if (that.scrollTop > 0) {
							uni.pageScrollTo({
								scrollTop: that.scrollTop + top,
								duration: 300
							})
						} else {
							uni.pageScrollTo({
								scrollTop: top,
								duration: 300
							})
						}
					}).exec()
				}, 500)
				uni.removeStorage({
					key: 'comment',
				})
			}
		},
		methods: {
			goCommentInfo(pid, id) {
				uni.navigateTo({
					url: '/pages/commentinfo/commentinfo?pid=' + pid + '&id=' + id
				})
			},
			//滑动距离
			onPageScroll: function(e) {
				this.scrollTop = e.scrollTop
			},
			//详情
			getArticleInfo() {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getArticleInfo(this.params, this.id).then(res => {
					if (res.state == 1) {
						this.tripartite_info = res.data.tripartite_info
						var info = res.data
						var imgReg = /<img.*?(?:>|\/>)/gi;
						var srcReg = /src=[\'\"]?([^\'\"]*)[\'\"]?/i;
						var urlList = []
						var content = info.content
						if (content) {
							var arr = info.content.match(imgReg);
							if (arr) {
								for (var i = 0; i < arr.length; i++) {
									var src = arr[i].match(srcReg);
									//获取图片
									content = info.content.replace(/\<img/gi,
										'<img class="contentimg" style="max-width:100%;height:auto;" ')
									urlList.push(src[1])
								}
							}
						}
						// #ifdef  MP-TOUTIAO||H5
						this.content = content.replace(/<br>/g, '')
						// #endif
						// #ifndef  MP-TOUTIAO
						this.content = content
						// #endif
						this.info = info
						this.voteinfo = info.vote_info
						if (info.vote_info.id) {
							this.selected = res.data.vote_info.is_user_vote
							var oDate1 = new Date();
							var oDate2 = new Date(res.data.vote_info.end_time);
							if (oDate1.getTime() > oDate2.getTime()) {
								this.timeOut = false
							} else {
								this.timeOut = true
							}
							if (res.data.vote_info.end_tip) {
								this.vote_end_tip = res.data.vote_info.end_tip
							}
						}
						var all_pics = res.data.all_pics
						if (all_pics.length > 0) {
							for (var i = 0; i < all_pics.length; i++) {
								if (all_pics[i].img_url) {
									this.images.push(all_pics[i].img_url)
								}

							}
						} else {
							this.images.push(res.data.pic_url)
						}
						var params = {
							event_code: '文章详情',
							path: 'pages/article/article',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)

					}

				})
			},
			//相关推荐
			getRecommends() {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getRecommends(this.params, this.id).then(res => {
					if (res.state == 1) {
						this.recommendlist = res.data
					}

				})
			},
			//评论列表
			getCommentlist() {
				this.paramsc.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getCommentlist(this.paramsc, this.id).then(res => {
					if (res.state == 1) {

						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						this.total = res.data.total
						if (res.data.total == 0) {
							this.loadingTitle = "暂无评论"
						}
						if (this.current_page == this.last_page) {
							this.showLoading = false
						}
						var list = res.data.data

						for (var i = 0; i < list.length; i++) {
							if (list[i].user) {
								var user_name = list[i].user.user_name
								var arr = user_name.split('[');
								list[i].user.user_name = arr[0]
								list[i].user.form = arr[1]
								var replys = list[i].replys
								if (replys) {
									for (var j = 0; j < replys.length; j++) {
										var user_name = replys[j].user.user_name
										var arr = user_name.split('[');
										replys[j].user.user_name = arr[0]
										replys[j].user.form = arr[1]
										var ruser_name = replys[j].reuser.user_name
										var rarr = ruser_name.split('[');
										replys[j].reuser.user_name = rarr[0]
										replys[j].reuser.form = rarr[1]
									}
								}
							}
						}
						if (this.paramsc.page > 1) {
							this.commentlist.push.apply(this.commentlist, list)
						} else {
							this.commentlist = list
						}

					}

				})
			},
			//跳转写评论页
			goComment(rid) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.id + '&rid=' + rid + '&type=1'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: this.id,
					title: this.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-去评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			//资讯点赞
			praise() {
				if (uni.getStorageSync('access_token')) {
					if (this.info.is_praise_no == 1) {
						articlenoPraise({
							id: this.info.id,
							type: 2
						}).then(res => {
							if (res.state == 1) {
								this.info.is_praise_no = 0
							}
						})
					}

					var params = {
						id: this.info.id,
						type: this.info.is_praise == 1 ? 2 : 1
					}
					articlePraise(params).then(res => {
						if (res.state == 1) {

							if (this.info.is_praise == 0) {
								this.info.praise++
							} else {
								this.info.praise--
							}
							this.info.is_praise = this.info.is_praise == 1 ? 0 : 1
						}

					})
					if (this.info.is_praise == 1) {
						var source_page = '取消赞'
					} else {
						var source_page = '点赞'
					}
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//一般般
			nopraise() {
				if (uni.getStorageSync('access_token')) {
					if (this.info.is_praise == 1) {
						articlePraise({
							id: this.info.id,
							type: 2
						}).then(res => {
							if (res.state == 1) {

								this.info.praise--
								this.info.is_praise = 0
							}
						})
					}
					var params = {
						id: this.info.id,
						type: this.info.is_praise_no == 1 ? 2 : 1
					}
					articlenoPraise(params).then(res => {
						if (res.state == 1) {
							this.info.is_praise_no = this.info.is_praise_no == 1 ? 0 : 1
						}
					})
					if (this.info.is_praise_no == 1) {
						var source_page = '一般般'
					} else {
						var source_page = '值得看'
					}
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//点赞
			praise() {
				if (uni.getStorageSync('access_token')) {
					var type = this.info.is_praise
					var params = {
						id: this.info.id,
						type: type == 1 ? 2 : 1
					}
					articlePraise(params).then(res => {
						if (res.state == 1) {

							if (type == 1) {
								this.info.is_praise = 0
								this.info.praise = this.info.praise - 1
							} else {
								this.info.is_praise = 1
								this.info.praise = this.info.praise + 1
							}
						}
					})
					if (this.info.is_praise_no == 1) {
						var source_page = '取消赞'
					} else {
						var source_page = '点赞'
					}
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//评论点赞
			commentPraise(index) {
				if (this.commentlist[index].is_audit == 1) {
					if (uni.getStorageSync('access_token')) {
						var params = {
							id: this.commentlist[index].id,
							type: this.commentlist[index].is_praise == 1 ? 2 : 1
						}
						articleCommPraise(params).then(res => {
							if (res.state == 1) {
								if (this.commentlist[index].is_praise == 0) {
									this.commentlist[index].praise_num++
									this.commentlist[index].is_praise = 1
								} else {
									this.commentlist[index].praise_num--
									this.commentlist[index].is_praise = 0
								}
							}
						})
						if (this.commentlist[index].is_praise == 1) {
							var source_page = '评论取消赞'
						} else {
							var source_page = '评论点赞'
						}
						var params = {
							event_code: '文章详情',
							path: 'pages/article/article',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: this.id,
							title: this.info.title,
							invitees_scene_id: '',
							source_page: '文章详情-' + source_page,
							value: '',
						}
						app.BurialPoint(params)
					} else {
						uni.navigateTo({
							url: '/pages/login/login'
						})
					}
				}

			},
			//删除评论
			delComment(index) {
				var that = this
				uni.showModal({
					content: '确定要删除这条评论吗？',
					confirmText: '删除',
					success: function(res) {
						if (res.confirm) {
							articleCommDel(that.commentlist[index].id).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '已删除',
										icon: 'success',
									});
									// var commentlist =that.commentlist
									that.commentlist.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});

				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: that.id,
					title: that.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-删除评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			//滑动到评论位置
			goComments() {
				uni.createSelectorQuery().select('.commentid').boundingClientRect(res => {
					var top = res.top
					if (this.scrollTop > 0) {
						uni.pageScrollTo({
							scrollTop: this.scrollTop + top,
							duration: 300
						})
					} else {
						uni.pageScrollTo({
							scrollTop: top,
							duration: 300
						})
					}
				}).exec()
			},
			//推荐资讯跳转
			goInfo(id) {
				uni.navigateTo({
					url: '/pages/article/article?scene=' + id
				})
				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: this.id,
					title: this.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-跳转推荐',
					value: '',
				}
				app.BurialPoint(params)
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						source: app.globalData.source,
						id: this.id,
						user_id: uni.getStorageSync('member').id
					}
					articlePoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//投票
			voteBtn(e) {
				var code = e.currentTarget.dataset.code
				var name = e.currentTarget.dataset.name
				if (uni.getStorageSync('access_token')) {
					if (this.timeOut) {
						var params = {
							vote_id: this.voteinfo.id,
							tip_id: code,
							tip_name: name
						}
						voteChoose(params).then(res => {
							if (res.state == 1) {
								uni.showToast({
									title: '参与成功',
									icon: 'none',
									duration: 1500
								});

								this.vote_code = code,
									this.selected = true
								this.getVoteinfo()
							}
						})
						var params = {
							event_code: '文章详情',
							path: 'pages/article/article',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: this.voteinfo.id,
							title: this.voteinfo.title,
							invitees_scene_id: '',
							source_page: '文章详情-参与投票',
							value: '',
						}
						app.BurialPoint(params)
					} else {
						uni.showToast({
							title: this.vote_end_tip,
							icon: 'none',
							duration: 2000
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			getVoteinfo() {
				voteInfo(this.voteinfo.id).then(res => {
					if (res.state == 1) {
						this.voteinfo = res.data
					}
				})
			},
			goGroupWechat() {
				var that = this
				console.log(that.info.media.id)
				uni.navigateToMiniProgram({
					appId: 'wx8f6737777e20061c',
					path: 'pages/index/index?media_id=' + that.info.media.id,
					envVersion: 'develop',
					success(res) {
						// 打开成功
					}
				})
			},
			//微信app分享
			shareApp(scene) {
				var that = this
				if (scene == 'WXSceneSession') {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.info.title,
						imageUrl: that.info.share_image,
						miniProgram: {
							id: 'gh_d2c493f1bc41',
							path: '/pages/article/article?scene=' + that.id,
							type: 0,
							webUrl: "https://m.motortime.com/article/" + that.id + "/post"
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				} else {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/article/" + that.id + "/post",
						title: that.info.title,
						summary: that.info.description,
						imageUrl: that.info.share_image,
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}
				app.getShareTask('/pages/article/article')
			},
			moreReply(pid) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentinfo/commentinfo?id=' + this.id + '&pid=' + pid + '&source=1'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			previewImage: function(img) {
				uni.previewImage({
					current: img, // 当前显示图片的http链接
					urls: this.images // 需要预览的图片http链接列表
				})
				var params = {
					event_code: '文章详情',
					event_id: this.id,
					title: this.info.title,
					value: '',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 9,
					source_page: '文章详情-预览图片'
				}
				app.BurialPoint(params)
			},
			goOther(id, from, username) {
				// if (from) {
				// 	uni.showModal({
				// 		content: '来自 ' + username + '的评论',
				// 		confirmText: "关闭",
				// 		showCancel: false,
				// 		success: function(res) {
				// 			if (res.confirm) {

				// 			} else {
				// 				console.log('用户点击取消')
				// 			}
				// 		}
				// 	});
				// } else {
				// 	uni.navigateTo({
				// 		url: '/pages/other/other?scene=' + id
				// 	})
				// }
			},
			report(id, type) {
				uni.showModal({
					content: '确定要举报吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							uni.showToast({
								title: "举报成功",
								mask: true,
								icon: 'success',
								duration: 1500
							})
						} else {
							console.log('用户点击取消')
						}
					}
				});

				var params = {
					event_code: '文章详情',
					event_id: id,
					title: this.info.title,
					value: '',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 9,
					source_page: '文章详情-举报评论'
				}
				app.BurialPoint(params)
			},
			changeSpeed() {
				if (this.speedNum == 1) {
					this.videoContext.playbackRate(1.5)
					this.speedNum = 1.5
				} else if (this.speedNum == 1.5) {
					this.videoContext.playbackRate(2)
					this.speedNum = 2
				} else if (this.speedNum == 2) {
					this.videoContext.playbackRate(1)
					this.speedNum = 1
				}
			},
			playVideo() {
				this.isSpeed = true
			},
			pauseVideo() {
				this.isSpeed = false
			},
		},
		onPageScroll(e) {
			this.scrollTop = e.scrollTop
		},
		//加载更多
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.paramsc.page = this.paramsc.page + 1
				this.showLoading = true
				this.getCommentlist()
			} else {
				this.showLoading = false
				this.loadingTitle = "已加载全部"
			}

		},
		//分享
		onShareAppMessage(res) {
			app.getShareTask('/pages/article/article')
			this.showShare = false
			return {
				title: this.info.title,
				path: '/pages/article/article?scene=' + this.id,
				imageUrl: this.info.share_image
			}
		},
		onShareTimeline: function() {
			app.getShareTask('/pages/article/article')
			return {
				title: this.info.title,
				path: '/pages/article/article?scene=' + this.id,
				imageUrl: this.info.share_image
			}
		},
	}
</script>

<style lang="scss">
	.articleinfo_box {
		overflow-x: hidden;

		.toppicbox {
			width: 100%;
			min-height: 480rpx;

			.pic {
				width: 100%;
			}
		}

		.video_box {
			position: relative;

			.video {
				width: 100%;
				height: 480rpx;
			}
		}

		.articleinfo {
			padding: 20rpx;

		}

		.article_title {
			color: #3A3A3A;
			font-size: 17px;
			font-weight: bold;
		}

		.article_content {
			line-height: 2;
			font-size: 28rpx !important;
		}

		.contentimg {
			max-width: 100% !important;
			// border-radius: 16rpx;
		}

		.article_time {
			color: #9A9A9A;
			font-size: 24rpx;
			margin: 30rpx 0;
		}

		.copyright {
			color: #9A9A9A;
			font-size: 28rpx;
		}

		.praise_box {
			display: flex;
			align-items: center;
			justify-content: center;

			.praise_border {
				font-size: 11px;
				color: #3A3A3A;
				padding: 20rpx 40rpx;
				border: 0.5px solid #9A9A9A;
				border-radius: 30px;
				margin: 0 8px;
				display: flex;
				align-items: center;
			}

			.praise_borderright {
				font-size: 11px;
				color: #3A3A3A;
				padding: 20rpx 60rpx;
				border: 0.5px solid #9A9A9A;
				border-radius: 30px;
				margin: 0 8px;
				display: flex;
				align-items: center;
			}

			.praise_img {
				width: 15px;
				height: 14px;
			}
		}

		.recommend_box {
			// border-top: 1px solid #EAEAEA;
			// padding: 0 10px;

			.recommend_list {
				display: flex;
				margin: 10rpx 0;
				padding: 0 20rpx;

				.recommend_img_box {
					width: 300rpx;
					height: 205rpx;
					border-radius: 5rpx;
				}

				.recommend_img {
					width: 300rpx;
					height: 205rpx;
					border-radius: 5rpx;
					float: left;
				}

				.recommend_title {
					height: 200rpx;
					color: #3A3A3A;
					font-size: 28rpx;

					.motor_badge {
						color: #FF0000;
						font-size: 20rpx;
						border: 1px solid #FF0000;
						border-radius: 2px;
						padding: 0 10rpx;
						white-space: nowrap;
					}
				}
			}

			.three_dba_box {
				overflow: hidden;
				padding: 0 20rpx;

				.three_dba_item {
					display: flex;
					width: 33.333%;
					float: left;

					.three_dba_img {
						width: 80rpx;
						height: 80rpx;
						border: 1px solid #f7f7f7;
						border-radius: 4px;
					}

					.three_dba_info {
						.three_dba_name {
							color: #3A3A3A;
							font-size: 24rpx;
							font-weight: bold;
						}

						.three_dba_read {
							color: #9A9A9A;
							font-size: 24rpx;
						}
					}
				}

			}
		}

		.commentlist_box {
			border-top: 20rpx solid #EAEAEA;
			padding: 0 20rpx;
		}

		.comment_type {
			color: #9A9A9A;
			font-size: 26rpx;
			float: right;
			font-weight: 400;
		}

		.commentlist_cell {
			padding: 30rpx 0;
			border-bottom: 1px solid #EAEAEA;

			.comment_member_box {
				display: flex;
				align-items: center;
				padding: 0 30rpx;

				.comment_member_img_box {
					width: 80rpx;
					height: 80rpx;
					border-radius: 60rpx;
					position: relative;
				}

				.avatarborder {
					width: 80rpx;
					height: 80rpx;
					position: absolute;
					right: 0;
				}

				.comment_member_img {
					width: 80rpx;
					height: 80rpx;
					border-radius: 60rpx;
				}

				.comment_member_name {
					flex: 1;
					color: #3A3A3A;
					font-size: 30rpx;
					font-weight: bold;

					.comment_member_userform {
						font-size: 24rpx;
						color: #9A9A9A;
					}
				}

				.comment_praise {
					color: #9A9A9A;
					font-size: 24rpx;
					display: flex;
					align-items: center;

					.comment_praise_img {
						width: 30rpx;
						height: 28rpx;
					}
				}
			}

			.comment_content {
				color: #3A3A3A;
				font-size: 26rpx;
				padding: 30rpx;
				margin-left: 110rpx;
			}

			.comment_other {
				padding: 0 30rpx;
				display: flex;
				align-items: center;
				margin-left: 110rpx;
				font-size: 24rpx;
			}

			.comment_reply_box {
				padding: 0 30rpx;

				margin-left: 110rpx;
				font-size: 24rpx;
			}

			.comment_action {
				display: flex;
				align-items: center;
				font-size: 12px;
				color: #9A9A9A;

				.comment_time {
					flex: 1;

					.comment_reply_num {
						color: #3A3A3A;
						font-size: 12px;
					}
				}

				.comment_report {
					float: right;
				}
			}

			.comment_reply_username {
				color: #33A1FF;
				font-size: 26rpx;
			}

			.comment_reply_cell {
				color: #6A6A6A;
				font-size: 26rpx;
				display: flex;
				padding: 20rpx 0;
			}

			.comment_reply_memberimg_box {
				width: 50rpx;
				height: 50rpx;
				border-radius: 60rpx;
			}

			.comment_reply_memberimg {
				width: 50rpx;
				height: 50rpx;
				border-radius: 60rpx;
			}
		}


		.article_info_title {
			color: #3A3A3A;
			font-size: 13px;
			font-weight: bold;
			padding: 15px 0;

			.three_dba {
				color: #9A9A9A;
				font-size: 13px;
			}
		}

		.othertop {
			color: #3a3a3a;
		}

		.borderleft {
			margin-right: 10px;
			border-left: 3px solid #605C6B;
		}

		.vote_box {
			padding-bottom: 30rpx;
			text-align: center;

			.vote_title {
				font-size: 28rpx;
				font-weight: bold;
				margin: 15rpx;
			}

			.vote_info {
				color: #999999;
				font-size: 24rpx;
				margin: 15rpx;
			}

			.vote_btn_box {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 60rpx 15rpx 10rpx 15rpx;
			}

			.vote_btn {
				color: #fff;
				font-size: 24rpx;
				padding: 8rpx 0;
				margin: 0 20rpx;
				min-width: 160rpx;
			}

			.btn-red {
				background-color: #D24064;
			}

			.btn-blue {
				background-color: #3D50CB;
			}

			.btn-green {
				background-color: #469E6C;
			}

			.vote_versus {
				/* color: #E02020; */
				width: 50rpx;
				height: 36rpx;
				margin: 0 20rpx;
			}

			.vote_result_box {
				/* margin-top: 40rpx; */
				margin-bottom: 10rpx;
				min-height: 100rpx;
			}

			.vote_result {
				display: flex;
				width: 100%;
			}

			.vote_result_progress {
				color: #fff;
				font-size: 24rpx;
				padding: 8rpx 10rpx;
			}

			.vote_result_title {
				font-size: 24rpx;
				margin: 5rpx 0;
			}

			.vote_choose {
				color: #999999;
			}
		}

		.joinpic {
			height: 90rpx;
			width: 100%;
		}

		.bot-10 {
			border-top: 20rpx solid #f8f8f8;
		}

		.pd-30 {
			padding: 30rpx;
		}
	}
</style>
