<template>
	<view class="commentpost">
		<view class="textarea_box">
			<textarea style="font-size: 13px;" :focus="true" :auto-blur="true" placeholder="添加评论" @input="textarea"
				:maxlength="500" />

		</view>
		<view class="comment_action">
			<view class="comment_num mr-10">{{cursor}}/{{num}}</view>
			<view class="comment_btn" @click="commentPost">发表</view>
		</view>
	</view>
</template>

<script>
	import {
		articleCommentpost,
		bbsCommentpost
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				id: 0,
				rid: 0,
				pid: 0,
				type: 1,
				cursor: 0,
				num: 500,
				content: ''
			};
		},
		onLoad(options) {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			this.id = options.id
			this.rid = options.rid
			this.pid = options.pid
			this.type = options.type

		},
		onShow() {
			var params = {
				event_code: '评论',
				path: 'pages/commentpost/commentpost',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		methods: {
			//输入评论
			textarea(e) {
				this.cursor = e.detail.cursor
				this.content = e.detail.value
				this.num = 500 - e.detail.value.length
			},
			//发表评论
			commentPost() {
				if (uni.getStorageSync('access_token')) {
					if (!this.content) {
						uni.showToast({
							title: '请输入评论内容',
							icon: 'none',
							duration: 1500
						})
						return false
					} else {
						if (this.type == 0) {
							var params = {
								card_id: this.id,
								rid: this.rid ? this.rid : '',
								content: this.content
							}
							bbsCommentpost(params).then(res => {
								if (res.state == 1) {
									uni.setStorage({
										data: '1',
										key: 'comment',
										success() {
											uni.navigateBack({
												delta: 1
											})
										}
									})


								}
							})
						} else {
							if (this.type == 1) {
								var params = {
									archive_id: this.id,
									rid: this.rid,
									content: this.content
								}
							} else if (this.type == 2) {
								var params = {
									archive_id: this.id,
									parent_rid: this.parent_rid,
									rid: this.rid,
									content: this.content
								}
							}
							articleCommentpost(params).then(res => {
								if (res.state == 1) {
									uni.setStorage({
										data: '1',
										key: 'comment',
										success() {
											uni.navigateBack({
												delta: 1
											})
										}
									})


								}
							})
						}
					}
				} else {
					// uni.navigateTo({
					// 	url: '/pages/login/login'
					// })
				}
			}
		}
	}
</script>

<style lang="scss">
	.commentpost {
		.textarea_box {
			border-top: 1px solid #eaeaea;
			height: 280rpx;
			padding: 20rpx;

		}

		.comment_action {
			border-bottom: 1px solid #eaeaea;
			padding: 20rpx;
			display: flex;
			align-items: center;

			.comment_num {
				flex: 1;
				color: #9a9a9a;
				font-size: 24rpx;
				text-align: right;

			}

			.comment_btn {
				font-size: 13px;
				color: #FFFFFF;
				background-color: #605C6B;
				border-radius: 2.5px;
				padding: 15rpx 50rpx;
				float: right;
			}
		}
	}
</style>
