<template>
	<view class="member">
		<uni-grid :column="4" :showBorder="false" :highlight="false" :square="false">
			<uni-grid-item class="mt-20 mb-20">
				<view class="text-c" @click="goPage('/pages/memberinfo/memberinfo')">
					<image class="member_icon" src="../../static/images/member/memberinfo.png"></image>
					<view class="f-13 mt-10">我的信息</view>
				</view>
			</uni-grid-item>
			<uni-grid-item class="mt-20 mb-20">
				<view class="text-c" @click="goCarPage('/pages/motormaster/motormaster')">
					<image class="member_icon" src="../../static/images/member/mycar.png"></image>
					<view class="f-13 mt-10">车主认证</view>
				</view>
			</uni-grid-item>
			<uni-grid-item class="mt-20 mb-20">
				<view class="text-c" @click="goMsgPage('/pages/mymessage/mymessage')">
					<image class="member_icon" src="../../static/images/member/message.png"></image>
					<view class="f-13 mt-10">我的消息</view>
				</view>
			</uni-grid-item>
			<uni-grid-item class="mt-20 mb-20">
				<view class="text-c" @click="goPage('/pages/accountsafe/accountsafe')">
					<image style="width: 36rpx;height: 40rpx;" src="../../static/images/member/safety.png"></image>
					<view class="f-13 mt-10">账号安全</view>
				</view>
			</uni-grid-item>
			<uni-grid-item class="mt-20 mb-20">
				<view class="text-c c-gray">
					<image class="member_icon img_gray" src="../../static/images/member/post.png"></image>
					<view class="f-13 mt-10">我的草稿</view>
				</view>
			</uni-grid-item>
		</uni-grid>
		<view class="btn_block" style="position: fixed;bottom: 50rpx;left: 30rpx;right: 30rpx;" @click="exit()">退出</view>
	</view>
</template>

<script>
	import {
		noticeTemplate,
		getMyCarlist
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {

			};
		},
		onLoad() {
			var params = {
				event_code: '我的服务',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/member/member',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source_page: ''
			}
			app.BurialPoint(params)
		},
		methods: {
			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},
			goCarPage(url) {
				// #ifdef  MP-WEIXIN
				uni.requestSubscribeMessage({
					tmplIds: ['7QA17_86V92VKsP7H1b47Ey7SrGPqqNxjZXIRFyFk00'],
					success: function(res) {
						noticeTemplate({
							template_type: 2
						}).then(res => {
							if (res.state == 1) {

							} else {

							}
						})
					},
					file: function(e) {
						console.log(e)
					}
				})
				getMyCarlist({
					brand_id: 1
				}).then(res => {
					if (res.state == 1) {
						var list = res.data
						if (list.length > 0) {
							uni.navigateTo({
								url: url,
							})
						} else {
							uni.navigateTo({
								url: '/pages/approve/approve',
							})
						}
					} else {
				
					}
				})
				// #endif
				// #ifdef APP-PLUS
				uni.navigateTo({
					url: url,
				})
				// #endif
			},
			goMsgPage(url){
				// #ifdef  MP-WEIXIN
				uni.requestSubscribeMessage({
					tmplIds: ['MtJK_86rvD2wzIa4igTRe9j6VOgdkJf-TR8vL1HPtF0',
						'rZc2hiIzeF_f_NCZXbqmw_CGnbxOepVaAlKE_VjCcRw'
					],
					success: function(res) {
						noticeTemplate({
							template_type: 1
						}).then(res => {
							if (res.state == 1) {
				
							} else {
				
							}
						})
					},
					file: function(e) {
						console.log(e)
					}
				})
				// #endif
				uni.navigateTo({
					url: '/pages/mymessage/mymessage'
				})
			},
			exit(){
				uni.removeStorage({
					key:'access_token'
				})
				uni.removeStorage({
					key:'member'
				})
				uni.removeStorage({
					key:'onload'
				})
				uni.removeStorage({
					key:'onlist'
				})
				uni.navigateBack({
					delta:1
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F1F1F1;
	}

	.member {
		padding: 50rpx 30rpx;
		background-color: #FFFFFF;
		// margin-top: 20rpx;

		.member_icon {
			width: 40rpx;
			height: 40rpx;
		}
	}
</style>
