<template>
	<view class="carinfo">
		<view class="model_name">
			<view class="f-w f-14 flex-1">认证车型</view>
			<view class="f-14 c-gray">{{model_name}}</view>
		</view>
		<block v-if="is_have_card==1">
			<view class="pd-30">
				<view class="bg"
					:style="travel=='https://pic.motortime.com/static/travel.png'?'border: 2px dashed #979797;background-image: url('+travel+');':'background-image: url('+travel+');'"
					@click="chooseImage('travel')">
					<view class="infobox" v-if="!travelUp">
						<image class="camera" src="/static/images/camera.png"></image>
						<view class="f-w f-13">请添加行驶证照片</view>
					</view>
				</view>
			</view>
		</block>
		<view class="pd-30">
			<view class="bg"
				:style="driving=='https://pic.motortime.com/static/mycars.png'?'background-image: url('+driving+');border: 2px dashed #979797':'background-image: url('+driving+');'"
				@click="chooseImage('driving')">
				<view class="infobox" v-if="!drivingUp">
					<image class="camera" src="/static/images/camera.png"></image>
					<view class="f-w f-13">请上传一张您爱车的照片<span v-if="aretype==1">
							<block v-if="is_have_card==1">（选填）</block>
						</span></view>
				</view>
			</view>
		</view>
		<block v-if="show">
			<view class="display_flex" style="padding: 0 30rpx;">
				<radio value="r1" :checked="checked" style="transform:scale(0.6)" @click="checkboxChange"
					color='#605C6B' />
				<view class="f-12">
					<text @click="checkboxChange" class="c-gray">我已阅读并同意</text>
					<text class="c-conten" @click="goWebview">《凌志范儿车主认证个人信息保护声明》</text>
				</view>
			</view>
			<view @click="saveCar" :class="checked?'btn_block':'btn_block_none'">提交认证信息</view>
		</block>
	</view>
</template>

<script>
	import {
		getCarinfo,
		submitCars,
		editCars
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				brand_id: 1,
				travel: 'https://pic.motortime.com/static/travel.png',
				driving: 'https://pic.motortime.com/static/mycars.png',
				drivingUp: false,
				travelUp: false,
				show: true,
				model_name: '请选择',
				checked: false,
				disabled: true,
				carid: '',
				aretype: '',
				car_name: '',
				car_generation_name: '',
				car_model_name: '',
				is_have_card: 1,
				car_card: ''
			};
		},
		onLoad(options) {
			this.ever = options.ever

			if (options.model_name) {
				this.is_have_card = options.is_have_card
				this.aretype = options.type
				this.car_id = options.car_id
				this.car_generation_id = options.gid
				this.car_model_id = options.model_id
				this.show = true
				this.model_name = options.model_name
				this.car_name = options.car_name
				this.car_generation_name = options.car_generation_name
				this.car_model_name = options.car_model_name
			} else if (options.carid) {
				this.carid = options.carid
				this.car_generation_id = options.gid
				if (options.audit == 0) {
					this.show = true
				} else {
					this.show = false
				}
				this.getCarinfo(options.carid)
			}
			var params = {
				event_code: '车主认证-上传资料',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/carinfo/carinfo',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: 9,
				source_page: ''
			}
			app.BurialPoint(params)
		},
		methods: {

			getCarinfo(id) {
				getCarinfo(id).then(res => {
					if (res.state == 1) {
						var info = res.data
						this.info = res.data
						if (info.car_card_url) {
							this.travelUp = true
							this.travel = info.car_card_url
						} else {
							this.travel = 'https://pic.motortime.com/static/travel.png'
							if (info.is_audit == 0) {
								this.travelUp = false
							} else {
								this.travelUp = true
							}
						}
						if (info.car_pic_url) {
							this.drivingUp = true
							this.driving = info.car_pic_url
							this.driver_card = info.car_pic
						} else {
							if (info.is_audit == 0) {
								this.drivingUp = false
							} else {
								this.drivingUp = true
							}
						}
						if (info.car_model) {
							var car_modeltitle = info.car_model.title
							var car_modelid = info.car_model.id
						} else {
							var car_modeltitle = info.car_model_name
							var car_modelid = ''
						}
						if (info.car_generation) {
							var car_generationid = info.car_generation.id
						} else {
							var car_generationtitle = ''
							var car_modelid = ''
						}
						if (info.car) {
							var car_id = info.car.id
							var model_name = info.car.title + ' ' + car_modeltitle
						} else {
							var car_id = ''
							var model_name = info.car_name + info.car_model_name
						}
						this.carid = info.id
						this.model_name = model_name
						this.brand_id = info.brand.id
						this.car_id = car_id
						this.car_generation_id = car_generationid
						this.car_model_id = car_modelid
						this.car_card = info.car_card
						this.is_audit = info.is_audit
						this.car_name = info.car_name
						this.car_generation_name = info.car_generation_name
						this.car_model_name = info.car_model_name
						this.car_card_old = info.car_card_old
						this.car_card_url = info.car_card_url
						this.is_have_card = info.is_have_card
						this.aretype = info.region
					} else {

					}
				})
			},
			checkboxChange() {
				this.checked = this.checked ? false : true
			},
			goWebview() {
				uni.navigateTo({
					url: '/pages/webview/webview?scene=https://m.motortime.com/lexus/carstate',
				})
			},
			chooseImage(type) {
				var that = this
				if (that.show) {
					uni.chooseImage({
						count: 1,
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						success: function(res) {
							var tempFilePaths = res.tempFilePaths
							uni.uploadFile({
								url: app.globalData.uploadUrl,
								filePath: tempFilePaths[0],
								name: 'img',
								success: (uploadFileRes) => {
									console.log(JSON.parse(uploadFileRes.data));
									var picdata = JSON.parse(uploadFileRes.data);
									if (type == 'driving') {
										that.driver_card = picdata.data.img
										that.driving = picdata.data.img_url
										that.drivingUp = true
									}
									if (type == 'travel') {
										that.car_card = picdata.data.img
										that.travel = picdata.data.img_url
										that.travelUp = true
									}
								}
							});
						}
					});
				}
			},
			saveCar() {
				var that = this
				var param = {
					source: 9,
					brand_id: 1,
					car_id: parseInt(that.car_id),
					car_generation_id: parseInt(that.car_generation_id),
					car_model_id: parseInt(that.car_model_id),
					car_card: that.car_card,
					car_pic: that.driver_card,
					car_name: that.car_name,
					car_generation_name: that.car_generation_name,
					car_model_name: that.car_model_name,
					is_owned: that.ever,
					is_have_card: that.is_have_card
				}
				if (that.carid) {
					editCars(param, that.carid).then(res => {
						if (res.state == 1) {
							uni.showToast({
								title: '保存成功',
								mask: true,
								icon: 'success',
								duration: 1500,
								success: function() {
									setTimeout(function() {
										if (that.is_have_card == 1 && that
											.car_card == '') {
											uni.redirectTo({
												url: '/pages/audit/audit?tips=1',
											})
										} else {
											uni.redirectTo({
												url: '/pages/audit/audit',
											})
										}

									}, 1500)
								}
							})
						}
					})
				} else {
					submitCars(param).then(res => {
						if (res.state == 1) {
							uni.showToast({
								title: '保存成功',
								mask: true,
								icon: 'success',
								duration: 1500,
								success: function() {
									setTimeout(function() {
										if (that.is_have_card == 1 && that
											.car_card == '') {
											uni.redirectTo({
												url: '/pages/audit/audit?tips=1',
											})
										} else {
											uni.redirectTo({
												url: '/pages/audit/audit',
											})
										}

									}, 1500)
								}
							})
						}
					})
				}
			}
		}
	}
</script>

<style lang="scss">
	.carinfo {
		.model_name {
			display: flex;
			align-items: center;
			padding: 30rpx;
			border-bottom: 2rpx solid #F1F1F1;
			border-top: 2rpx solid #F1F1F1;
		}

		.bg {
			width: 100%;
			height: 420rpx;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 15px;
		}

		.infobox {
			text-align: center;
			padding: 20%;
		}

		.camera {
			width: 40px;
			height: 40px;
		}
	}
</style>
