<template>
	<view class="bindingmobile">
		<uni-nav-bar :fixed='true' :statusBar='true'>
			<view slot="left"></view>
			<view slot="right"></view>
			<view class="nav_title">绑定手机号</view>
		</uni-nav-bar>
		<view class="memberinfo_cell">
			<view class="memberinfo_title display_flex">
				<picker @change="bindPickerChange" :value="index" :range="columns">
					<view class="">{{columns[index]}}</view>
				</picker>
				<uni-icons type="arrowdown" size="14"></uni-icons>
			</view>
			<input @input="changeMobile" class="inputText" type="number" maxlength="11" :value="mobile"
				placeholder="请输入手机号" />
		</view>
		<view class="memberinfo_cell">
			<view class="memberinfo_title">验证码</view>
			<input style="flex: 1;" @input="changeCode" class="inputText" type="number" maxlength="6" :value="code"
				placeholder="请输入验证码" />
			<view :class="codeing?'safe_btn_def':'safe_btn'" @click="getCode()">
				获取验证码
				<span v-if="codeing">({{second}}s)</span>
			</view>
		</view>
		<view class="btn_block" @click="phoneBinding">提交</view>

	</view>
</template>

<script>
	import {
		getCode,
		phoneBinding,
		getMemberInfo
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				inputPhone: true,
				mobile: '',
				index: 0,
				columns: ['+86', '+81', '+65'],
				second: 60,
				codeing: false,
				code: '',
				access_token: '',
				isClear:true
			};
		},
		onLoad() {
			var params = {
				event_code: '绑定手机号',
				path: 'pages/mobileinfo/mobileinfo',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		onHide() {
			if(uni.getStorageSync('member').mobile==''&&this.isClear){
				uni.clearStorage()
			}
		},
		onUnload() {
			if(uni.getStorageSync('member').mobile==''&&this.isClear){
				uni.clearStorage()
			}
		},
		methods: {
			bindPickerChange(e) {
				this.index = e.detail.value
			},
			changeMobile(e) {
				this.mobile = e.detail.value
			},
			changeCode(e) {
				this.code = e.detail.value
			},
			getCode() {
				if (!this.mobile) {
					uni.showToast({
						title: '请输入手机号',
						icon: 'none'
					})
				} else {
					if (!(/^1[3456789]\d{9}$/.test(this.mobile))) {
						uni.showToast({
							title: '请填写正确的手机号',
							icon: 'none'
						})
					} else {
						getCode({
							source: getApp().globalData.source,
							mobile: this.mobile
						}).then(res => {
							if (res.state == 1) {
								let code = res.data
							} else {

							}
						})
						this.codeing = true
						let second = 60;
						const timer = setInterval(() => {
							second--;
							if (second) {
								this.second = second
							} else {
								clearInterval(timer);
								this.second = 60
								this.codeing = false
							}
						}, 1000);
					}
				}
			},
			phoneBinding() {
				if (!this.mobile) {
					uni.showToast({
						title: '请输入手机号',
						icon: 'none'
					})
					return false
				} else if (!this.code) {
					uni.showToast({
						title: '请输入验证码',
						icon: 'none'
					})
					return false
				} else if (!(/^1[3456789]\d{9}$/.test(this.mobile))) {
					uni.showToast({
						title: '请填写正确的手机号',
						icon: 'none'
					})
					return false
				} else if (this.code.length != 6) {
					uni.showToast({
						title: '请输入正确的验证码',
						icon: 'none'
					})
					return false
				}
				phoneBinding({
					source: getApp().globalData.source,
					mobile: this.mobile,
					code: this.code
				}).then(res => {
					if (res.state == 1) {
						this.isClear=false
						var that=this
						uni.setStorage({
							key: 'access_token',
							data: res.data
								.access_token,
							success: function() {
								that.getMemberInfo()
							}
						});
						uni.showToast({
							title: '绑定成功',
							icon: 'success'
						})
					} else {
						uni.showToast({
							title: res.error[0],
							icon: 'none'
						})
					}
				})
			},
			getMemberInfo(type) {
				var that = this
				getMemberInfo({
					source: app.globalData.source,
					media_id: 1
				}).then(res => {
					if (res.state == 1) {
						
						uni.setStorage({
							key: 'member',
							data: res.data,
							success() {
								setTimeout(function(){
									app.getEquipment()
									uni.navigateBack({
										delta: 1
									})
								},1000)
							}
						});
					} else {

					}
				})
			},
			goBack() {
				uni.navigateBack({
					delta: 1
				})
			}
		}
	}
</script>

<style lang="scss">
	.bindingmobile {
		.uni-navbar__header-btns-left {
			width: 120rpx !important;
		}

		.nav_title {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			font-size: 28rpx;
			color: #333;
		}

		.memberinfo_cell {
			height: 140rpx;
			display: flex;
			align-items: center;
			padding: 0 30rpx;
			border-bottom: 2rpx solid #EAEAEA;
		
			.memberinfo_title {
				width: 120rpx;
				font-size: 26rpx;
			}
		
			.safe_btn_def {
				color: #999999;
				background-color: #D8D8D8;
				font-size: 24rpx;
				padding: 10rpx 24rpx;
				border-radius: 5rpx;
			}
		
			.safe_btn {
				color: #fff;
				background-color: #605C6B;
				font-size: 24rpx;
				padding: 10rpx 24rpx;
				border-radius: 5rpx;
			}
		
			.inputText {
				font-size: 24rpx;
				margin-left: 20rpx;
			}
		}
		
		.approve-box {
			margin-top: 15%;
		
			.approve {
				width: 36px;
				height: 50px;
				margin-bottom: 30px;
			}
		}
		
		.gift_box {
			display: flex;
			margin: 0 15px;
			padding: 10px 15px;
			align-items: center;
			background-color: #fff;
			border-bottom: 0.5px solid rgba(0, 0, 0, .1);
		
			.gift_title {
				flex: 1;
			}
		
			.getBtn {
				float: right;
				color: #fff;
				font-size: 12px;
				padding: 5px 15px;
				border-color: #605C6B;
				background-color: #605C6B;
			}
		}
		
		.iknowBtn {
			color: #fff;
			font-size: 12px;
			text-align: center;
			padding: 12px 25px;
			margin: 50rpx 30%;
			border-color: #605C6B;
			background-color: #605C6B;
		}
	}
</style>
