<template>
	<view class="models">
		<view v-for="(item,index) in list" :key="item.id"
			:class="mid==item.id?'model_cell model_cell_active':'model_cell'"
			@click="chooseModel(item.id,item.title,index)">{{item.title}}
			<uni-icons type="arrowright" size="14" class="f-r"></uni-icons>
		</view>
		<view class="addmodels text-c" @click="showPop=true">没有我的车型，填写我的车型</view>
		<block v-if="showPop">
			<view class="mask_box" @click="showPop=false"></view>
			<view class="showPop_box">
				<view class="showPop_text">
					<view class="showPop_title mb-15">
						我的车型
					</view>
					<view class="mb-10">
						<input @input="changeModel" class="inputText" type="text" :value="model" placeholder="车型" />
					</view>
				</view>
				<view class="showPop_btn" @click="goCarList()">确认提交</view>
			</view>
		</block>
	</view>
</template>

<script>
	import {
		selectModel
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				showPop: false,
				list: [],
				model: '',
				type: 1,
				mid: 0,
			};
		},
		onLoad(options) {
			this.car_id = options.id
			this.car_name = options.carname
			this.car_generation_id = options.gid
			this.ever = options.ever
			this.is_have_card = options.is_have_card
			this.type = options.type
			this.selectModels()
			var params = {
				event_code: '车主认证-选择车型',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/models/models',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: 9,
				source_page: ''
			}
			app.BurialPoint(params)
		},
		methods: {
			selectModels() {
				selectModel({
					car_id: this.car_id,
					region: this.type,
					car_generation_id:this.car_generation_id
				}).then(res => {
					if (res.state == 1) {
						this.list = res.data

					} else {

					}
				})
			},
			chooseModel(id, title, index) {
				this.mid = id
				wx.navigateTo({
					url: '/pages/carinfo/carinfo?car_id=' + this.car_id + '&gid=' + this
						.car_generation_id + '&model_id=' + id + '&model_name=' + this.car_name + ' ' + title +
						'&type=' + this.type + '&ever=' + this.ever + '&is_have_card=' + this
						.is_have_card,
				})
			},
			goCarList() {
				if (this.model == '') {
					uni.showToast({
						title: '请填写车型',
						mask: true,
						icon: 'none',
						duration: 1500
					})
				} else {
					var model_name = this.car_name + ' ' + this.model
					this.showPop = false
					uni.navigateTo({
						url: '/pages/carinfo/carinfo?model_name=' + model_name + '&type=' + this.type +
							'&car_id=' + this.car_id +
							'&car_name=' + this.car_name +
							'&car_model_name=' + this.model + '&ever=' + this.ever + '&is_have_card=' +
							this.is_have_card,
					})
				}
			},
			changeModel(e) {
				this.model = e.detail.value
			},
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F1F1F1;
	}

	.models {
		.model_cell {
			padding: 30rpx;
			border-bottom: 1px solid #D9D9D9;
			background-color: transparent;
			text-align: center;
			background: #fff;
		}

		.model_cell_active {
			background-color: #D8D8D8;
		}
	}
</style>
